<div class="choose_measurement hide" js-pdp-measurement-method-options js-popup-modal data-popup-modal="choose-measurement">
  <div class="main_wrapper">
    
    <div class="cross-icon modal-link cross-icon-button" js-popup-close-btn="" data-modal="choose-measurement">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M3 3L21 21" stroke="black" stroke-width="1.2" stroke-linecap="round"></path>
          <path d="M21 3L3 21" stroke="black" stroke-width="1.2" stroke-linecap="round"></path>
        </svg>
      </div>
    
    <h2 class="choose_measurement-title">choose measurement</h2>
    <div class="wrapper">
      <div class="inner" js-pdp-measurement-option-custom-online js-pdp-custom-measurement-option data-option-name="custom-measurement">
        <div class="inner_wrapper">
          <div class="content">
            <h3 class="content_title">give a measurement online</h3>
            <span class="content_description">Provide your measurements now.</span>
          </div>
          <div class="icon">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_679_27348)">
              <circle cx="32" cy="32" r="20" fill="#E5FCEC"/>
              <path d="M28.67 25.94C38.705 25.94 46.84 21.8121 46.84 16.72C46.84 11.6279 38.705 7.5 28.67 7.5C18.635 7.5 10.5 11.6279 10.5 16.72C10.5 21.8121 18.635 25.94 28.67 25.94Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M28.6719 21.92C34.3328 21.92 38.9219 19.5919 38.9219 16.72C38.9219 13.8481 34.3328 11.52 28.6719 11.52C23.011 11.52 18.4219 13.8481 18.4219 16.72C18.4219 19.5919 23.011 21.92 28.6719 21.92Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.5 16.72V30.27C10.5 35.36 19.35 39.38 26.02 38.45" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M45.9284 19.62C42.5184 27.8 28.8384 36.55 15.1484 45.95L27.3984 56.37C27.3984 56.37 35.1884 51.56 49.0884 35.38C59.8584 22.85 47.1484 10.45 36.8684 8.47998" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M24.5586 21.3301L25.3386 12.8601C25.3386 12.8601 30.6486 17.9101 38.6386 15.5601" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M22.3789 41.03C22.3789 41.03 27.8289 39.9 30.8489 43.05C33.4589 45.77 33.5189 49.99 33.0389 51.92" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M25.6419 50.31C27.1441 50.31 28.3619 49.2937 28.3619 48.04C28.3619 46.7863 27.1441 45.77 25.6419 45.77C24.1397 45.77 22.9219 46.7863 22.9219 48.04C22.9219 49.2937 24.1397 50.31 25.6419 50.31Z" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M28.6602 15C28.6602 15 31.9302 16.92 31.4502 21.73" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M37.8516 36.1899L43.2816 41.7899" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M42.1914 33.9299L46.4014 38.3099" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M45.4102 31.02L49.8402 34.16" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M47.6016 27.47L52.5916 28.67" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.1484 37.36V32.26" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.0195 38.4899V33.3899" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.4414 35.12L13.4514 26.97" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_679_27348">
              <rect width="43.69" height="49.87" fill="white" transform="translate(10 7)"/>
              </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
      <div class="inner" js-pdp-measurement-option-after-order js-pdp-custom-measurement-option data-option-name="complete-measurement">
        <div class="inner_wrapper">
          <div class="content">
            <h3 class="content_title">Give a Measurement after order placement</h3>
            <span class="content_description"
              >After placing the Order, you will get an Option to provide measurements at the My Order page.</span
            >
          </div>
          <div class="icon">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_679_27358)">
              <circle cx="32" cy="32" r="20" fill="#E5FCEC"/>
              <path d="M28.67 25.94C38.705 25.94 46.84 21.8121 46.84 16.72C46.84 11.6279 38.705 7.5 28.67 7.5C18.635 7.5 10.5 11.6279 10.5 16.72C10.5 21.8121 18.635 25.94 28.67 25.94Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M28.6719 21.92C34.3328 21.92 38.9219 19.5919 38.9219 16.72C38.9219 13.8481 34.3328 11.52 28.6719 11.52C23.011 11.52 18.4219 13.8481 18.4219 16.72C18.4219 19.5919 23.011 21.92 28.6719 21.92Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.5 16.72V30.27C10.5 35.36 19.35 39.38 26.02 38.45" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M45.9284 19.62C42.5184 27.8 28.8384 36.55 15.1484 45.95L27.3984 56.37C27.3984 56.37 35.1884 51.56 49.0884 35.38C59.8584 22.85 47.1484 10.45 36.8684 8.47998" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M24.5586 21.3301L25.3386 12.8601C25.3386 12.8601 30.6486 17.9101 38.6386 15.5601" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M22.3789 41.03C22.3789 41.03 27.8289 39.9 30.8489 43.05C33.4589 45.77 33.5189 49.99 33.0389 51.92" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M25.6419 50.31C27.1441 50.31 28.3619 49.2937 28.3619 48.04C28.3619 46.7863 27.1441 45.77 25.6419 45.77C24.1397 45.77 22.9219 46.7863 22.9219 48.04C22.9219 49.2937 24.1397 50.31 25.6419 50.31Z" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M28.6602 15C28.6602 15 31.9302 16.92 31.4502 21.73" stroke="#172926" stroke-miterlimit="10"/>
              <path d="M37.8516 36.1899L43.2816 41.7899" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M42.1914 33.9299L46.4014 38.3099" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M45.4102 31.02L49.8402 34.16" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M47.6016 27.47L52.5916 28.67" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.1484 37.36V32.26" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.0195 38.4899V33.3899" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.4414 35.12L13.4514 26.97" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_679_27358">
              <rect width="43.69" height="49.87" fill="white" transform="translate(10 7)"/>
              </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
      <div class="inner" js-pdp-measurement-option-phone js-pdp-custom-measurement-option data-option-name="whatsapp-measurement">
        <div class="inner_wrapper">
          <div class="content">
            <h3 class="content_title">Measurement Via WhatsApp / Request a Callback</h3>
            <span class="content_description"
              >After placing the Order, you will get a callback from our customer representative he will help you to
              take measurements on call or via WhatsApp.</span
            >
          </div>
          <div class="icon">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="32" cy="32" r="20" fill="#E5FCEC"/>
              <g clip-path="url(#clip0_679_27371)">
              <path d="M36.9775 35.4C37.4337 35.0249 37.4671 34.3382 37.0495 33.9205L35.0272 31.8983C34.6481 31.5192 34.0375 31.5065 33.643 31.8695L32.2189 33.1799C31.4189 33.9199 30.1789 33.8799 29.4189 33.0899L25.3189 28.8099C24.5889 28.0499 24.5789 26.8499 25.2889 26.0699L26.7455 24.496C27.1104 24.1017 27.0985 23.4896 26.7187 23.1097L25.006 21.397C24.6155 21.0065 23.9823 21.0065 23.5918 21.397L22.0089 22.9799C19.6689 25.3199 19.6689 29.1199 22.0089 31.4699L27.0689 36.5299C29.2489 38.7099 32.7389 38.8799 35.1289 36.9199L36.9775 35.4Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M25.9083 13.4326C21.9108 13.9071 18.3277 15.7308 15.62 18.4299C12.45 21.5899 10.5 25.9699 10.5 30.7999V56.5416C10.5 57.4596 11.6334 57.8925 12.2454 57.2082L20.06 48.4699C20.84 47.5999 22.05 47.2899 23.17 47.6199C24.7 48.0599 26.32 48.2899 27.99 48.2899C32.82 48.2899 37.19 46.3299 40.36 43.1699C43.1685 40.3703 45.0194 36.613 45.405 32.4337" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M41.3812 29.2C48.202 29.2 53.7312 23.6707 53.7312 16.85C53.7312 10.0293 48.202 4.5 41.3812 4.5C34.5605 4.5 29.0312 10.0293 29.0312 16.85C29.0312 23.6707 34.5605 29.2 41.3812 29.2Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M35.3781 18.15C36.0961 18.15 36.6781 17.568 36.6781 16.85C36.6781 16.1321 36.0961 15.55 35.3781 15.55C34.6602 15.55 34.0781 16.1321 34.0781 16.85C34.0781 17.568 34.6602 18.15 35.3781 18.15Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M41.55 18.15C42.268 18.15 42.85 17.568 42.85 16.85C42.85 16.1321 42.268 15.55 41.55 15.55C40.832 15.55 40.25 16.1321 40.25 16.85C40.25 17.568 40.832 18.15 41.55 18.15Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M47.7219 18.15C48.4398 18.15 49.0219 17.568 49.0219 16.85C49.0219 16.1321 48.4398 15.55 47.7219 15.55C47.0039 15.55 46.4219 16.1321 46.4219 16.85C46.4219 17.568 47.0039 18.15 47.7219 18.15Z" stroke="#172926" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_679_27371">
              <rect width="44.23" height="55.66" fill="white" transform="translate(10 4)"/>
              </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
