<li class="colletion-verticle-banner grid__item">
  {%- if banner_url != blank -%}<a href="{{ banner_url }}" aria-label="Promotion banner">{%- endif -%} 
    <picture>
      <source srcset="{%- render 'imagekit' image: banner_image, width: 180 %}" media="(max-width: 380px)" />
      <source srcset="{%- render 'imagekit' image: banner_image, width: 250 %}" media="(max-width: 500px)" />
      <source srcset="{%- render 'imagekit' image: banner_image, width: 360 %}" media="(max-width: 749px)" />
      <img src="{%- render 'imagekit' image: banner_image, width: 400 %}" alt="Promotion banner" loading="lazy" width="280" height="507" />
    </picture>    
  {%- if banner_url != blank -%}</a>{%- endif -%} 
</li>