<div class="complete_measurement hide" js-pdp-custom-measurement-complete-modal  js-popup-modal data-popup-modal="complete-measurement">
  <div class="main_wrapper">
    <div class="wrapper">
      <div class="inner">
        <input hidden js-custom-measurement-radio-field type="radio" value="true" name="items[0][properties][Measure After Order]" class="radio_input">
        <div class="inner_wrapper">
          <div class="icon">
           <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_679_24455)">
              <circle cx="32" cy="32" r="20" fill="#E5FCEC"/>
              <path d="M28.67 25.94C38.705 25.94 46.84 21.8121 46.84 16.72C46.84 11.6279 38.705 7.5 28.67 7.5C18.635 7.5 10.5 11.6279 10.5 16.72C10.5 21.8121 18.635 25.94 28.67 25.94Z" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M28.6719 21.92C34.3328 21.92 38.9219 19.5919 38.9219 16.72C38.9219 13.8481 34.3328 11.52 28.6719 11.52C23.011 11.52 18.4219 13.8481 18.4219 16.72C18.4219 19.5919 23.011 21.92 28.6719 21.92Z" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.5 16.7202V30.2702C10.5 35.3602 19.35 39.3802 26.02 38.4502" stroke="#223330" stroke-miterlimit="10"/>
              <path d="M45.9284 19.62C42.5184 27.8 28.8384 36.55 15.1484 45.95L27.3984 56.37C27.3984 56.37 35.1884 51.56 49.0884 35.38C59.8584 22.85 47.1484 10.45 36.8684 8.47998" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M24.5586 21.3299L25.3386 12.8599C25.3386 12.8599 30.6486 17.9099 38.6386 15.5599" stroke="#223330" stroke-miterlimit="10"/>
              <path d="M22.3789 41.0302C22.3789 41.0302 27.8289 39.9002 30.8489 43.0502C33.4589 45.7702 33.5189 49.9902 33.0389 51.9202" stroke="#223330" stroke-miterlimit="10"/>
              <path d="M25.6419 50.31C27.1441 50.31 28.3619 49.2937 28.3619 48.04C28.3619 46.7863 27.1441 45.77 25.6419 45.77C24.1397 45.77 22.9219 46.7863 22.9219 48.04C22.9219 49.2937 24.1397 50.31 25.6419 50.31Z" stroke="#223330" stroke-miterlimit="10"/>
              <path d="M28.6602 15C28.6602 15 31.9302 16.92 31.4502 21.73" stroke="#223330" stroke-miterlimit="10"/>
              <path d="M37.8516 36.1899L43.2816 41.7899" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M42.1914 33.9302L46.4014 38.3102" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M45.4102 31.02L49.8402 34.16" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M47.6016 27.4702L52.5916 28.6702" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.1484 37.3598V32.2598" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M23.0195 38.4901V33.3901" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.4414 35.1202L13.4514 26.9702" stroke="#223330" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_679_24455">
              <rect width="43.69" height="49.87" fill="white" transform="translate(10 7)"/>
              </clipPath>
              </defs>
              </svg>
          </div>
          <div class="content">
            <h3 class="content_title">thank you</h3>
            <span class="content_description"
              >Our repersentative will contact you for your measruments after placing an order</span
            >
          </div>
          <button type="button" class="btn" js-popup-close-btn data-modal="complete-measurement">
            <span href="" class="btn_text" >done</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> 
