{{ 'custom-bridal-card.css' |  asset_url |  stylesheet_tag }}
<div class="custom-bridal-card">
    <div class="page-width">
       <div class="wrapper">
        <div class="content">
            <div class="content-flexer flex">
              <div class="custom-bridal-card-flexer">
                {%- assign current_variant = product.selected_or_first_available_variant -%}
                <a href="https://api.whatsapp.com/send?phone=919920012474&text=Hello I want to Enquire about '{{ product.title }}' {% if current_variant.sku %}({{ current_variant.sku }}){% endif %} product (BridalLead)" target="_blank" class="whatsapp-button style-button flex">
                    <div class="whatsapp-svg">
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5 0.40625C5.43063 0.40625 0.5 5.33688 0.5 11.4062C0.5 13.3571 1.03502 15.1777 1.9273 16.767L0.517748 21.799C0.495229 21.8795 0.494211 21.9645 0.514797 22.0456C0.535382 22.1266 0.576852 22.2009 0.63507 22.2609C0.693288 22.3209 0.766221 22.3646 0.846597 22.3876C0.926973 22.4107 1.01198 22.4122 1.09315 22.3922L6.33999 21.0919C7.88175 21.915 9.63121 22.4062 11.5 22.4062C17.5693 22.4062 22.4999 17.4755 22.4999 11.4062C22.4999 5.33688 17.5693 0.40625 11.5 0.40625ZM11.5 1.36277C17.0523 1.36277 21.5434 5.85384 21.5434 11.4062C21.5434 16.9586 17.0523 21.4497 11.5 21.4497C9.71989 21.4497 8.05273 20.9856 6.60341 20.1746C6.49741 20.1154 6.37285 20.0987 6.25499 20.1279L1.66015 21.2666L2.89223 16.8707C2.90986 16.8086 2.91473 16.7435 2.90654 16.6795C2.89835 16.6154 2.87728 16.5537 2.84459 16.498C1.9638 15.0044 1.45652 13.2667 1.45652 11.4062C1.45652 5.85384 5.94759 1.36277 11.5 1.36277ZM7.50295 5.6671C7.19636 5.6671 6.75852 5.78116 6.39884 6.16871C6.1828 6.40149 5.28259 7.2786 5.28259 8.82062C5.28259 10.4283 6.3976 11.8155 6.53242 11.9938H6.53335V11.9947C6.52056 11.9779 6.70447 12.2442 6.94996 12.5636C7.19545 12.8829 7.53873 13.3023 7.97 13.7564C8.83252 14.6645 10.0452 15.7141 11.5504 16.356C12.2436 16.6512 12.7904 16.8294 13.2047 16.9594C13.9725 17.2005 14.6718 17.1639 15.1971 17.0865C15.5903 17.0286 16.0228 16.8398 16.4507 16.569C16.8786 16.2982 17.2979 15.9615 17.4829 15.4499C17.6154 15.0832 17.6827 14.7443 17.7071 14.4654C17.7192 14.3259 17.7208 14.2029 17.7117 14.0889C17.7027 13.975 17.7123 13.8877 17.6062 13.7134C17.3835 13.3478 17.1313 13.3383 16.8682 13.2081C16.722 13.1357 16.3058 12.9325 15.8884 12.7336C15.4714 12.5349 15.1103 12.3589 14.8879 12.2796C14.7475 12.2291 14.5759 12.1563 14.3284 12.1843C14.0809 12.2123 13.8365 12.3909 13.6942 12.6019C13.5593 12.8018 13.0162 13.4428 12.8507 13.6312C12.8485 13.6299 12.8628 13.6365 12.7974 13.6041C12.5927 13.5028 12.3423 13.4166 11.9717 13.2212C11.6011 13.0257 11.1376 12.737 10.6303 12.2899V12.2889C9.87533 11.6243 9.34649 10.7898 9.17966 10.5095C9.1909 10.4961 9.17832 10.5123 9.20208 10.4889L9.20301 10.488C9.37352 10.32 9.52463 10.1195 9.65231 9.97237C9.83335 9.76381 9.91325 9.57995 9.9998 9.40817C10.1723 9.06582 10.0762 8.6891 9.97644 8.49088V8.48995C9.98334 8.50366 9.92246 8.36934 9.85688 8.21439C9.79111 8.059 9.70728 7.85755 9.61775 7.64272C9.43868 7.21307 9.23876 6.73119 9.11987 6.44894V6.44801C8.97982 6.11556 8.79033 5.87606 8.5426 5.76051C8.29487 5.64497 8.076 5.67781 8.06714 5.67738H8.06621C7.88942 5.66922 7.69543 5.6671 7.50295 5.6671ZM7.50295 6.62362C7.68734 6.62362 7.86912 6.62587 8.02137 6.63296C8.178 6.64077 8.16826 6.64141 8.13814 6.62736C8.10753 6.61308 8.14905 6.60845 8.23808 6.81978C8.3545 7.09614 8.5554 7.57978 8.73503 8.01076C8.82484 8.22625 8.90889 8.42848 8.97602 8.5871C9.04315 8.74571 9.07953 8.83427 9.12174 8.9187V8.91964L9.12268 8.92057C9.16407 9.00223 9.16041 8.94995 9.14603 8.97849C9.0451 9.17879 9.03141 9.22798 8.92932 9.34559C8.77387 9.52466 8.61532 9.72437 8.53139 9.80703C8.45796 9.87916 8.32548 9.99154 8.24275 10.2115C8.1599 10.4318 8.19857 10.7341 8.33149 10.9597C8.50846 11.2602 9.09164 12.2094 9.99793 13.0073C10.5687 13.5104 11.1004 13.8434 11.5252 14.0675C11.95 14.2915 12.2959 14.4224 12.3733 14.4607C12.5572 14.5517 12.7581 14.6223 12.9917 14.5943C13.2253 14.5662 13.4268 14.4245 13.555 14.2795L13.5559 14.2786C13.7266 14.0851 14.2336 13.5061 14.4769 13.1492C14.4872 13.1529 14.4839 13.1501 14.5647 13.1791V13.1801H14.5657C14.6026 13.1932 15.065 13.4002 15.4774 13.5967C15.8897 13.7931 16.3082 13.9974 16.4442 14.0647C16.6404 14.1618 16.7331 14.225 16.7571 14.2253C16.7587 14.2674 16.7603 14.313 16.7543 14.3823C16.7375 14.5743 16.6862 14.8402 16.5833 15.1249C16.533 15.2642 16.2706 15.5516 15.9397 15.761C15.6089 15.9704 15.2062 16.1183 15.057 16.1402C14.6086 16.2063 14.0762 16.2304 13.4915 16.0468C13.086 15.9196 12.5805 15.7548 11.9259 15.4761C10.5984 14.9099 9.47003 13.9465 8.66403 13.0979C8.26103 12.6736 7.93816 12.2786 7.70845 11.9797C7.47917 11.6815 7.37905 11.5263 7.29558 11.4165L7.29464 11.4156C7.14646 11.2196 6.23911 9.95749 6.23911 8.82062C6.23911 7.61744 6.79795 7.14561 7.10035 6.81978C7.2591 6.64873 7.43266 6.62362 7.50295 6.62362Z" fill="#fff"/>
                      </svg>
                    </div>
                   <button type="button" class="button-text">order by whatsapp</button>
                </a>
                <div class="bridal-cart-button">
                    {%- render 'bridal-buy-button', 
                    block: block, product: product, 
                    product_form_id: product_form_id, 
                    section_id: section.id, 
                    show_pickup_availability: true -%}
                </div>
              </div>
              <div class="visitors_counter visitors_counter_mobile"></div>
            </div>
            <a class="video-btn flex" href="https://us02web.zoom.us/s/81686108882#success" target="_blank">
                <div class="video-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <rect x="1.5" y="5.40625" width="15" height="14" rx="3" stroke="#223330" stroke-linejoin="round"/>
                        <path d="M16.5 10.9866C16.5 10.6277 16.6923 10.2964 17.0039 10.1183L23.5 6.40625V18.4062L17.0528 15.1826C16.714 15.0133 16.5 14.667 16.5 14.2882V10.9866Z" stroke="#223330" stroke-linejoin="round"/>
                    </svg>
                </div>
                <button type="button" class="button-text">video call our stylist</button>
            </a>
        </div>
        <p>Our fashion stylists are now available to help you on a click via chat or via video calls.</p>
       </div> 
    </div>
</div>