
{% if message != blank %}
<h3 class="Shipping_orders order_msg">{{ message }}</h3>
{% endif %}

{% if message_additional != blank %}
<h3 class="Shipping_orders additional_message" style="display:none">{{ message_additional }}</h3>
{% endif %}
