<div class="media-popup-container hide" js-media-popup-container js-media-popup-modal>
    <div class="media-popup-overlay " js-media-popup-overlay></div>
    <div class="media-main-content-wrapper">
        <div class="media__content">
            <video class="hide" width="320" height="240" autoplay loop muted src=""></video>
            <img src="" class="hide" alt="KALkI Popup Image" />
        </div>
    </div>
</div>