{% assign has_available_similar = false %}

{% if product.metafields.custom.similar_color_products.value %}
  {% for similar_product in product.metafields.custom.similar_color_products.value %}
    {% if similar_product.available %}
      {% assign has_available_similar = true %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if has_available_similar or product.metafields.custom.color_image != blank or product.metafields.custom.color_name != blank %}
  <div class="similar_color_products">
    <div class="text_media">
      <span class="color_text">More Colors</span>
    </div>
    {% if has_available_similar %}
      <div class="text_with_image color-options">
        {% for similar_product in product.metafields.custom.similar_color_products.value %}
          {% if similar_product.available %}
            <a href="{{ similar_product.url }}" class="ancor {% if product.handle == similar_product.handle %}active{% endif %}">
              <div class="image">
                {% assign featured_image = similar_product.featured_image | image_url %}
                <img src="{%- render 'gumlet', src: featured_image w: 100 %}" alt="{{ similar_product.title }}" width="" height="">
              </div>
              <div class="text">
                {% if similar_product.metafields.custom.color_name.value %}
                  {{ product.metafields.custom.color_name.value }}
                {% else %}
                  {{ similar_product.metafields.custom.filter_color.value }}
                {% endif %}
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
