{% if product.metafields.custom.more_from_collection_button != blank or product.metafields.custom.more_from_category_button != blank or product.metafields.custom.more_from_same_color_button != blank %}
  <div class="bridal-links flex">
    {% if product.metafields.custom.more_from_collection_button != blank %}
      <a href="{{ product.metafields.custom.more_from_collection_button.value.url }}" class="collection-button flex">
        <span class="collction-text">More from Collection</span>
        <div class="right-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6 14L12 8L6 2" stroke="#0F3D99" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
      </a>
    {% endif %}
    {% if product.metafields.custom.more_from_category_button != blank %}
      <a href="{{ product.metafields.custom.more_from_category_button.value.url }}" class=" collection-button more-button flex">
        <span class="collction-text">More from category</span>
        <div class="right-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6 14L12 8L6 2" stroke="#0F3D99" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
      </a>
    {% endif %}
    {% if product.metafields.custom.more_from_same_color_button != blank %}
      <a href="{{ product.metafields.custom.more_from_same_color_button.value.url }}" class=" collection-button more-button flex">
        <span class="collction-text">More from Same Color</span>
        <div class="right-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6 14L12 8L6 2" stroke="#0F3D99" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
      </a>
    {% endif %}
  </div>
{% endif %}