{% if product.metafields.custom.petticoat_option  %}
    <div class="Add-Petticoat_wrap" js-upsell-product>
        {% render 'upsell-product-input', product_: product.metafields.custom.petticoat_option.value, has_image: true, snippet_name: "petticoat"  %}
    </div>
{% endif %}