<div class="dammy_icon" aria-hidden="true" data-tooltip="{{  tooltip_text }}">
    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8.20573 5.38021H6.78906V3.96354H8.20573M8.20573 11.0469H6.78906V6.79688H8.20573M7.4974 0.421875C6.5672 0.421875 5.64611 0.605091 4.78672 0.961062C3.92733 1.31703 3.14647 1.83879 2.48872 2.49654C1.16034 3.82492 0.414063 5.62659 0.414062 7.50521C0.414063 9.38383 1.16034 11.1855 2.48872 12.5139C3.14647 13.1716 3.92733 13.6934 4.78672 14.0494C5.64611 14.4053 6.5672 14.5885 7.4974 14.5885C9.37601 14.5885 11.1777 13.8423 12.5061 12.5139C13.8345 11.1855 14.5807 9.38383 14.5807 7.50521C14.5807 6.57501 14.3975 5.65392 14.0415 4.79453C13.6856 3.93514 13.1638 3.15428 12.5061 2.49654C11.8483 1.83879 11.0675 1.31703 10.2081 0.961062C9.34868 0.605091 8.42759 0.421875 7.4974 0.421875Z"
        fill="#CC8F67" />
    </svg>
  </div>