<div class="media-popup-content hide" js-media-popup-container js-media-popup-modal>
    <div class="media-popup-overlay " js-media-popup-overlay></div>
    <div class="media-popup-container" >
        <div class="media-main-content-wrapper">
            <div class="media__content">
                <video class="hide" width="320" height="240" autoplay loop muted src=""></video>
            </div>
        </div>
        <div class="close-icon" js-close-btn>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgba(0, 0, 0, 0.3)">
                <path d="M3 3L21 21" stroke="black" stroke-width="1.2" stroke-linecap="round"/>
                <path d="M21 3L3 21" stroke="black" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>
</div>