<script type="text/template" id="wizzy-search-results-product" wizzy-override>
  <li class="grid__item wizzy-result-product wizzy-product-[[id]] [[#groupId]]has-variations wizzy-group-product-[[groupId]][[/groupId]]" title="[[& name ]]" data-id="[[id]]" data-groupId="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]">
    <link
      href="//in.kalkifashion.com/cdn/shop/t/52/assets/component-rating.css?v=157771854592137137841742965131"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <link
      href="//in.kalkifashion.com/cdn/shop/t/52/assets/component-volume-pricing.css?v=56284703641257077881742965135"
      rel="stylesheet"
      type="text/css"
      media="all"
    >
    <div class="card-wrapper product-card-wrapper underline-links-hover">
      <div
        class="
                  card card--standard
          card--media
        "
        style="--ratio-percent: 140.52478134110785%;"
      >
        <div class="card_wishlist_new">
          <div
            style="display: block;"
            class="gw-add-to-wishlist-product-card-placeholder"
            data-gw-variant-id="[[id]]"
            data-gw-product-id="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
          ></div>
        </div>
        <div class="card__inner color-scheme-2 gradient ratio" style="--ratio-percent: 140.52478134110785%;">
          <div class="card__media" wk-id="ILgH01b8pZbm4V7l1eXNy">
            <div class="media media--transparent media--hover-effect">
              <img
                srcset="
                  [[mainImage]]?v=1742809603&amp;width=610 610w,[[mainImage]]?v=1742809603&amp;width=1066 1066w,[[mainImage]]?v=1742809603 1715w
                "
                src="[[mainImage]]?v=1742809603&amp;width=610"
                sizes="(min-width: 1000px) 217px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="[[name]]"
                class="motion-reduce"
                loading="lazy"
                width="1715"
                height="2410"
              >

              <img
                srcset="
                  [[hoverImage]]?v=1742809603&amp;width=610 610w,[[hoverImage]]?v=1742809603&amp;width=1066 1066w,[[hoverImage]]?v=1742809603 1715w
                "
                src="[[hoverImage]]?v=1742809603&amp;width=610"
                sizes="(min-width: 1000px) 217px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="[[name]]"
                class="motion-reduce"
                loading="lazy"
                width="1715"
                height="1715"
              >
            </div>
            <span   class="custom-Shop-now">Shop Now</span>
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading h5" id="title-template--24268086411627__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]">
              <a
                href=[[&url]]
                id="CardLink-template--24268086411627__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                class="full-unstyled-link"
                aria-labelledby="CardLink-template--24268086411627__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]] Badge-template--24268086411627__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                wk-skip=""

              >
                [[name]] </a
              ><wishlist-button-collection
                data-product-handle=[[productHandle]]
                show-icon=""
                icon="wishlist"
                align-self="center"
                align-content="center"
                floating="{&quot;reference&quot;:&quot;[wk-id=\&quot;ILgH01b8pZbm4V7l1eXNy\&quot;]&quot;,&quot;position&quot;:{&quot;placement&quot;:&quot;top-end&quot;,&quot;inset&quot;:true}}"
                wk-loaded=""
              >

                <wk-button
                  class="wk-floating"
                  style="position: absolute; top: 0px; right: 0px; transition: none;"
                >

                  <button
                    type="button"
                    aria-label="Add to Wishlist"
                    class="wk-button wk-align-center wk-align-content-center"
                  >

                    <wk-icon class="wk-icon" icon="wishlist">

                      <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9381 1.06392C13.0745 1.53293 10.9864 4.79519 10.9864 6.84843C10.9864 4.79519 9.29609 1.59547 6.01486 1.06392C3.30038 0.626169 0.625677 2.83575 1.04329 6.29604C1.76914 12.289 8.9978 15.8327 10.9864 17C12.9751 15.8327 19.9949 12.1535 20.9296 6.29604C21.4466 3.06505 19.0503 0.563634 15.9381 1.06392Z" stroke="white" stroke-width="1.2"></path>
                      </svg>

                   </wk-icon>

                  </button>
                </wk-button>
              </wishlist-button-collection>
            </h3>
            <div class="card-information">
              <span class="caption-large light"></span>
              <div
                class="
                     price

                  price--on-sale


                  Product_price_main_new
                "
                data-shop-currency="₹"
              >
                <div class="price__container">
                  <div class="price__regular">
                    <span class="visually-hidden visually-hidden--inline">Regular price</span>
                    <span class="price-item price-item--regular" data-pdp-product-price=[[sellingPrice]]>
                      <span class="price-mrp">MRP</span>  ₹[[sellingPrice]]
                    </span>
                  </div>
                  <div class="price__sale">
                    <span class="visually-hidden visually-hidden--inline">Sale price</span>
                    <span class="price-item price-item--sale price-item--last" data-pdp-product-price=[[sellingPrice]]>
                      [[^price]]MRP[[/price]] ₹[[sellingPrice]]
                    </span>
                    [[#price]]
                    <span class="visually-hidden visually-hidden--inline">Regular price</span>
                    <span>
                      <s class="price-item price-item--regular"> MRP ₹[[price]] </s> </span
                    >
                    [[/price]]
                    [[#discountPercentage]]
                    <span class="Product_price_save_new">[[discountPercentage]]% OFF</span>
                    [[/discountPercentage]]
                  </div>
                  <small class="unit-price caption hidden">
                    <span class="visually-hidden">Unit price</span>
                    <span class="price-item price-item--last">
                      <span></span>
                      <span aria-hidden="true">/</span>
                      <span class="visually-hidden">&nbsp;per&nbsp;</span>
                      <span> </span>
                    </span>
                  </small>
                </div>
              </div>

              <!-- yes or no condition -->

              <!-- shipping day -->
              [[#hasLabel]]
              <div class="plp-delivery-message">
                <span class="cs_delivery_wrapper-label  delivery-ready-to-ship">
                  <span class="cs_delivery_wrapper-icon">
                    [[#deliveryMeta]]
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_4277_4778)">
                      <path d="M9.88115 4.99993H6.50065C6.50065 4.99993 7.97237 0.120502 8.00049 0L7.50049 0.000155598L1.92344 6.6411C1.80471 6.79106 1.91719 6.99993 2.12027 6.99993H5.50076C5.50076 6.99993 3.98928 11.8617 4.00049 12H4.50049L10.078 5.36143C10.1936 5.2088 10.0842 4.99993 9.88115 4.99993Z" fill="#223330"></path>
                      </g>
                      <defs>
                      <clipPath id="clip0_4277_4778">
                          <rect width="12" height="12" fill="white"></rect>
                      </clipPath>
                      </defs>
                    </svg>
                    [[/deliveryMeta]]
                    [[#deliverydayMeta]]
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
                      <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"></path>
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"></path>
                    </svg>
                    [[/deliverydayMeta]]
                  </span>
                  <span class="cs_delivery_wrapper-text"> [[#deliveryMeta]][[deliveryMeta]][[/deliveryMeta]]
  [[#deliverydayMeta]] [[deliverydayMeta]][[/deliverydayMeta]]</span>
                </span>
                [[#festivalMeta]]
                <div class="card_badge_festival_stamp">
                    [[festivalMeta]]
                </div>
                [[/festivalMeta]]
              </div>
              [[/hasLabel]]
            </div>
          </div>
        </div>
        <a
          href=[[&url]]
          class="full-unstyled-link only-for-desktop"

        >
        </a>
      </div>
    </div>
  </li>
</script>
