{%- if section.settings.main_heading_text != blank -%}
  <div class="Page_our_stores_template_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      <div class="Page_our_stores_template_inner_new">
        {%- if section.settings.main_heading_text != blank -%}
          <div class="Common_title_new Page_our_stores_template_title_new">
            <h1>{{ section.settings.main_heading_text }}</h1>
          </div>
        {%- endif -%}
        <div class="Page_our_stores_template_breadcrumb_new">
          {% render 'Breadcrumb-navigation-new' %}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Page Our Stores Template",
    "class": "Page_our_stores_template_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Our Stores"
      }
    ]
  }
{% endschema %}