<h1 style="display:none;">{{ page.title }}</h1>
<style>
  .Header_announcement_bar_new{ display:none; }
  .section-header{ display:none; }
  #ssw-fave-side-button-wrapper{ display:none; }
  .Footer_new{ display:none; }
  .Index_newsletter_form_new{ display:none; }
</style>
{% schema %}
  {
    "name": "Page Events Template",
    "class": "Page_Events_template_new",
    "settings": [
      
    ]
  }
{% endschema %}