{%- if section.settings.main_mp4_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
  <div class="Page_collection_detail_template_main_new Page_weaves_top_banner_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      <div class="Page_collection_detail_template_inner_new">
        <div class="Page_collection_detail_template_banner_new">
          <div class="Page_collection_detail_template_banner_videoimageboth_new">
            {%- if section.settings.main_mp4_video != blank -%}
              <div class="Page_collection_detail_template_banner_videoimage_new">
                {{ section.settings.main_mp4_video | video_tag: image_size: 'master', controls: false, autoplay: true, loop: true }}
              </div>
            {% else %}  
              {%- if section.settings.main_desktop_image != blank and section.settings.main_mobile_image != blank -%}
                <div class="Page_collection_detail_template_banner_videoimage_new">
                  {%- if section.settings.main_desktop_image != blank -%}
                    {{
                      section.settings.main_desktop_image | 
                      image_url: width: img.width | 
                      image_tag: widths: '900, 1080, 1296, 1512, 1728, 1944, 2048', 
                      fetchpriority: 'auto', 
                      class:'desktop_image_new'
                    }}
                  {%- endif -%}
                  {%- if section.settings.main_mobile_image != blank -%}
                    {{
                      section.settings.main_mobile_image | 
                      image_url: width: img.width | 
                      image_tag: widths: '900, 1080, 1296, 1512, 1728, 1944, 2048', 
                      fetchpriority: 'auto', 
                      class:'mobile_image_new'
                    }}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>  
      </div>
    </div>
  </div>
{%- endif -%}   

{% schema %}
  {
    "name": "Page Weaves Top Banner",
    "class": "Page_weaves_top_banner_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "video",
        "id": "main_mp4_video",
        "label": "Add Main MP4 Video"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image",
        "label": "Add Main Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image",
        "label": "Add Main Mobile Image"
      }
    ],
    "presets": [
      {
        "name": "Page Weaves Top Banner"
      }
    ]
  }
{% endschema %}