{{ 'raja-kumari-photo-note.css' | asset_url | stylesheet_tag }}
<div class="photonote-section">
  <div class="photonote-title-section-box">
    COUTURE
    <img src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/Design-center-sp24-06-25.png?v=1750745131" width="" height="" alt="" class="big-star">
    MUSIC
  </div>

<div class="raja-kumari-photonote">
    <div class="left-section"><img src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/raja-kumari-photo.png?v=1750755063" width="" height="" alt=""></div>
    <div class="right-section">
        <img src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/testi-bg-1.png?v=1750753524" width="" height="" alt="" >
      <div class="right-sec-mid-content-box">
        <h2>KALKI  x  RAJA KUMARI</h2>
        <p>
          The KALKI x Raja Kumari was born from a shared mission to reimagine couture as a space where all bodies belong. She brought her global desi aesthetic, her stage-ready attitude, and her voice for representation. Together, this artistry fused Indian craftsmanship with high-fashion defiance to declare: every body is a couture body
        </p>
        
      </div>
        <img src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/testi-bg-3.png?v=1750753523" width="" height="" alt="">
    </div>
</div>

  <div class="photonote-title-section-box">
    <img class="small-star" src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/star-small.png?v=1750756250" width="" height="" alt="">
  </div>
</div>

{% schema %}
  {
    "name": "Raja Kumari Photo Note",
    "settings": [],
    "presets": [
    {
      "name": "Raja Kumari Photo Note"
    }
  ]
  }
{% endschema %}