
 {{ 'raja-kumari-photo-section.css' | asset_url | stylesheet_tag }}

 <div class="photo-section">
  <div class="photo-title-section-box">
    <img class="small-star" src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/star-small.png?v=1750756250" width="" height="" alt="">
    <div class="text-div">HARMONIOUS BLEND OF<br>
TIMELESS & MODERN COLOR PALATTES</div>
    <img class="small-star" src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/star-small.png?v=1750756250" width="" height="" alt="">
  </div>
   <div class="photo-sub-title-section-box">
     isnt just a fashion collab - it’s a
cultural reset. It’s about taking up<br>
space, owning your narrative,and looking powerful while doing it

   </div>
   <img  src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/photo-section-img.png?v=1750758919" width="" height="" alt="" class="photo-section-main-img" >
</div>

{% schema %}
  {
    "name": "photo section",
    "settings": [],

  "presets": [
    {
      "name": "photo section"
    }
  ]
  }
{% endschema %}