
 {{ 'raja-kumari-photocollage.css' | asset_url | stylesheet_tag }}
 <div class="photo-collage-section">
    <div class="photo-title-section-box">
    <img class="small-star" src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/star-small.png?v=1750756250" width="" height="" alt="">
    <div class="text-div">Moments with the Queen</div>
    <img class="small-star" src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/star-small.png?v=1750756250" width="" height="" alt="">
  </div>
   <div class="photo-sub-title-section-box">
     TREND-LED. COUTURE-CRAFTED. QUEEN-ENERGY. Elevated fashion in rich hues that crown your curves and command attention.
   </div>
   <img src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/Design-center-sp24-06-25.png?v=1750745131" width="" height="" alt="" class="big-star">
<img src="https://cdn.shopify.com/s/files/1/0636/0134/4666/files/rajakumari-collage-new.png?v=1751628534" width="" height="" alt="" class="collage-img">
  
   
 </div>


{% schema %}
  {
    "name": "raja-kumari photocollage",
    "settings": [],
    "presets": [
    {
      "name": "raja-kumari photocollage"
    }
  ]
  }
{% endschema %}