.app-link-modal {
    position: fixed;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
}
.app-link-modal .modal__dialog {
    position: absolute;
    width: 500px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    max-width: 95%;
    max-height: 90vh;
    overflow: auto;
}
.app-link-modal #closeModal {
    background: none;
    outline: none;
    box-shadow: none;
    border: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
}
.app-link-modal #closeModal svg {
    width: 20px;
    height: 20px;
}
.app-link-modal .modal__title {
    margin: 0;
    text-align: center;
    font-size: 18px;
}
.app-link-modal .app-modal__content {
    text-align: center;
}
.app-link-modal .app-modal__content a {
    color: #000;
    font-family: var(--font-heading-family);
    font-weight: 900;
}
.app-link-modal .app-modal__content a img,
.app-link-modal .app-modal__content .app_image {
  display: block;
  margin: 10px auto 0;
  width: auto;
  height: auto;
  max-width: 100%;
}
.app-link-modal .app-modal__content .app_image { 
  margin: 0 auto 15px;
}