.breadcrumbs {
  margin: 0 0 2em;
}
.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item:not(:last-child):after {
  content: '/';
  display: inline-block;
  margin: 0 .20em;
  position: relative;
  vertical-align: middle;
}
.breadcrumbs__link {
  text-decoration: underline;
}
.breadcrumbs__link[aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
.breadcrumbs__link[aria-current="page"]:hover,
.breadcrumbs__link[aria-current="page"]:focus {
  text-decoration: underline;
}
.Product_breadcrumb_main_new .breadcrumbs {
  padding: 30px 0 0 0;
}
.Product_breadcrumb_main_new ol li:last-child {
  overflow: hidden;
}
.template-page .Product_breadcrumb_main_new .breadcrumbs {
  padding-top: 16px;
}
.breadcrumbs {
  margin: 0 !important;
  padding: 18px 0 0 0;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs ol li {
  position: relative;
  padding-right: 24px;
  display: flex;
  letter-spacing: 0.14px;
}
.breadcrumbs__item a {
  font-size: 15px;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none !important;
  display: inline-block;
  color: #000;
}
.breadcrumbs__item p {
  line-height: 1;
}
.breadcrumbs__link {
  font-size: 15px;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none !important;
  display: inline-block;
  color: #000;
}
.breadcrumbs__item:not(:last-child):after {
  position: absolute !important;
  right: 8px;
  margin: 0 !important;
  height: 20px;
  top: 0;
  display: block !important;
  line-height: 20px;
  color: #b2adad;
}
.breadcrumbs__link[aria-current="page"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #0f0d1a;
}
.Page_template_breadcrumb_new .breadcrumbs {
  padding-top: 16px;
}
.Product_breadcrumb_main_new .breadcrumbs__list {
    flex-wrap: nowrap;
}
@media(min-width:750px) and (max-width:990px){
  .Product_breadcrumb_main_new .breadcrumbs .breadcrumbs__link{ 
    font-size:14px; 
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .List_collections_template_breadcrumb_new {
    display: none;
  }
  .breadcrumbs__link {
    font-size: 12px;
  }
  .breadcrumbs__item a {
    font-size: 12px;
  }
  .breadcrumbs__item:not(:last-child):after {
    right: 7px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    right: 4px;
  }
  .breadcrumbs ol li {
    padding-right: 15px;
  }
  .Product_breadcrumb_main_new .breadcrumbs {
      padding: 20px 0 0;
  }
}
@media only screen and (max-width: 990px) {
  .breadcrumbs__item {
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}