.main-cart-drawer .drawer__inner {
    width: 422px;
    border: none;
    background-color: #fff;
    padding: 0;
}
.cart-drawer .drawer__header {
    padding: 80px 16px 20px;
    border-bottom: 1px solid #f0f0f2;
}
.cart-drawer .drawer__header-content {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    color: #0F0D1A;
    text-transform: capitalize;
}
.cart-drawer .drawer__header-content .drawer__item-count {
    font-size: 16px;
}
.cart-drawer .drawer__header-content .drawer__title {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    padding-right: 8px;
}
.cart-drawer .drawer__close {
    position: unset;
    min-width: 22px;
    max-width: 22px;
    min-height: 22px;
    position: absolute;
    right: 16px;
    top: 16px;
}
.cart-drawer .drawer__close svg {
    width: 100%;
    height: 100%;
    display: block;
}
.cart-drawer .progress-bar {
    text-align: center;
    padding: 15px 30px 8px;
}
.cart-drawer .progress-meter-bar {
    background-color:#DEDEDE;
    height: 8px;
}
.cart-drawer .progress-label {
    font-size: 15px;
    font-family: var(--font-body-family);
    font-weight: 400;
    text-transform: unset;
    letter-spacing: 0;
    margin-bottom: 12px;
}
.cart-drawer .progress-label strong {
    font-weight: 600;
    color: #494756;
}
.main-cart-drawer .cart-drawer .cart-item {
    display: flex;
    gap: 0;
    padding: 16px;
    border-top: 1px solid #f0f0f2;
    position: relative;
}
.main-cart-drawer .cart-drawer .cart-item:first-child {
    border-top: 0;
}
.main-cart-drawer.is-empty cart-drawer-items {
    display: none;
}
.cart-drawer .caption-with-letter-spacing,
.cart-drawer .product-option {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #31313180;
    margin-bottom: 8px;
}
.cart-drawer .drawer__footer .promo,
.cart-drawer .drawer__footer .discount,
.cart-drawer .drawer__footer .grand-total {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-cart-drawer .cart-drawer .cart-item__media {
    max-width: 60px;
    flex: 60px;
    height: 84px;
}
.cart-drawer .shipping-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}
.cart-drawer .shipping-text .icon {
    max-width: 24px;
    flex: 24px;
    height: 22px;
    min-width: 22px;
    margin-right: 6px;
}
.cart-drawer .shipping-text .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}
.cart-drawer .cart-item-details-wrap .cart-item__details .cart-item__details {
    margin-bottom: 10px;
}
.cart-drawer .cart-item__name {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    flex: 1;
    text-wrap: balance;
}
.main-cart-drawer .cart-drawer .cart-item__name:hover {
    text-decoration: unset;
    text-underline-offset: unset;
}
.main-cart-drawer .cart-drawer .cart-items td {
    padding-top: 0;
}
.main-cart-drawer .cart-drawer .cart-item__totals {
    justify-content: flex-start;
    margin-bottom: 8px;
}
.cart-drawer .product-option:empty {
    margin: 0;
}
.main-cart-drawer .cart-item__totals .price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0;
    color: #000;
}
.main-cart-drawer .cart-item__totals .price .price-mrp {
    color: #000;
}
.main-cart-drawer .cart-item__quantity-wrapper {
    justify-content: space-between;
}
.main-cart-drawer .cart-drawer .cart-items .cart-item__quantity {
    padding-left: 0;
}
.main-cart-drawer .quantity-popover-container {
    max-width: 10rem;
}
.cart-drawer .drawer__footer {
    padding: 16px;
    border: none;
    border-top: 1px solid #f0f0f2;
    box-shadow: none;
}
.cart-drawer cart-remove-button {
    margin-top: 0;
}
.cart-drawer cart-remove-button .button {
    min-width: 100%;
    min-height: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    background-color: transparent;
    color: inherit;
}
.cart-drawer quantity-popover .quantity {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    min-height: 30px;
}
.cart-drawer .cart-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.cart-drawer .wishlist-icon {
    max-width: 22px;
    min-width: 22px;
    flex: 22px;
    height: 18px;
    margin-left: 10px;
    cursor: pointer;
    position: unset;
    display: flex;
    font-size: 20px;
}
.cart-drawer .ssw-fave-icon {
    color: #0f0d1a;
}
.main-cart-drawer .cart-drawer .cart-item .loading__spinner {
    right: unset;
    padding-top: 0;
    left: 0;
}
.cart-drawer .quantity__button {
    width: 26px;
    padding: 0 8px;
}
.main-cart-drawer .cart-drawer .item_detail .text {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
}
.main-cart-drawer .cart-drawer .item_detail .price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0;
}
.main-cart-drawer .cart-drawer .item_detail .grand-total .text, .main-cart-drawer .cart-drawer .item_detail .grand-total .price {
    font-size: 18px;
}
.main-cart-drawer .cart-drawer .tax-note {
    text-align: center;
    margin: 0;
    font-size: 18px;
    margin: 13px 0 0 0;
    line-height: 1.4;
    display: none;
    letter-spacing: 0;
}
.main-cart-drawer .cart-drawer .cart-item-details-wrap {
    padding-left: 14px;
    padding-right: 25px;
    flex: 1;
}
.main-cart-drawer .cart-drawer .item_detail .total-text,
.main-cart-drawer .cart-drawer .item_detail .total-price {
   font-weight: 500;
  color: #000;
}
.main-cart-drawer .cart-drawer__footer .item_detail {
    margin: 0;
}
.main-cart-drawer .cart-drawer .promo,
.main-cart-drawer .cart-drawer .totals,
.main-cart-drawer .cart-drawer .discount,
.main-cart-drawer .cart-drawer .grand-total {
    margin: 0 0 5px;
}
.main-cart-drawer .cart__checkout-button {
    background-color: #223330;
    border: 2px solid #223330;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 15px 10px;
    margin-top: 10px;
    letter-spacing: 0.56px;
}
.main-cart-drawer .cart__checkout-button:hover {
    color: #223330;
    background-color: transparent;
}
.main-cart-drawer .cart__checkout-button:hover path {
    fill: #223330;
}
.main-cart-drawer.is-empty .cart-drawer .btn-text::after,
.main-cart-drawer .cart__checkout-button::after {
   box-shadow: unset;
   border: none;
}
.main-cart-drawer wishlist-button-collection {
    position: absolute;
    right: 0;
    top: 0;
}
.main-cart-drawer .drawer__footer .icon {
    max-width: 11px;
    flex: 11px;
    height: 14px;
    margin-right: 8px;
    display: none;
}
.main-cart-drawer .drawer__footer .promo-price {
    max-width: 14px;
    flex: 14px;
    height: 14px;
    display: flex;
}
.main-cart-drawer .cart-item cart-remove-button {
    position: absolute;
    right: 13px;
    top: 43px;
    width: 22px;
    border-top: 1px solid #D9D9D9;
    padding-top: 14px;
}
.main-cart-drawer svg {
   width: 100%;
   height: 100%;
   display: block;
}
.main-cart-drawer .cart-drawer .cart-item__image {
    height: 100% !important;
    width: 100%;
    display: block;
    object-fit: cover;
}
.main-cart-drawer.is-empty .cart-drawer .drawer__inner {
    display: flex;
}
.main-cart-drawer.is-empty .drawer__inner .drawer__header {
    display: flex;
    width: 100%;
}
.main-cart-drawer.is-empty .cart-drawer .progress-bar {
    width: 100%;
    display: none;
}
.main-cart-drawer.is-empty .drawer__inner .drawer__footer {
    display: block;
    width: 100%;
}
.main-cart-drawer quantity-popover {
    position: static;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.cart-drawer .button:hover::after {
    box-shadow: unset !important;
    border: unset;
}
.cart-drawer .drawer__inner-empty {
    width: 100%;
    padding: 0 30px 20px;
    overflow-y: auto;
}
.cart-drawer .drawer__inner-empty .cart-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cart-drawer .drawer__inner-empty .cart-drawer__warnings {
    justify-content: flex-start;
}
.cart-drawer .drawer__inner-empty .content_wrap {
    margin-bottom: 25px;
}
.cart-drawer .drawer__inner-empty .cart__empty-text {
    font-size: 20px;
    line-height: 1.2;
    margin: 20px 0 15px;
    text-transform: capitalize;
    font-weight: 500;
}
.cart-drawer .btn-text {
    display: none;
}
.cart-drawer .drawer__inner-empty .content_wrap .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    letter-spacing: 0;
}
.cart-drawer .drawer__inner-empty .menu-item {
    border: 1px solid #00000026;
    margin-bottom: 10px;
}
.cart-drawer .menu-link {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    min-height: 84px;
}
.cart-drawer .menu-link .img-wrap {
    max-width: 49px;
    flex: 49px;
    height: 60px;
}
.cart-drawer .menu-link img {
    width: 100%;
    height: 100% !important;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
}
.cart-drawer .drawer__inner-empty .menu-item:last-child {
    margin-bottom: 0;
}
.cart-drawer .drawer__inner-empty .menu-item .menu-title {
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
    flex: 1;
    text-align: center;
}
.main-cart-drawer.is-empty .cart-drawer .tax-note {
    display: block;
}
.main-cart-drawer.is-empty .cart__checkout-button,
.main-cart-drawer.is-empty .cart-drawer__footer .item_detail {
    display: none;
}
.Header_drawer_mobile_bottom_cart_new{ display:none; }
.main-cart-drawer.is-empty .cart-drawer .Header_drawer_mobile_bottom_cart_new {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-color: #223330;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    position: static;
    padding: 0;
    border: 0;
}
.cart-drawer .progress-meter {
    display: block;
    height: 100%;
    background-color: #008000;
}
.cart-drawer .quantity:after {
    border: 1px solid #DEDEDE;
    box-shadow: unset;
    width: 100%;
    height: 100%;
}
/* .cart-drawer .cart-item__error {
    display: none;
} */
.cart-drawer .cart-item__price-wrapper {
    width: 100%;
    display: flex;
}
.cart-drawer .cart-item__old-price {
    opacity: 1;
    color: #777777;
}
.cart-drawer .saving-percentage {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 3px;
    font-size: 11px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: .28px;
    color: #cc2936;
}
.main-cart-drawer .cart-item__totals .price.cart-item__old-price {
    color: #8e8d99;
    font-size: 14px;
}
.cart-drawer #CartDrawer-CartErrors {
    display: none;
}
.main-cart-drawer .discount-price {
    color: #D75156;
}
.main-cart-drawer .cart-drawer .promo {
    display: none;
}
.cart-drawer .cart-item__quantity-wrapper .quantity__input {
    z-index: unset;
}
.cart-drawer .discounts {
    margin-bottom: 6px;
}

.Header_drawer_mobile_bottom_cart_new{ margin-top:0 !important; width:100%; }
.Header_drawer_mobile_bottom_cart_new .button {
    min-width: 100%;
    padding: 16px;
    font-size: 18px;
    line-height: 26px;
    border-radius: 200px;
}
.cart-drawer cart-drawer-items {
    padding-top: 0;
}
.cart-drawer .cart-drawer-payment-icons img {
    margin: 0;
}
.cart-drawer .cart-drawer-payment-icons span {
    text-align: left;
}

@media screen and (max-width: 767px) {
    .cart-drawer {
        width: 414px;
    } 
    .main-cart-drawer .drawer__inner {
        width: 100%;
        max-width: 100%;
    }
    .cart-drawer .drawer__header {
        padding: 32px 16px 12px;
    }
    .cart-drawer .progress-bar {
        text-align: center;
        padding: 10px 16px 6px;
    }
    .main-cart-drawer .cart-drawer .drawer__cart-items-wrapper {
        padding: 0 16px 12px;
    }
    .cart-drawer .shipping-text .icon {
        max-width: 24px;
        flex: 24px;
        height: 22px;
        min-width: 22px;
        margin-right: 6px;
    }
    .main-cart-drawer .cart__checkout-button {
        margin-top: 0;
    }
    .cart-drawer .drawer__footer {
        padding: 16px;
    }
    .cart-drawer .shipping-text .text {
        font-size: 13px;
    }
    .cart-drawer .drawer__inner-empty {
        padding-inline: 16px;
    }
    .cart-drawer .drawer__header-content {
      font-size: 20px;
    }
    .main-cart-drawer .cart-drawer__footer {
      margin-bottom: 12px;
    }
    .main-cart-drawer .cart-item__quantity .quantity__button {
      width: 26px;
    }
}

.main-cart-drawer .cart-drawer-view-cart {
    width: 100%;
    color: #223330;
    background-color: transparent;
    border: 2px solid #223330;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 16px 10px 14px;
    margin-top: 16px;
    letter-spacing: 0.56px;
}
.main-cart-drawer .cart-drawer-view-cart:hover {
    color: #fff;
    background-color: #223330;
}
.main-cart-drawer .cart-drawer .view-details-btn {
    border: 0;
    background: no-repeat;
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 10px;
    color: #0f3d99;
    display: inline-flex;
    vertical-align: top;
    cursor: pointer;
    padding: 0;
}
.main-cart-drawer .cart-drawer .view-details-btn:after {
    content: "";
    width: 8px;
    height: 8px;
    border-left: 2px solid #0f3d99;
    border-bottom: 2px solid #0f3d99;
    transform: rotate(-45deg);
    margin: 3px 0 0 6px;
}
.main-cart-drawer .cart-drawer .view-details-btn.active:after {
    transform: rotate(135deg);
    margin-top: 7px;
}
.main-cart-drawer quantity-popover .product-option {
    background-color: #f7f7f7;
    padding: 5px 6px 3px;
    border-radius: 4px;
    color: #000;
    margin-bottom: 0;
    font-size: 14px;
}