.collection-blogs-title.Common_title_new {
    margin-bottom: 36px;
}
.collection-blogs-list-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}
.collection-blog-wrap {
    width: calc(25% - 15px);
}
.collection-blog-image {
  padding-bottom: 63.61323155216285%;
  position: relative
}
.collection-blog-image img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.collection-blogs-list-wrap h5 {
    margin: 20px 0 0;
    text-transform: uppercase;
}
.collection-blogs-list-wrap .blog-btn-prev, .collection-blogs-list-wrap .blog-btn-next {
    width: 40px;
    height: 40px;
    background-size: 12px;
    background-position: 60% 50%;
}
@media only screen and (max-width: 750px) {
  .collection-blog-wrap {
    width: 100%;
  }
  .collection-blogs-list-wrap {
    gap: 40px;
  }
}