.Collection_object_lists_main_new {
  margin: 50px 0;
}
.Collection_object_lists_title_new {
  text-align: left;
}
.Collection_object_lists_innerloop_new {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
}
.Collection_object_lists_innerloop_innerboxs_new a {
  color: #262433;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  border-radius: 110px;
  background: #f0f0f2;
  text-align: center;
  display: inline-block;
  padding: 8px 16px;
}
.Collection_object_lists_innerloop_innerboxs_new a:hover {
  color: rgba(102, 37, 5);
}
.collection_full_width_new .Collection_object_lists_new .page-width {
  max-width: 100%;
}
.Collection_object_lists_mainloop_new {
  display: none;
  padding: 20px;
  border: 1px solid #e1e1e5;
}
.colletion-tab-slider .swiper-slide {
  cursor: pointer;
  padding: 13px 16px;
  transition: 0.3s;
  font-size: 14px;
  background-color: #f9f9fa;
  border: 1px solid #e1e1e5;
  border-bottom: 0 solid #e1e1e5;
  position: relative;
  color: #756f6f;
  width: 100%;
  text-align: center;
  line-height: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colletion-tab-slider .swiper-slide.active-tab {
  background-color: #fff;
  color: #000;
}
.shopby-btn-next,
.shopby-btn-prev {
  background-color: transparent !important;
  height: 47px;
  margin: auto;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Collection_object_lists_main_new {
    margin: 40px 0;
  }
  .Collection_object_lists_innerloop_new {
    grid-gap: 8px;
  }
  .Collection_object_lists_innerloop_innerboxs_new a {
    padding: 10px 20px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Collection_object_lists_main_new {
    margin: 40px 0;
  }
  .Collection_object_lists_innerloop_new {
    grid-gap: 8px;
  }
  .Collection_object_lists_innerloop_innerboxs_new a {
    padding: 10px 20px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Collection_object_lists_main_new {
    margin: 40px 0;
  }
  .Collection_object_lists_innerloop_new {
    grid-gap: 8px;
  }
  .Collection_object_lists_innerloop_innerboxs_new a {
    font-size: 14px;
    line-height: 150%;
    padding: 8px 24px;
  }
}