.Collection_meta_columns_main_new {
  margin: 20px 0 48px;
}
.Collection_meta_columns_loops_mainbox_new {
  width: 33%;
  position: relative;
}
.Collection_meta_columns_loops_mainbox_new a {
  text-decoration: none;
}
.Collection_meta_columns_loops_innerbox_1_new {
  width: 100%;
  padding-bottom: 85.9%;
  position: relative;
}
.Collection_meta_columns_loops_1_boxs_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  object-position: top;
}
.Collection_meta_columns_loops_1_boxs_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  object-position: top;
}
.Collection_meta_columns_loops_innerbox_2_new {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 28px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.Collection_meta_columns_loops_innerbox_2_titletextsboth_new {
  color: #fff;
  text-align: center;
  font-family: var(--font-noto-serif-display);
  font-size: 22px;
  font-weight: 500;
  line-height: 135.758%;
  letter-spacing: 0.22px;
  text-transform: capitalize;
}
.Collection_columns_main_new .Collection_meta_columns_loops_innerbox_1_new {
  padding-bottom: 0;
}
.Collection_columns_main_new .Collection_meta_columns_loops_1_boxs_videoimage_new img {
  position: relative;
}
.Collection_columns_main_new .Collection_meta_columns_loops_innerbox_new:after {
  display: none;
}
.collection_full_width_new .Collection_meta_columns_new .page-width {
  max-width: 100%;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Collection_meta_columns_loops_mainbox_new {
    width: 33.33%;
  }
  .Collection_meta_columns_loops_innerbox_new:after {
    height: 100px;
  }
  .Collection_meta_columns_loops_innerbox_2_new {
    padding: 15px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Collection_meta_columns_loops_mainbox_new {
    width: 33.33%;
  }
  .Collection_meta_columns_loops_innerbox_new:after {
    height: 60px;
  }
  .Collection_meta_columns_loops_innerbox_2_new {
    padding: 15px;
  }
  .Collection_meta_columns_loops_innerbox_2_titletextsboth_new {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Collection_meta_columns_main_new {
    margin: 12px 0 30px;
  }
  .Collection_meta_columns_loops_mainbox_new {
    width: 33.33%;
  }
  .highlighted-banners-mobile-image .Collection_meta_columns_loops_mainbox_new {
    width: calc(33.33% - 10px);
  }
  .Collection_meta_columns_loops_innerbox_1_new {
    padding-bottom: 162.5%;
  }
  .Collection_meta_columns_loops_innerbox_new:after {
    height: 60px;
  }
  .Collection_meta_columns_loops_innerbox_2_new {
    padding: 10px 10px;
  }
  .Collection_meta_columns_loops_innerbox_2_titletextsboth_new {
    font-size: 13px;
    line-height: 120%;
  }
}