.Collection_object_faqs_main_new {
  margin: 50px 0;
}
.Collection_object_faqs_detail_new {
  display: flex;
  grid-gap: 20px;
}
.Collection_object_faqs_detail_mainleft_new {
  width: calc(55.283% - 10px);
}
.Collection_object_faqs_detail_innerleft_new {
  border-radius: 6px;
  border: 1px solid #e1e1e5;
  padding: 24px 24px 9px 24px;
  height: 100%;
}
.Collection_object_faqs_detail_innerleft_title_new {
  margin-bottom: 15px;
}
.Collection_object_faqs_detail_innerleft_title_new h2,
.Collection_object_faqs_detail_innerright_title_new h2 {
  color: #0f0d1a;
  line-height: 133.333%;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 17px;
}
.Collection_object_faqs_detail_innerright_title_new h2 {
  text-align: left;
  color: #3f3d4d;
}
.Collection_object_faqs_main_new .Common_faqs_accordion_new .accordion > ul {
  border: none;
}
.Collection_object_faqs_main_new
  .Common_faqs_accordion_new
  .accordion
  > ul
  > li {
  border: none;
}
.Collection_object_faqs_main_new
  .Common_faqs_accordion_new
  .accordion
  > ul
  li
  .question
  h2 {
  padding: 15px 30px 15px 0;
  color: #262433;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" data-google-analytics-opt-out=""><path d="M7.49999 2L7.5 15" stroke="%230F0D1A" stroke-width="1.2" stroke-linecap="round"/><path d="M14 8.49999L1 8.5" stroke="%230F0D1A" stroke-width="1.2" stroke-linecap="round"/></svg>');
  background-size: 16px;
}
.Collection_object_faqs_main_new
  .Common_faqs_accordion_new
  .accordion
  > ul
  li.open
  .question
  h2 {
  background-position: right;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" data-google-analytics-opt-out=""><path d="M14 8.49999L1 8.5" stroke="%230F0D1A" stroke-width="1.2" stroke-linecap="round"/></svg>');
}
.Collection_object_faqs_main_new
  .Common_faqs_accordion_new
  .accordion
  > ul
  li
  .answer {
  padding-bottom: 15px;
}
.Collection_object_faqs_detail_mainright_new {
  border-radius: 6px;
  border: 1px solid #e1e1e5;
  padding: 24px;
  width: calc(44.717% - 10px);
  height: auto;
}
.Collection_object_faqs_detail_innerright_title_new {
  margin-bottom: 24px;
}
.Collection_object_faqs_detail_innerright_innerloop_titleboth_new {
  display: flex;
  align-items: center;
}
.Collection_object_faqs_detail_innerright_innerloop_title_1_new {
  width: calc(100% - 80px);
  padding-right: 80px;
}
.Collection_object_faqs_detail_innerright_innerloop_title_1_new h3 {
  margin: 0;
  color: #3f3d4d;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
}
.Collection_object_faqs_detail_innerright_innerloop_title_2_new {
  width: 80px;
}
.Collection_object_faqs_detail_innerright_innerloop_title_2_new h3 {
  margin: 0;
  color: #3f3d4d;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
}
.Collection_object_faqs_detail_innerright_innerloop_allloop_new {
  padding-top: 18px;
}
.Collection_object_faqs_detail_innerright_innerloop_allloop_boxs_new {
  display: flex;
  padding-bottom: 12px;
}
.Collection_object_faqs_detail_innerright_innerloop_allloop_boxs_new:last-child {
  padding-bottom: 0;
}
.Collection_object_faqs_detail_innerright_innerloop_allloop_boxs_title_new {
  width: calc(100% - 80px);
  padding-right: 40px;
}
.Collection_object_faqs_detail_innerright_innerloop_allloop_boxs_title_new a {
  color: #3f3d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.16px;
  text-decoration: none;
  display: block;
}
.Collection_object_faqs_detail_innerright_innerloop_allloop_boxs_title_new
  a:hover {
  color: #662505;
}
.Collection_object_faqs_detail_innerright_innerloop_allloop_boxs_price_new {
  color: #3f3d4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  width: 80px;
}
.Collection_object_faqs_detail_innerright_updatedate_new {
  color: #747380;
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  padding: 10px 0 0 0;
  border-top: 1px solid #c5c4cc;
  margin-top: 12px;
}
.Collection_object_faqs_detail_100_new {
  width: 100%;
}

@media (min-width: 990px) and (max-width: 1424px) {
  .Collection_object_faqs_main_new {
    margin: 40px 0;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Collection_object_faqs_main_new {
    margin: 40px 0;
  }
  .Collection_object_faqs_detail_new {
    flex-direction: column;
  }
  .Collection_object_faqs_detail_mainleft_new {
    width: 100%;
  }
  .Collection_object_faqs_detail_mainright_new {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Collection_object_faqs_main_new {
    margin: 30px 0;
  }
  .Collection_object_faqs_detail_new {
    flex-direction: column;
  }
  .Collection_object_faqs_detail_mainleft_new {
    width: 100%;
  }
  .Collection_object_faqs_detail_innerleft_new {
    padding: 16px 16px 0 16px;
  }
  .Collection_object_faqs_detail_innerleft_title_new h2 {
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .Collection_object_faqs_main_new
    .Common_faqs_accordion_new
    .accordion
    > ul
    li
    .question
    h2 {
    padding: 15px 26px 15px 0;
  }
  .Collection_object_faqs_detail_mainright_new {
    padding: 16px;
    width: 100%;
  }
  .Collection_object_faqs_detail_innerright_title_new {
    margin-bottom: 20px;
  }
  .Collection_object_faqs_detail_innerright_title_new h2 {
    font-size: 20px;
  }
  .Collection_object_faqs_detail_innerright_mainloop_new {
    padding-top: 0;
  }
  .Collection_object_faqs_detail_innerright_innerloop_allloop_new {
    padding-top: 20px;
  }
  .Collection_object_faqs_detail_innerright_innerloop_title_1_new {
    padding-right: 40px;
  }
  .Collection_object_faqs_detail_innerright_updatedate_new {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .Collection_object_faqs_detail_innerleft_new .Common_title_new,
  .Collection_object_faqs_detail_innerleft_new .Common_title_new h2 {
    margin-bottom: 0;
  }
}