.collection_luxe_banners_main_new .page-width {
  max-width: 100%;
}
.collection_luxe_banners_inner_new {
  text-align: center;
  padding: 15px 0;
}
.collection_luxe_banners_innerboxs_icons_new {
  max-width: 18%;
  margin: auto;
}
.collection_luxe_banners_innerboxs_icons_new img {
  width: 100%;
  display: flex;
}
.collection_luxe_banners_innerboxs_infos_new {
  color: #000;
  font-size: 26px;
  text-align: center;
  word-spacing: 3px;
  padding-top: 20px;
  line-height: 140%;
}
.collection_luxe_banners_innerboxs_infos_new p:last-child {
  margin: 0;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .collection_luxe_banners_innerboxs_infos_new {
    font-size: 22px;
    line-height: 160%;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .collection_luxe_banners_innerboxs_icons_new {
    max-width: 170px;
  }
  .collection_luxe_banners_innerboxs_infos_new {
    font-size: 19px;
    padding-top: 15px;
    line-height: 150%;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .collection_luxe_banners_innerboxs_icons_new {
    max-width: 170px;
  }
  .collection_luxe_banners_innerboxs_infos_new {
    font-size: 15px;
    padding-top: 15px;
    line-height: 150%;
  }
}