.card_title_text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 8px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  color: #000;
  outline: 1px solid #fff;
}
.shop-the-look-button {
  padding: 8px 10px;
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 1.1rem;
  width: fit-content;
  margin: 5px auto;
}
.leftside-Big-img-box {
  display: flex;
  padding-left: 0%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.four-img-container,
.four-img-box {
  width: 49%;
  margin-bottom: 2%;
}
.Big-left-img-box {
  width: 100%;
  margin-bottom: 2%;
}

@media (min-width: 768px) {
  .leftside-Big-img-box {
    display: block;
    padding-left: 1.5%;
  }
  .Big-left-img-box {
    width: 49%;
    float: left;
    margin-right: 2%;
    margin-bottom: 0%;
  }
  .four-img-container {
    width: 23.5%;
    height: max-content;
    float: left;
    margin-right: 2%;
    margin-bottom: 2.8%;
  }
  .four-img-container2,
  .four-img-container3 {
    margin-right: 0%;
  }
  .four-img-box {
    width: 23.5%;
    height: max-content;
    float: left;
    margin-right: 2%;
    margin-bottom: 2.8%;
  }
  .four-img-boxnew4 {
    margin-right: 0%;
  }
  .card_title_text {
    font-size: 2rem;
  }
  .shop-the-look-button {
    font-size: 1.4rem;
    padding: 8px 15px;
    margin: 10px auto;
  }
}