.color-swatch-wrapper fieldset.facets-wrap.parent-wrap {
  border: unset;
  padding: 0;
  margin: 0;
}

.color-swatch-wrapper .color-swatch-list {
  padding: 0;
  margin: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.color-swatch-wrapper .color-list-input {
  display: none;
}

.color-swatch-wrapper .color-list-item {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.color-swatch-wrapper .list-menu__item.facets__item {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}

.color-swatch-wrapper .facets__item label.active {
  padding: 0;
  border: 1px solid #000;
}

.active-color-swatch-item {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}