.header__icon--menu {
  position: initial;
}
.menu-drawer-container.menu-opening .header__icon--menu span {
    position: fixed;
    right: 72px;
    top: 12px;
    height: 24px;
    width: 24px;
    z-index: 9;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: fixed;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(100% - 60px);
  padding: 48px 0 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
  height: 100vh;
}

.js details.menu-opening > .menu-drawer,
.js details.menu-opening > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.no-js details.menu-opening > .menu-drawer,
.js details.menu-opening > .menu-drawer,
.js details.menu-opening > .menu-drawer,
details.menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

/* hide menus from screen readers when hidden by submenu */
.js .menu-drawer__navigation .submenu-open {
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 91px;
}

.menu-drawer__navigation {
  padding: 3rem 0;
  position: relative;
}
.menu-drawer__inner-submenu {
  /*height: calc(100% + 140px); */
  overflow-x: hidden;
  overflow-y: auto;
  background:#fff;
  max-height: calc(100vh - 140px);
}
.template--luxe-collection-new .menu-drawer__inner-submenu {
    max-height: calc(100vh - 118px);
}
.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.1rem 3rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
  height: 14px !important;
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
  height: auto;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem 1.2rem 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 0;
  background-color: rgba(var(--color-foreground), 0.03);
  position: relative;
}

.header--has-social .menu-drawer__utility-links {
  padding: 2rem 3rem;
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}

.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.1rem 1.1rem;
}
.menu-drawer__navigation .color_menu_new .color_dot_new {
  top: 0;
  left: 0;
}
.menu-drawer__navigation .color_menu_new {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.mobile-menu-banner {
    margin: 0px 16px 18px;
    background-image: url('https://cdn.shopify.com/s/files/1/0636/0134/4666/files/signup_1.jpg');
    padding: 20px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-menu-banner .mobile-menu-banner-title {
    color: #781710;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}
.mobile-menu-banner .kp-carttxtlink {
    padding: 10px 12px;
    background-color: #fff;
    border: 0;
    color: #781710;
    font-size: 14px;
    line-height: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
#Details-menu-drawer-menu-item-myaccount li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: capitalize;
    display: block;
    color: #000;
    padding: 4px 0;
}
#Details-menu-drawer-menu-item-myaccount li {
    padding: 6px 0;
}
#Details-menu-drawer-menu-item-myaccount li:first-child a {
    font-weight: bold;
}
.header__icon .wk-icon svg path {
    fill: transparent;
}
@media screen and (max-width: 749px) {
  .menu-drawer.country-selector-open {
    transform: none !important;
    filter: none !important;
    transition: none !important;
  }
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .menu-drawer summary.menu-drawer__menu-item {
      display: -webkit-box;
    }
    .menu-drawer summary.menu-drawer__menu-item > .mobile_menu_title_new, .menu-drawer summary.menu-drawer__menu-item > .mobile_menu_image_new {
      display: inline-block;
      vertical-align: middle;
    }
  }
}