.checkout-cart-index .columns {
  display: block;
}
.checkout-cart-index .page-main {
  margin: 0;
}
.cart {
  position: relative;
  display: block;
}

.cart-wrapper {
  display: flex;
}
.cart-right.main-cart-footer {
  width: 30%;
  margin-left: 64px;
  border: 1px solid rgba(225, 225, 229, 0.8);
  border-radius: 8px;
  align-self: flex-start;
}
.cart-wrapper .cart-left {
  width: 69.44%;
  position: relative;
}
.is-empty #fsb_placeholder {
  display: none;
}
.main-cart-footer.is-empty {
  padding-bottom: 100px;
}
.is-empty .cart-left {
  width: 100%;
}
.is-empty > .page-width {
  margin-bottom: 0;
}
#main-cart-footer, .is-empty .cart-right.main-cart-footer, .is-empty .continue-shopping-btn {
  display: none;
}
cart-items.is-empty {
  padding-bottom: 100px;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 768px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
  max-width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
  margin-top: 20px;
}
#highlight_text, #drawer-highlight_text {
  padding: 6px 0;
  color: #0f0d1a;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
  display: block;
}
#highlight_text a, #drawer-highlight_text a {
  text-decoration: none;
  color: #0000FF;
}
#highlight_text p, #drawer-highlight_text p {
  margin: 0;
}
.cart-payment-icons {
  text-align: center;
  padding: 16px;
  border-top: 1px solid rgba(225, 225, 229, 0.8);
  margin-top: 0;
}
.cart-payment-icons span, .cart-drawer-payment-icons span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.cart-payment-icons img, .cart-drawer-payment-icons img {
  display: block;
  width: 374px;
  max-width: 100%;
  margin: auto;
}
.mobile-payment-icons,
.cart__checkout-button-mobile{
  display: none !important;
}
.cart-drawer-payment-icons span {
  line-height: normal;
  text-align: center;
}
#main-cart-items .view-details-btn {
    border: 0;
    background: no-repeat;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 8px;
    color: #0f3d99;
    display: flex;
    vertical-align: top;
    cursor: pointer;
    padding: 0;
}
#main-cart-items .view-details-btn:after {
    content: "";
    width: 8px;
    height: 8px;
    border-left: 2px solid #0f3d99;
    border-bottom: 2px solid #0f3d99;
    transform: rotate(-45deg);
    margin: 2px 0 0 6px;
}
#main-cart-items .view-details-btn.active:after {
    transform: rotate(135deg);
    margin-top: 7px;
}
.cart-wrapper #main-cart-items .view-details-btn.hide {
    margin-top: 6px;
}
.cart__blocks-totals {
    padding: 16px;
}
.cart__blocks-totals h3 {
    margin: 0 0 20px;
}
.cart-wrapper .totals {
    margin: 8px 0;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.cart-wrapper .totals .totals__total {
    margin-top: 0;
}
.cart-wrapper .totals.discount-total,
.cart-wrapper .totals.cart-subtotal{
    padding-top: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(225, 225, 229, .8);
    margin-top: 0;
}
.cart-wrapper .totals.cart-subtotal {
    padding-top: 0;
}
.cart-wrapper .totals__total-value {
    color: #ea580c;
    font-weight: 500;
}
.cart-wrapper .totals.discount-total .totals__total-value,
.cart-wrapper .totals.discount-total .totals__total,
.cart-wrapper .totals.cart-subtotal .totals__total-value,
.cart-wrapper .totals.cart-subtotal .totals__total,
.coupon-form-wrap #discound-form-toggle {
    font-size: 14px;
    color: #000;
    font-weight: normal;
}
.cart-wrapper .tax-note {
    text-align: center;
    margin: 15px 0;
}
.discount-total-content {
    padding: 6px 10px;
    color: #0f0d1a;
    background-color: #f9ebe0;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-family: var(--font-heading-family);
    line-height: normal;
    margin: 0 -16px;
}
.discount-total-content span {
    color: #b35206;
}
.cart-login-message {
    margin: 0 -16px;
    border-top: 1px solid rgba(225, 225, 229, .8);
    border-bottom: 1px solid rgba(225, 225, 229, .8);
    padding: 16px;
}
.cart-login-message div {
    padding: 6px 10px;
    color: #0f0d1a;
    background-color: #f9ebe0;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-family: var(--font-heading-family);
    line-height: normal;
}
.cart-login-message span {
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}
.cart-wrapper .discounts {
    font-size: 14px;
    color: #000;
}
.cart-wrapper .discounts .discounts__discount {
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(225, 225, 229, .8);
    line-height: 14px;
}
.cart-wrapper .discounts .discounts__discount span:last-child,
.cart-wrapper .totals.discount-total .totals__total-value {
    color: #D75156;
}
.cart-login-message p:last-child {
    margin-bottom: 0;
}
.cart-login-message p {
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
}
.cart-wrapper:has(cart-items.is-empty) .main-cart-footer {
    display: none;
}
.cart-wrapper:has(cart-items.is-empty) .cart-left {
    width: 100%;
}
.event-btn {
    display: inline-block;
    padding: 7px 10px;
    background-color: rgba(249, 235, 224, 0.6);
    font-size: 14px;
    color: #0f3d99;
    margin-top: 8px;
    cursor: pointer;
}
.event-date-picker-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 7px;
    gap: 0 12px;
}
.event-date-picker-wrap input {
    border: 1px solid #ddd;
    height: 34px;
    padding: 0 8px;
    border-radius: 6px;
}
.cart-drawer__form .event-btn, .cart-drawer__form .event-date-picker-wrap {
    margin-top: 0;
    margin-bottom: 10px;
}
.pdp-log-strip-inner {
    margin-top: 60px;
    width: 100%;
    padding: 20px 0;
    color: #0F0D1A;
    background-color: #F9EBE0;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}
.pdp-log-strip-inner p {
    margin: 0;
}
.cart-wrapper.is-empty .pdp-log-strip-inner,
cart-items.is-empty + .pdp-log-strip-inner{
  display: none;
}
.coupon-form-wrap .coupon-accordion-header {
    cursor: pointer;
    border-bottom: 2px solid #000;
    font-weight: 500;
    font-size: 14px;
}
.cart-wrapper .totals.cart-shipping .totals__total-value {
    color: #047857;
    font-weight: bold;
}
.cart-login-message > div {
    max-height: 119px;
    overflow: auto;
}
.af_popup_trigger .af_popup_loading {
    display: none;
}
.cart-payment-icons #af_kd_discount_container0 {
    width: auto;
    border-bottom: 1px solid rgba(225, 225, 229, .8);
    margin: 0 -16px 10px;
    max-width: none;
    padding: 0 16px;
}
.cart-payment-icons .cdThemeSetupV3 .af_opens_popup {
    margin: 10px 0 0;
    font-size: 14px;
    text-decoration: underline;
    line-height: normal;
}
.cart-payment-icons .cdThemeSetupV3 .af_kd_title, .af_discount_response {
    font-size: 14px;
    line-height: normal;
    margin: 0 0 10px;
}
.cart-payment-icons div.af_tag .af_coupon_wrapper {
    margin: 0;
    line-height: normal;
    font-weight: normal;
}
.cart-payment-icons .af_tagged_discounts .af_tag .af_coupon_text {
    font-size: 14px;
    font-weight: normal;
    margin: 0 8px;
}
.cart-payment-icons .af_tag:hover:not(.shipping_coupon) .af_coupon_text.af_coupon_code {
    display: block;
    visibility: visible;
    top: 0;
}
.cart-payment-icons .af_tagged_discounts .af_tag .af_coupon_text.af_discount_amt {
    display: none !important;
}
div.af_tag span.af_coupon_wrapper svg {
    display: block;
}
#af_kd_discount_container0 #af_kd_custom_apply_coupon_trigger:not(.af_kd_df_apply_coupon_btn) {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
  .cart-wrapper .title--primary {
    display: none;
  }
}
@media only screen and (max-width:1024px) {
  .cart-wrapper {
    flex-wrap: wrap;
  }
  .cart-wrapper .cart-left {
    width: 100%;
  }
  .cart-right.main-cart-footer {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
}

@media only screen and (max-width:767px) {
  .cart__footer-wrapper.cart__footer-wrapper_mobile {
    position:sticky;
    bottom:0;
    left:0;
  }
  .template-cart #main-cart-footer {    
    border-top: .1rem solid rgba(var(--color-foreground), .08);
  }
  .cart__footer-wrapper.cart__footer-wrapper_mobile .cart__footer {
    padding: 19px 0;
  }
  .template-cart .cart__contents .cart__items {
     border-bottom: 0;
  }
  .cart__ctas, div.totals {
    justify-content: center;
  }
  #highlight_text  {
    display: none;
  }
  .mobile-payment-icons {
    display: block !important;
    padding: 0 10px;
  }
  .desktop-payment-icons,
  .cart__footer .tax-note,
  .cart__checkout-button-desktop{
    display: none !important;
  }
  .cart-payment-icons img {
    width: auto;
  }
  .cart-payment-icons span {
    font-size: 16px;
  }
  .cart__footer .cart__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .cart__footer .cart__ctas {
    margin: 0 0 0 auto;
  }
  .cart__footer .totals {
    display: block;
  }
  .cart__footer h2.totals__total {
    margin: 0 0 10px;
    color: rgb(107 114 128);
    font-size: 12px;
  }
  .cart__footer .totals__total-value {
    margin-left: 0;
    font-weight: 900;
  }
  .cart__checkout-button-mobile {
    display:flex !important;
    gap: 8px;
    border-radius: 30px;
    text-transform: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin: 0 !important;
  }
  .template-cart .back_to_top_new {
    bottom: 89px;
  }
  .cart-item__quantity .quantity__button {
    width: 35px;
  }
  .cart-item__quantity .quantity {
    width: 110px;
  }
  .cart-item__quantity .quantity__input {
    padding: 0;
  }
  .cart-item__quantity .quantity-popover-container {
    padding: 0;
  }
  .cart-item cart-remove-button {
    margin-left: 0;
  }
  #main-cart-footer {
    display: block;
  } 
  .discount-total-content, .cart-login-message,
  .cart-right.main-cart-footer .cart__ctas{
    display: none;
  }
  .cart-wrapper .tax-note {
    margin-bottom: 0;
  }
  .cart-wrapper .title--primary {
    margin: 0 0 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
  .pdp-log-strip-inner {
    margin-top: 40px;
  }
  .cart-wrapper #main-cart-items .view-details-btn ~ dl {
    width: calc(100% - 60px);
  }
}