.Collection_descriptions_main_new {
  margin: 50px 0;
}
.Collection_descriptions_infos_new {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.Collection_descriptions_infos_new.active {
  display: block;
}
.Collection_descriptions_infos_new h3 {
  margin: 0 0 30px 0;
  color: #0f0d1a;
  font-size: 32px;
  font-weight: 500;
  line-height: 118.75%;
}
.Collection_descriptions_infos_new p {
  margin: 20px 0;
  color: #3f3d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.16px;
}
.Collection_descriptions_infos_new a {
  color: rgba(199, 157, 111);
  text-decoration: none;
}
.Collection_descriptions_infos_new ul li h3{
  display: inline
}
.Collection_descriptions_infos_new.rte h2,
.Collection_descriptions_infos_new.rte h3 {
  font-size: 20px !important;
}
.collection_full_width_new .Collection_descriptions_new .page-width {
  max-width: 100%;
}
.read_more_new {
  margin: 20px 0 0;
  font-size: 14px;
  font-weight: 900;
  line-height: 125%;
  letter-spacing: 0.16px;
  cursor: pointer;
}
.template--mens-detail-new .Collection_descriptions_infos_new.rte h2 {
  font-size: 24px !important;
}
.template--mens-detail-new .Collection_descriptions_infos_new {
  -webkit-line-clamp: 5;
}
.Page_store_detail_texts_main_new {
  margin: 60px 0 16px;
}
.Page_store_detail_texts_object_new {
  max-width: 1280px;
  margin: auto;
}
.Page_store_detail_texts_object_infos_new {
  height: 122px;
  overflow: hidden;
}
.Page_store_detail_texts_object_infos_new.active {
  height: auto;
}
.Page_store_detail_texts_object_infos_new h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  padding-bottom: 24px;
}
.Page_store_detail_texts_object_infos_new h2 b {
  font-weight: 500;
}
.Page_store_detail_texts_object_infos_new p,
.Page_store_detail_texts_object_infos_new li {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  padding-bottom: 20px;
  color: #3f3d4d;
}
.Page_store_detail_texts_object_infos_new li {
  padding-bottom: 8px;
}
.Page_store_detail_texts_object_infos_new li b {
  font-weight: 500;
}
.Page_store_detail_texts_object_infos_new p a {
  color: rgba(199, 157, 111, 1);
  text-decoration: none;
}
.Page_store_detail_texts_object_infos_new ul {
  margin: 0;
  padding: 0;
}
.Page_store_detail_texts_object_infos_new ul li {
  margin: 0 0 8px 20px;
}
.Page_store_detail_texts_object_infos_new ul li h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: inherit;
}
.cms-index-index .Page_store_detail_texts_inner_new {
  border-top: 1px solid #d9d7d7;
  padding-top: 44px;
}
.Page_store_detail_texts_object_infos_new h1 {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  font-weight: 400;
  padding-bottom: 28px;
}
.Page_bridal_details_texts_main_new .Page_store_detail_texts_object_new, 
.Page_bridal_detail_objects_faqs_main_new .Page_Store_detail_objects_faqs_inner_new {
    max-width: 100%;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Collection_descriptions_main_new {
    margin: 40px 0;
  }
  .Page_store_detail_texts_object_infos_new {
    height: 140px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Collection_descriptions_main_new {
    margin: 40px 0;
  }
  .Collection_descriptions_infos_new h3 {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 133.33%;
  }
  .Collection_descriptions_infos_new p {
    font-size: 15px;
    line-height: 130%;
  }
  .read_more_new {
    margin: 10px 0 0;
    font-size: 14px;
  }  
  .Page_store_detail_texts_main_new {
    margin: 40px 0 16px;
  }
  .Page_store_detail_texts_object_infos_new {
    height: 150px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Collection_descriptions_inner_new {
    border-radius: 6px;
    border: 1px solid #e1e1e5;
    padding: 16px;
  }
  .Collection_descriptions_infos_new h3 {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 133.33%;
  }
  .Collection_descriptions_infos_new p {
    font-size: 14px;
    line-height: 128.571%;
  }
  .Collection_descriptions_main_new {
    margin: 30px 0;
  }
  .read_more_new {
    margin: 10px 0 0 0;
  }
  .Page_store_detail_texts_main_new {
    margin: 40px 0 16px;
  }
  .Page_store_detail_texts_object_infos_new {
    height: 172px;
  }
  .Page_store_detail_texts_object_infos_new h2 {
    font-size: 16px;
    line-height: 140%;
  }
  .Page_bridal_details_texts_main_new {
    margin: 32px 0;
  }
  .Page_store_detail_texts_object_infos_new ul li h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .Page_store_detail_texts_object_infos_new h1 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 20px;
  }
  .cms-index-index .Page_store_detail_texts_inner_new {
    border-top: 0;
    padding-top: 10px;
  }
}