.Index_object_visit_stores_main_new {
  margin: 50px 0;
}
.Index_object_visit_stores_innerloop_mainboxs_new {
  width: 33.33%;
}
.Index_object_visit_stores_innerloop_innerboxs_video_OR_image_new {
  padding-bottom: 55%;
  position: relative;
}
.Index_object_visit_stores_innerloop_innerboxs_video_OR_image_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
}
.Index_object_visit_stores_innerloop_innerboxs_video_OR_image_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
}
.Index_object_visit_stores_innerloop_innerboxs_innervideoimage_titles_new {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding-top: 24px;
  text-align: center;
}
.Index_object_visit_stores_innerloop_innerboxs_innervideoimage_button_new {
  padding-top: 12px;
  text-align: center;
}
.Index_object_visit_stores_innerloop_innerboxs_innervideoimage_button_new a {
  border-radius: 30px;
  border: 1px solid #e1e1e5;
  padding: 13px 20px;
  color: #223330;
  font-size: 14px;
  font-weight: 500;
  line-height: 114.286%;
  letter-spacing: 0.42px;
  text-transform: capitalize;
  text-decoration: none;
  min-width: 142px;
  display: inline-block;
}
.Index_object_visit_stores_innerloop_innerboxs_innervideoimage_button_new  a:hover {
  border-color: #223330;
}
.Index_object_visit_stores_innerloop_innerboxs_innervideoimage_button_new a svg {
  max-width: 100%;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: -2px;
}
.Index_visit_stores_slider .swiper-button-next,
.Index_visit_stores_slider .swiper-button-prev {
  top: 32%;
}
.Page_about_us_object_info_main_new .Index_visit_stores_slider .swiper-button-next,
.Page_about_us_object_info_main_new .Index_visit_stores_slider .swiper-button-prev {
  top: 22%;
}

@media (min-width: 750px) and (max-width: 989px) {
  .Index_object_visit_stores_main_new {
    margin: 40px 0;
  }
  .Index_object_visit_stores_innerloop_innerboxs_innervideoimage_titles_new {
    font-size: 14px;
    padding-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
 .Index_object_visit_stores_innerloop_innerboxs_video_OR_image_new {
    padding-bottom: 57.8%;
  }
  .Index_object_visit_stores_innerloop_innerboxs_innervideoimage_titles_new {
    font-size: 14px;
    line-height: 142.857%;
    letter-spacing: 0.14px;
    padding-top: 14px;
    max-width: 100%;
  }
  .Index_object_visit_stores_innerloop_innerboxs_innervideoimage_button_new a {
    padding: 9px 20px;
  }
  .Index_object_visit_stores_main_new {
    margin: 40px 0;
  }
  .Index_object_visit_stores_innerloop_new {
    margin: 0 -16px;
  }
  .Index_visit_stores_slider {
    padding: 0 16px;
  }
  .Index_visit_stores_slider .swiper-button-next {
  }
  .Index_visit_stores_slider .swiper-button-prev {
  }
  .Index_visit_stores_slider .Index_object_visit_stores_innerloop_mainboxs_new {
    width: 290px;
  }
}