.Index_top_banner_slider_inner_new .swiper-pagination {
  width: 100%;
  position: absolute !important;
}
.Index_top_banner_slider_main_new {
  margin-bottom: 30px;
}
.Index_top_banner_slider_inner_new .swiper-pagination {
  position: static;
  padding-top: 36px;
}
.Index_top_banner_slider_inner_new .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 1);
}
.Index_top_banner_slider_allloop_innerboxs_videoimageboth_new {
  position: relative; /*height: 540px;*/
}
.Index_top_banner_slider_allloop_innerboxs_videoimage_new img {
  width: 100%;
  z-index: 1;
  position: relative;
  display: block; /*position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100% !important;*/
}
.Index_top_banner_slider_allloop_innerboxs_videoimage_new video {
  width: 100%; /*position:absolute; object-fit:cover; top:0; left:0; bottom:0; right:0; height:100% !important;*/
}
@media only screen and (max-width: 1024px) {
  .template-index .Index_top_banner_slider_inner_new .swiper-pagination {
    padding-top: 0;
  }
  .Index_top_banner_slider_new
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 20px;
  }
}
.template--mens-detail-new
  .Index_top_banner_slider_inner_new
  .swiper-pagination {
  padding-top: 12px;
}
.Index_top_banner_slider_allloop_innerboxs_videoimage_new {
  position: relative;
  padding-top: 37.5%;
}
.Index_top_banner_slider_allloop_innerboxs_videoimage_new img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .Index_top_banner_slider_inner_new
    .swiper-pagination
    .swiper-pagination-bullet {
    margin: 20px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Index_top_banner_slider_main_new {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 749px) {
  .Index_top_banner_slider_main_new {
    margin: 17px 0;
  }
}
@media only screen and (max-width: 747px) {
  .Index_top_banner_slider_allloop_innerboxs_videoimage_new {
    padding-top: 141.471%;
  }
}
