.kalki-fashion-show_page_new #MainContent .section .page-width,
.kalki-fashion-show_page_new  .Page_fashion_show_image_texts_main_new  .page-width,
.kalki-fashion-show_page_new .page-width.rumi-image-with-text-section,
.kalki-fashion-show_page_new  .Page_fashion_show_image_side_by_side_new  .single-page.page-width {
  max-width: 1000px;
}
.Page_fashion_show_image_texts_main_new {
  margin: 50px 0;
}
.Page_fashion_show_image_texts_title_new {
  margin-bottom: 22px;
}
.Page_fashion_show_image_texts_innerloop_mainboxs_new {
  padding-bottom: 23px;
}
.Page_fashion_show_image_texts_innerloop_mainboxs_new:last-child {
  padding-bottom: 0;
}
.Page_fashion_show_image_texts_innerloop_mobiletitle_new {
  display: none;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_new {
  display: flex;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_1_new {
  width: 100%;
  position: relative;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_1_videoimageboth_new {
  display: flex;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_1_videoimage_new video {
  width: 100%;
  display: flex;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_1_videoimage_new img {
  width: 100%;
  display: flex;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_2_new {
  width: 50%;
  margin-left: 20px;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_2_authornames_new {
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_2_designation_new {
  color: #595766;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  padding-top: 2px;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_2_authorinfos_new {
  padding-top: 20px;
}
.Page_fashion_show_image_texts_innerloop_innerboxs_2_authorinfos_new p {
  margin: 0;
  color: #262433;
  font-size: 16px;
  font-weight: 400;
  line-height: 131.25%;
}
.Page_fashion_show_image_texts_video_or_image_on_right_new  .Page_fashion_show_image_texts_innerloop_innerboxs_new {
  flex-direction: row-reverse;
}
.Page_fashion_show_image_texts_video_or_image_on_right_new  .Page_about_us_image_texts_innerloop_innerboxs_2_new {
  margin: 0 20px 0 0;
}