.Page_press_room_template_breadcrumb_new .breadcrumbs {
  padding: 30px 0 0 0;
}
.Page_press_room_template_main_new {
  padding: 0 0 0px 0;
}
.Page_press_room_template_mainboxs_new {
  padding-top: 20px;
}
.Page_press_room_template_innerboxs_new {
  position: relative;
}
.Page_press_room_template_innerboxs_1_videoimage_new video {
  width: 100%;
}
.Page_press_room_template_innerboxs_1_videoimage_new img {
  width: 100%;
}
.Page_press_room_template_innerboxs_2_new {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Page_press_room_template_innerboxs_2_title_new h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  line-height: 125%;
  margin: 0;
  text-transform: uppercase;
}
.Page_press_room_template_mainloop_new {
  margin: 40px 0 70px 0;
}
.Page_press_room_template_main_new .tab {
  display: flex;
  justify-content: center;
}
.Page_press_room_template_main_new .tabs_collection_new {
  padding: 8px;
  min-width: 125px;
  color: #595766;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-bottom: 2px solid transparent;
}
.Page_press_room_template_main_new .tabs_collection_new.active {
  color: #0f0d1a;
  border-bottom: 2px solid #0f0d1a;
}
.Page_press_room_template_innerloop_mainboxs_main_new {
  display: flex !important;
  flex-flow: wrap;
  grid-gap: 40px 20px;
  padding-top: 32px;
}
.Page_press_room_template_innerloop_mainboxs_new {
  width: calc(25% - 15px);
}
.Page_press_room_template_innerloop_innerboxs_video_grid {
  width: calc(50% - 15px);
  background: #f7f7f7;
}
.Page_press_room_template_innerloop_mainboxs_new a {
  text-decoration: none;
}
.Page_press_room_template_innerloop_innerboxs_innerpart_new {
  position: relative;
}
.Page_press_room_template_innerloop_innerboxs_innerpart_1_video_OR_image_new {
  background: #8e8e8f;
  padding-bottom: 86.295%;
  position: relative;
}
.Page_press_room_template_innerloop_innerboxs_innerpart_1_video_OR_image_new
  video {
  width: 100%;
  position: absolute;
  object-fit: contain;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Page_press_room_template_innerloop_innerboxs_innerpart_1_video_OR_image_new
  img {
  width: 100%;
  position: absolute;
  object-fit: contain;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Page_press_room_template_innerloop_innerboxs_innerpart_2_new {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  background: #fff;
}
.Page_press_room_template_innerloop_innerboxs_innerpart_2_logosimageboth_new {
  padding: 15px;
}
.Page_press_room_template_innerloop_innerboxs_innerpart_2_logosimageboth_new
  img {
  max-width: 70px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}
.Page_press_room_template_innerloop_innerboxs_maindetail_new {
  padding: 10px;
}
.Page_press_room_template_innerloop_innerboxs_innerdetail_title_new h3 {
  margin: 0;
  color: #0f0d1a;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
  text-transform: capitalize;
}
.Page_press_room_template_innerloop_innerboxs_innerdetail_dates_new {
  margin: 0;
  padding-top: 8px;
  color: #747380;
  font-size: 12px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.Page_press_room_details_main_new {
  margin: 70px 0;
}
.Page_press_room_details_loops_new {
  display: flex;
  grid-gap: 40px;
}
.Page_press_room_details_loops_mainboxs_new {
  width: calc(50% - 20px);
  border-radius: 2px;
  border: 1px solid #e1e1e5;
  padding: 40px;
}
.Page_press_room_details_loops_innerboxs_1_detail_new {
  display: flex;
  align-items: center;
  padding: 10px;
}
.Page_press_room_details_loops_innerboxs_1_detail_icons_new {
  width: 32px;
  height: 32px;
  position: relative;
}
.Page_press_room_details_loops_innerboxs_1_detail_icons_new img {
  width: 100%;
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
}
.Page_press_room_details_loops_innerboxs_1_detail_title_new {
  padding-left: 10px;
  width: calc(100% - 32px);
}
.Page_press_room_details_loops_innerboxs_1_detail_title_new h3 {
  font-family: var(--font-body-family);
  margin: 0;
  color: #0f0d1a;
  font-size: 24px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.24px;
}
.Page_press_room_details_loops_innerboxs_2_new {
  padding-top: 20px;
}
.Page_press_room_details_loops_innerboxs_2_infos_new p {
  margin: 0;
  color: #747380;
  font-size: 16px;
  line-height: 131.25%;
}
.Page_press_room_details_loops_innerboxs_3_new {
  padding-top: 30px;
}
.Page_press_room_details_loops_innerboxs_3_texts_new {
  margin: 0;
  color: #0f0d1a;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.18px;
}
.Page_press_room_details_loops_innerboxs_4_new {
  padding-top: 20px;
}
.Page_press_room_details_loops_innerboxs_4_contact_new p {
  margin: 0;
  color: #0f0d1a;
  font-size: 16px;
  line-height: 131.25%;
}
.Page_press_room_details_loops_innerboxs_4_contact_new p a {
  color: #0f0d1a;
  font-size: 16px;
  line-height: 131.25%;
  text-decoration: none;
}
.Page_press_room_template_mainloop_new .pagination-wrapper {
  width: 100%;
  margin-top: 20px !important;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Page_press_room_template_mainloop_new {
    margin: 40px 0 50px;
  }
  .Page_press_room_template_innerboxs_2_title_new h2 {
    font-size: 32px;
  }
  .Page_press_room_template_innerloop_mainboxs_main_new {
    grid-gap: 35px 15px;
    padding-top: 25px;
  }
  .Page_press_room_template_innerloop_mainboxs_new {
    width: calc(25% - 12px);
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_new {
    width: 80px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_logosimageboth_new {
    padding: 12px;
  }
  .Page_press_room_details_main_new {
    margin: 50px 0;
  }
  .Page_press_room_details_loops_mainboxs_new {
    padding: 30px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Page_press_room_template_breadcrumb_new .breadcrumbs {
    padding: 16px 0 0;
  }
  .Page_press_room_template_mainboxs_new {
    padding-top: 10px;
  }
  .Page_press_room_template_innerboxs_2_title_new h2 {
    font-size: 24px;
  }
  .Page_press_room_template_mainloop_new {
    margin: 24px 0 50px;
  }
  .Page_press_room_template_innerloop_mainboxs_main_new {
    grid-gap: 40px 20px;
    padding-top: 30px;
  }
  .Page_press_room_template_innerloop_mainboxs_new {
    width: calc(33.33% - 14px);
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_1_videoimageboth_new {
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_1_video_OR_image_new {
    padding-bottom: 90%;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_new {
    width: 80px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_logosimageboth_new {
    padding: 13px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_logosimageboth_new
    img {
    max-width: 54px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerdetail_title_new h3 {
    font-size: 18px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerdetail_dates_new {
    font-size: 12px;
    letter-spacing: 0.64px;
  }

  .Page_press_room_details_main_new {
    margin: 40px 0;
  }
  .Page_press_room_details_loops_new {
    grid-gap: 20px;
  }
  .Page_press_room_details_loops_mainboxs_new {
    border-radius: 4px;
    padding: 24px;
    width: calc(50% - 10px);
  }
  .Page_press_room_details_loops_innerboxs_3_new {
    padding-top: 20px;
  }
  .Page_press_room_details_loops_innerboxs_2_new {
    padding-top: 10px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Page_press_room_template_breadcrumb_new .breadcrumbs {
    padding: 16px 0 0;
  }
  .Page_press_room_template_mainboxs_new {
    padding-top: 10px;
  }
  .Page_press_room_template_innerboxs_2_title_new h2 {
    font-size: 24px;
  }
  .Page_press_room_template_mainloop_new {
    margin: 24px 0 40px;
  }
  .Page_press_room_template_main_new .tabs_collection_new {
    min-width: 25%;
  }
  .Page_press_room_template_innerloop_mainboxs_main_new {
    display: block !important;
    grid-gap: 0px;
    padding-top: 30px;
  }
  .Page_press_room_template_innerloop_mainboxs_new {
    width: 100%;
    margin-bottom: 20px;
  }
  .Page_press_room_template_innerloop_mainboxs_new:last-child {
    margin-bottom: 0;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_1_videoimageboth_new {
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_1_video_OR_image_new {
    padding-bottom: 86.895%;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_new {
    width: 92px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_logosimageboth_new {
    padding: 13px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerpart_2_logosimageboth_new
    img {
    max-width: 64px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerdetail_title_new h3 {
    font-size: 19.2px;
  }
  .Page_press_room_template_innerloop_innerboxs_innerdetail_dates_new {
    font-size: 12.8px;
    letter-spacing: 0.64px;
  }

  .Page_press_room_details_main_new {
    margin: 40px 0;
  }
  .Page_press_room_details_loops_new {
    display: block;
    grid-gap: 0 0;
  }
  .Page_press_room_details_loops_mainboxs_new {
    width: 100%;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 16px;
  }
  .Page_press_room_details_loops_mainboxs_new:last-child {
    margin-bottom: 0;
  }
  .Page_press_room_details_loops_innerboxs_3_new {
    padding-top: 20px;
  }
}