.Page_bridal_video_texts_main_new {
  margin: 48px 0;
}
.Page_bridal_video_texts_detail_new {
  display: flex;
  align-items: center;
}
.Page_bridal_video_texts_detail_1_new {
  position: relative;
  width: 50%;
}
.Page_bridal_video_texts_detail_1_videoimage_new {
  width: 500px;
  margin: 0 0 0 auto;
}
.Page_bridal_video_texts_detail_1_videoimage_new img {
  width: 100%;
  display: flex;
}
.Page_bridal_video_texts_detail_1_videoimage_new video {
  width: 100%;
  display: flex;
}
.Page_bridal_video_texts_detail_2_new {
  width: 50%;
  padding: 32px;
}
.Page_bridal_video_texts_detail_2_titlelinksboth_new {
  max-width: 393px;
}
.Page_bridal_video_texts_detail_2_title_new {
  padding-bottom: 10px;
}
.Page_bridal_video_texts_detail_2_title_new p {
  margin: 0;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.Page_bridal_video_texts_detail_2_links_new {
  text-align: center;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Page_bridal_video_texts_detail_1_videoimage_new {
    width: 100%;
    max-width: 500px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Page_bridal_video_texts_detail_1_videoimage_new {
    width: 100%;
  }
  .Page_bridal_video_texts_detail_2_title_new p {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Page_bridal_video_texts_main_new {
    margin: 24px 0 32px 0;
  }
  .Page_bridal_video_texts_detail_new {
    display: block;
  }
  .Page_bridal_video_texts_detail_1_new {
    width: 100%;
  }
  .Page_bridal_video_texts_detail_1_videoimage_new {
    width: 100%;
  }
  .Page_bridal_video_texts_detail_2_new {
    width: 100%;
    padding: 32px 0 0 0;
  }
  .Page_bridal_video_texts_detail_2_title_new p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
  }
}