.Page_about_us_template_main_new {
  margin: 50px 0;
}
.Page_about_us_template_inner_new {
  max-width: 1080px;
  margin: auto;
}
.Page_about_us_template_loops_1_videoimageboth_new {
  position: relative;
}
.Page_about_us_template_loops_1_videoimage_new video {
  width: 100%;
  display: flex;
}
.Page_about_us_template_loops_1_videoimage_new img {
  width: 100%;
  display: flex;
}
.Page_about_us_template_loops_2_new {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.Page_about_us_template_loops_2_icons_new {
  text-align: center;
}
.Page_about_us_template_loops_2_icons_new img {
  max-width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}
.Page_about_us_template_loops_2_texts_new {
  margin-top: 40px;
  color: #262433;
  font-size: 16px;
  font-weight: 400;
  line-height: 131.25%;
}
.Page_about_us_template_loops_3_new {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.Page_about_us_template_loops_3_title_new {
  margin-bottom: 25px;
}
.Page_about_us_template_loops_3_texts_new {
  color: #262433;
  font-size: 22px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.24px;
}
.Page_about_us_template_loops_2_new:last-child {
  border-bottom: 1px solid #e1e1e5;
  padding-bottom: 34px;
}
.Page_about_us_template_loops_youtube {
  position: relative;
  padding-bottom: 56.25%;
}
.Page_about_us_template_loops_youtube iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Page_about_us_image_texts_main_new {
  margin: 50px 0;
}
.Page_about_us_image_texts_inner_new {
  max-width: 1080px;
  margin: auto;
}
.Page_about_us_image_texts_title_new {
  margin-bottom: 22px;
}
.Page_about_us_image_texts_innerloop_mainboxs_new {
  padding-bottom: 23px;
}
.Page_about_us_image_texts_innerloop_mainboxs_new:last-child {
  padding-bottom: 0;
}
.Page_about_us_image_texts_innerloop_mobiletitle_new {
  display: none;
}
.Page_about_us_image_texts_innerloop_innerboxs_new {
  display: flex;
}
.Page_about_us_image_texts_innerloop_innerboxs_1_new {
  width: 50%;
  position: relative;
}
.Page_about_us_image_texts_innerloop_innerboxs_1_videoimage_new video {
  width: 100%;
  display: flex;
}
.Page_about_us_image_texts_innerloop_innerboxs_1_videoimage_new img {
  width: 100%;
  display: flex;
}
.Page_about_us_image_texts_innerloop_innerboxs_2_new {
  width: 50%;
  margin-left: 20px;
}
.Page_about_us_image_texts_innerloop_innerboxs_2_authornames_new {
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
}
.Page_about_us_image_texts_innerloop_innerboxs_2_designation_new {
  color: #595766;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  padding-top: 2px;
}
.Page_about_us_image_texts_innerloop_innerboxs_2_authorinfos_new {
  padding-top: 20px;
}
.Page_about_us_image_texts_innerloop_innerboxs_2_authorinfos_new p {
  margin: 0;
  color: #262433;
  font-size: 16px;
  font-weight: 400;
  line-height: 131.25%;
}
.Page_about_us_image_texts_video_or_image_on_right_new  .Page_about_us_image_texts_innerloop_innerboxs_new {
  flex-direction: row-reverse;
}
.Page_about_us_image_texts_video_or_image_on_right_new  .Page_about_us_image_texts_innerloop_innerboxs_2_new {
  margin: 0 20px 0 0;
}

.Page_about_us_milstone_main_new {
  margin: 50px 0;
}
.Page_about_us_milstone_inner_new {
  max-width: 1080px;
  margin: auto;
}
.Page_about_us_milstone_mainloop_new {
  border-bottom: 1px solid #e1e1e5;
  padding-bottom: 50px;
}
.Page_about_us_milstone_innerloop_new {
  border-bottom: 1px solid #000;
}
.Page_about_us_milstone_innerloop_mainboxs_new {
  width: 25%;
  padding-bottom: 16px;
}
.Page_about_us_milstone_innerloop_innerboxs_1_new {
  width: 100%;
  height: 156px;
  position: relative;
}
.Page_about_us_milstone_innerloop_innerboxs_1_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
}
.Page_about_us_milstone_innerloop_innerboxs_1_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
}
.Page_about_us_milstone_innerloop_innerboxs_2_new {
  padding-top: 16px;
}
.Page_about_us_milstone_innerloop_innerboxs_2_new:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 1px;
  background: #000;
  left: 0px;
  bottom: 0;
}
.Page_about_us_milstone_innerloop_innerboxs_2_title_new {
  color: #262433;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.16px;
}
.Page_about_us_milstone_innerloop_innerboxs_2_years_new {
  color: #747380;
  font-size: 14px;
  line-height: 128.571%;
  padding-top: 5px;
}
.Page_about_us_milstone_slider .swiper-button-prev {
  top: 33%;
}
.Page_about_us_milstone_slider .swiper-button-next {
  top: 33%;
}

.Page_about_us_features_main_new {
  margin: 50px 0;
}
.Page_about_us_features_inner_new {
  max-width: 1080px;
  margin: auto;
}
.Page_about_us_features_innerloop_new {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 40px;
}
.Page_about_us_features_innerloop_mainboxs_new {
  width: calc(33.33% - 27px);
  text-decoration: none;
  color: #000;
}
.Page_about_us_features_innerloop_innerboxs_1_new {
  width: 160px;
  height: 160px;
  position: relative;
  margin: auto;
}
.Page_about_us_features_innerloop_innerboxs_1_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  border-radius: 130px;
}
.Page_about_us_features_innerloop_innerboxs_1_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  border-radius: 130px;
}
.Page_about_us_features_innerloop_innerboxs_2_new {
  padding-top: 30px;
}
.Page_about_us_features_innerloop_innerboxs_2_title_new {
  text-align: center;
  font-size: 18px;
  line-height: 133.333%;
}
.Page_about_us_features_innerloop_innerboxs_2_infos_new {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 131.25%;
}
.Page_about_us_object_info_maindetails_new {
  padding-top: 30px;
}
.Page_about_us_object_info_innerdetails_1_new {
  padding-bottom: 20px;
}
.Page_about_us_object_info_innerdetails_1_new:last-child {
  padding-bottom: 0;
}
.Page_about_us_object_info_innerdetails_1_details_new {
  display: flex;
}
.Page_about_us_object_info_innerdetails_1_details_iconsboths_new {
  width: 24px;
  height: 24px;
}
.Page_about_us_object_info_innerdetails_1_details_iconsboths_new svg {
  max-width: 100%;
}
.Page_about_us_object_info_innerdetails_1_details_textsboths_new {
  width: calc(100% - 24px);
  padding-left: 20px;
}
.Page_about_us_object_info_innerdetails_1_details_title_new {
  font-family: var(--font-heading-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.32px;
}
.Page_about_us_object_info_innerdetails_1_details_texts_new {
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  padding-top: 10px;
}
.Page_about_us_object_info_innerdetails_1_details_emailcalls_new {
  padding-top: 20px;
}
.Page_about_us_object_info_innerdetails_1_details_email_new {
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}
.Page_about_us_object_info_innerdetails_1_details_calls_new {
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}
.Page_about_us_object_info_innerdetails_1_details_infos_new {
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}

.Page_about_us_over_texts_main_new {
  margin: 50px 0;
}
.Page_about_us_over_texts_inner_new {
  max-width: 1080px;
  margin: auto;
}
.Page_about_us_over_texts_detail_new {
  position: relative;
}
.Page_about_us_over_texts_detail_1_new {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.Page_about_us_over_texts_detail_1_detail_new {
  width: 100%;
  height: 100%;
  position: relative;
}
.Page_about_us_over_texts_detail_1_detail_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
}
.Page_about_us_over_texts_detail_1_detail_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
}
.Page_about_us_over_texts_detail_2_new {
  position: relative;
  padding: 30px;
  text-align: center;
}
.Page_about_us_over_texts_detail_2_detail_title_new h2 {
  margin: 0;
  color: #262433;
  font-size: 24px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.24px;
}
.Page_about_us_over_texts_detail_2_detail_infos_new {
  padding-top: 10px;
}
.Page_about_us_over_texts_detail_2_detail_infos_new p {
  margin: 0;
  color: #262433;
  font-size: 16px;
  font-weight: 400;
  line-height: 133.333%;
}
.Page_about_us_over_texts_detail_2_detail_button_new {
  padding-top: 30px;
}
.Page_about_us_over_texts_detail_2_detail_button_new .button {
  min-width: 370px;
  line-height: 22px;
  letter-spacing: 0.7px;
  padding: 10px;
}

.Page_about_us_block_lists_main_new {
  margin: 50px 0 135px 0;
}
.Page_about_us_block_lists_inner_new {
  max-width: 1080px;
  margin: auto;
}
.Page_about_us_block_lists_loops_new {
  display: flex;
}
.Page_about_us_block_lists_mainleftright_new {
  width: 50%;
  border-right: 1px solid #e1e1e5;
  padding: 0 40px;
}
.Page_about_us_block_lists_mainleftright_new:last-child {
  border-right: none;
  padding-right: 0;
}
.Page_about_us_block_lists_mainleftright_new:first-child {
  padding-left: 0;
}
.Page_about_us_block_lists_innerleftright_mainboxs_new {
  margin-bottom: 34px;
}
.Page_about_us_block_lists_innerleftright_mainboxs_new:last-child {
  margin-bottom: 0;
}
.Page_about_us_block_lists_innerleftright_innerboxs_title_new h4 {
  margin: 0;
  color: #262433;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}
.Page_about_us_block_lists_innerleftright_innerboxs_texts_new p {
  margin: 0;
  color: #0f0d1a;
  font-size: 14px;
  line-height: 140%;
  padding-top: 20px;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Page_about_us_milstone_innerloop_mainboxs_new {
    width: 255px;
  }
  .Page_about_us_block_lists_main_new {
    margin: 50px 0 85px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Page_about_us_template_main_new {
    margin: 40px 0;
  }
  .Page_about_us_template_loops_2_new {
    margin: 40px auto auto;
  }
  .Page_about_us_template_loops_2_texts_new {
    margin-top: 30px;
  }
  .Page_about_us_template_loops_3_new {
    margin: 40px auto auto;
  }
  .Page_about_us_template_loops_2_new:last-child {
    padding-bottom: 24px;
  }

  .Page_about_us_image_texts_main_new {
    margin: 40px 0;
  }
  .Page_about_us_milstone_innerloop_mainboxs_new {
    width: 255px;
  }

  .Page_about_us_milstone_main_new {
    margin: 40px 0;
  }
  .Page_about_us_milstone_mainloop_new {
    padding-bottom: 40px;
  }

  .Page_about_us_features_main_new {
    margin: 40px 0;
  }
  .Page_about_us_features_innerloop_new {
    grid-gap: 30px;
  }
  .Page_about_us_features_innerloop_mainboxs_new {
    width: calc(33.33% - 20px);
  }
  .Page_about_us_features_innerloop_innerboxs_2_infos_new {
    font-size: 14px;
  }

  .Page_about_us_over_texts_main_new {
    margin: 40px 0;
  }

  .Page_about_us_block_lists_main_new {
    margin: 40px 0 65px;
  }
  .Page_about_us_block_lists_mainleftright_new {
    padding: 0 30px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Page_about_us_template_main_new {
    margin: 20px 0 40px 0;
  }
  .Page_about_us_template_loops_2_new {
    margin-top: 30px;
  }
  .Page_about_us_template_loops_2_texts_new {
    margin-top: 40px;
  }
  .Page_about_us_template_loops_2_texts_new p {
    font-size: 14px;
    line-height: 142.857%;
  }
  .Page_about_us_template_loops_3_title_new {
    text-align: left;
  }
  .Page_about_us_template_loops_3_title_new h2 {
    font-size: 24px;
  }
  .Page_about_us_template_loops_3_texts_new p {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.2px;
  }
  .Page_about_us_template_loops_3_new {
    margin: 30px auto auto;
  }
  .Page_about_us_template_loops_3_title_new {
    margin-bottom: 16px;
  }
  .Page_about_us_template_loops_2_title_new {
    text-align: left;
  }
  .Page_about_us_template_loops_2_title_new h2 {
    font-size: 24px;
  }
  .Page_about_us_template_loops_2_new:last-child
    .Page_about_us_template_loops_2_texts_new {
    margin-top: 16px;
  }
  .Page_about_us_template_loops_2_new:last-child {
    padding-bottom: 24px;
  }

  .Page_about_us_image_texts_main_new {
    margin: 40px 0;
  }
  .Page_about_us_image_texts_title_new {
    text-align: left;
    display: none;
  }
  .Page_about_us_image_texts_mainloop_new {
    border-bottom: 1px solid #e1e1e5;
    padding-bottom: 40px;
  }
  .Page_about_us_image_texts_innerloop_mainboxs_new {
    padding-bottom: 40px;
  }
  .Page_about_us_image_texts_innerloop_mobiletitle_new {
    text-align: left;
    display: block;
  }
  .Page_about_us_image_texts_innerloop_mobiletitle_new h2 {
    font-size: 24px;
  }
  .Page_about_us_image_texts_innerloop_innerboxs_new {
    display: block;
  }
  .Page_about_us_image_texts_innerloop_innerboxs_1_new {
    width: 100%;
  }
  .Page_about_us_image_texts_innerloop_innerboxs_2_new {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .Page_about_us_image_texts_video_or_image_on_right_new
    .Page_about_us_image_texts_innerloop_innerboxs_2_new {
    margin: 18px 0 0 0;
  }

  .Page_about_us_milstone_main_new {
    margin: 40px 0;
  }
  .Page_about_us_milstone_title_new {
    margin-bottom: 30px;
  }
  .Page_about_us_milstone_title_new h2 {
    text-align: left;
    font-size: 24px;
  }
  .Page_about_us_milstone_innerloop_mainboxs_new {
    width: 183px;
  }
  .Page_about_us_milstone_mainloop_new {
    padding-bottom: 40px;
  }
  .Page_about_us_milstone_innerloop_new {
    margin-right: -16px;
  }
  .Page_about_us_milstone_slider {
    padding: 0 16px 0 0;
  }
  .Page_about_us_milstone_innerloop_innerboxs_1_new {
    height: 112px;
  }
  .Page_about_us_milstone_innerloop_innerboxs_2_new {
    padding-top: 12px;
  }
  .Page_about_us_milstone_innerloop_innerboxs_2_title_new {
    font-size: 14px;
    line-height: 128.571%;
  }
  .Page_about_us_milstone_innerloop_innerboxs_2_years_new {
    font-size: 12px;
    line-height: 133.333%;
  }
  .Page_about_us_milstone_slider .swiper-button-prev,
  .Page_about_us_milstone_slider .swiper-button-next {
    display: none;
  }

  .Page_about_us_features_main_new {
    margin: 40px 0;
  }
  .Page_about_us_features_title_new {
    margin-bottom: 30px;
  }
  .Page_about_us_features_title_new h2 {
    text-align: left;
    font-size: 24px;
  }
  .Page_about_us_features_innerloop_new {
    display: block;
    grid-gap: 0 0px;
  }
  .Page_about_us_features_innerloop_mainboxs_new {
    width: 100%;
    margin-bottom: 40px;
  }
  .Page_about_us_features_innerloop_mainboxs_new:last-child {
    margin-bottom: 0;
  }
  .Page_about_us_features_innerloop_innerboxs_1_videoimage_new img {
    border-radius: 90px;
  }
  .Page_about_us_features_innerloop_innerboxs_1_videoimage_new video {
    border-radius: 90px;
  }
  .Page_about_us_features_innerloop_innerboxs_2_infos_new p {
    text-align: left;
  }
  .Page_about_us_features_inner_new {
    border-bottom: 1px solid #e1e1e5;
    padding-bottom: 24px;
  }

  .Page_about_us_over_texts_main_new {
    margin: 30px 0;
  }
  .Page_about_us_over_texts_detail_2_new {
    padding: 30px 20px;
  }
  .Page_about_us_over_texts_detail_2_detail_title_new h2 {
    font-size: 20px;
    line-height: 120%;
  }
  .Page_about_us_over_texts_detail_2_detail_infos_new p {
    font-size: 14px;
    line-height: 114.286%;
  }
  .Page_about_us_over_texts_detail_2_detail_button_new .button {
    min-width: 288px;
    font-size: 14px;
  }

  .Page_about_us_block_lists_main_new {
    margin: 55px 0 40px 0;
  }
  .Page_about_us_block_lists_loops_new {
    display: block;
  }
  .Page_about_us_block_lists_mainleftright_new {
    width: 100%;
    border-bottom: 1px solid #e1e1e5;
    padding: 0;
    border-right: none;
  }
  .Page_about_us_block_lists_mainleftright_new:last-child {
    border-bottom: none;
    padding: 40px 0 0 0;
  }
  .Page_about_us_block_lists_mainleftright_new:first-child {
    padding-bottom: 40px;
  }
  .Page_about_us_block_lists_innerleftright_innerboxs_title_new h4 {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: 0.98px;
  }
}