.rumi-testimonial-box {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.rumi-testimonial-box-image {
  width: 150px;
  min-width: 150px;
  margin-right: 16px;
  margin-bottom: 0;
  display: flex;
}
.rumi-testimonial-box-text {
  text-align: center;
  width: 100%;
}
.rumi-testimonial-box-text .maintext p {
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 0;
  line-height: 24px;
}
.rumi-testimonial-box-text .maintext h2 {
  margin-bottom: 0rem;
  line-height: 28px;
  font-size: 20px;
}
.rumi-testimonial-box-text .maintext.subtext2 p {
  margin: 0;
  line-height: 1.5;
}

.template--alanna-panday-collection .rumi-testimonial-box-text .maintext h2 strong {
  font-weight: 500;
}
.template--alanna-panday-collection .rumi-testimonial-box-text .maintext.subtext2  p,
.template--deme-collection .rumi-testimonial-box-text .maintext.subtext2 p {
  font-size: 14px;
}

.rumi-footer--box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rumi-footer--textline {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  line-height: 22px;
}
.rumi-footer-store-box {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 20px;
  gap: 10px 24px;
}
.rumi-footer-store-box:last-child {
  margin-bottom: 0;
}
.rumi-footer-store-box-group {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.rumi-footer-store-box-group-color-white {
  color: #fff;
}
.rumi-footer-store-box-group .img-box {
  display: flex;
  width: 16px;
  margin-right: 8px;
}
.rumi-footer-store-box-group .img-box2 {
  display: flex;
  width: 30px;
  margin-right: 8px;
}
.rumi-footer-store-box-group .img-box img,
.rumi-footer-store-box-group .img-box2 img {
  max-width: 100%;
}
.rumi-footer-store-box-group p.footertext {
  font-size: 16px;
  margin: 0;
  line-height: 1;
}
.rumi-footer-store-box-group p.footertext2 {
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
.bride-and-barat-form_page_new .rumi-page-edit,
.mushk-lfw-couture-store_page_new .rumi-page-edit {
  display: block;
}
.template--buying-guide .rich-text__blocks,
.template--buying-guide .rumi-page-edit {
  max-width: 880px;
}
@media screen and (min-width: 750px) {
  .rumi-page-edit {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .template--kalki-fashion-show main .rumi-page-edit {
    gap: 40px;
  }
  .template--kalki-fashion-show main .rumi-page-edit .image-with-text {
    width: calc(50% - 20px) !important;
  }
  .template--buying-guide .rumi-page-edit {
    gap: 40px;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 749px) {
  .rumi-testimonial-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rumi-testimonial-box-image {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }
  .rumi-footer--textline {
    font-size: 14px;
    margin-top: 0;
  }
  .buying-guide_page_new .rumi-page-edit .image-with-text {
    width: 100%;
  }
  .buying-guide_page_new .rumi-page-edit .image-with-text:not(:last-child) {
    margin-bottom: 20px;
  }
  .template--kalki-fashion-show main .rumi-page-edit .image-with-text:first-child {
    margin-bottom: 40px;
  }
}