.rumi-testimonial-box {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.rumi-testimonial-box-image {
  width: 150px;
  min-width: 150px;
  margin-right: 16px;
  margin-bottom: 0;
  display: flex;
}
.rumi-testimonial-box-text {
  text-align: center;
  width: 100%;
}
.rumi-testimonial-box-text .maintext p {
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 0;
  line-height: 24px;
}
.rumi-testimonial-box-text .maintext h2 {
  margin-bottom: 0rem;
  line-height: 28px;
  font-size: 20px;
}
.rumi-testimonial-box-text .maintext.subtext2 p {
  margin: 0;
  line-height: 1.5;
}

.template--alanna-panday-collection .rumi-testimonial-box-text .maintext h2 strong {
  font-weight: 500;
}
.template--alanna-panday-collection .rumi-testimonial-box-text .maintext.subtext2  p,
.template--deme-collection .rumi-testimonial-box-text .maintext.subtext2 p {
  font-size: 14px;
}

.rumi-footer--box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rumi-footer--textline {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  line-height: 22px;
}
.rumi-footer-store-box {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 20px;
  gap: 10px 24px;
}
.rumi-footer-store-box:last-child {
  margin-bottom: 0;
}
.rumi-footer-store-box-group {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.rumi-footer-store-box-group-color-white {
  color: #fff;
}
.rumi-footer-store-box-group .img-box {
  display: flex;
  width: 16px;
  margin-right: 8px;
}
.rumi-footer-store-box-group .img-box2 {
  display: flex;
  width: 30px;
  margin-right: 8px;
}
.rumi-footer-store-box-group .img-box img,
.rumi-footer-store-box-group .img-box2 img {
  max-width: 100%;
}
.rumi-footer-store-box-group p.footertext {
  font-size: 16px;
  margin: 0;
  line-height: 1;
}
.rumi-footer-store-box-group p.footertext2 {
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
.bride-and-barat-form_page_new .rumi-page-edit,
.mushk-lfw-couture-store_page_new .rumi-page-edit {
  display: block;
}
.template--buying-guide .rich-text__blocks,
.template--buying-guide .rumi-page-edit {
  max-width: 880px;
}
.rumi-video {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
  margin-top: 40px;
}
.rumi-firework-subtitle p {
  font-size: 16px;
  line-height: 24px;
  margin: 30px auto 0;
  text-align: center;
}
.rumi-video fw-embed-feed {
  --fw-thumbnail-font-size: 0;
  --fw-thumbnail-font-weight: 400;
  --fw-thumbnail-width: 300px;
  --fw-thumbnail-height: 500px;
}
.rumi-video .Index_title_inner_new h2 {
  margin: 20px 0 0;
  font-size: 32px;
  line-height: 28px;
}
.rumi-video .Index_title_title_new {
  margin-bottom: 20px;
}
.template--alanna-panday-collection .rumi-firework-subtitle,
.template-collection .template--deme-collection .rumi-firework-subtitle {
  max-width: 700px;
  margin: auto;
}
.Index_rumi_collections_allloop_mainboxs_new a {
  color: #000;
}
.rumi_collection_slider_title {
  background-color: #f4d8cc;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 8px 4px;
  margin-top: 4px;
}
.rumi_collection_slider_title p {
  margin: 0;
  line-height: 1.22;
  font-size: 14px;
  font-weight: 500;
}
.Collection_rumi_product_main_new .Index_title_title_new {
  text-align: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.Collection_rumi_product_main_new .Index_title_title_new .product-count__text {
  color: #73717e;
  padding-top: 4px;
}
.Collection_rumi_product_main_new .card__content {
  display: none;
}
.Collection_rumi_product_main_new #product-grid.grid {
  --grid-desktop-vertical-spacing: 16px;
  --grid-desktop-horizontal-spacing: 16px;
  --grid-mobile-vertical-spacing: 16px;
  --grid-mobile-horizontal-spacing: 16px;
  justify-content: center;
}
.Collection_rumi_product_main_new.Collection_product_grid_main_new {
  margin-bottom: 16px !important;
}
.template--rumi-collection .rich-text__heading,
.template--alanna-panday-collection .rich-text__heading {
  font-size: 32px;
  line-height: 28px;
  padding: 20px 0;
}
.template--rumi-collection
  .Collection_rumi_product_main_new
  #product-grid.grid {
  margin-top: 30px;
}
.template--rumi-collection .section-123-padding .image-with-text .grid__item,
.template--deme-collection .section-123-padding .image-with-text .grid__item {
  position: relative;
  width: 40%;
  max-width: 40%;
  padding-right: 16px;
}
.template--rumi-collection  .section-123-padding  .image-with-text  .grid__item.image-with-text__media-item,
.template--deme-collection  .section-123-padding  .image-with-text  .grid__item.image-with-text__media-item {
  width: 60%;
  max-width: 60%;
  padding: 0 0 0 16px;
}
.template--rumi-collection  .image-with-text  .grid__item  .image-with-text__content,
.template--deme-collection  .image-with-text  .grid__item  .image-with-text__content {
  padding: 0;
}
.template--rumi-collection .section-123-padding .image-with-text p,
.template--deme-collection .section-123-padding .image-with-text p {
  line-height: 24px;
  font-size: 16px;
}
.template--rumi-collection .section-123-padding .image-with-text h2,
.template--deme-collection .section-123-padding .image-with-text h2 {
  font-size: 32px;
  line-height: 28px;
  font-weight: normal;
}
.template--rumi-collection .video-with-text-videosection .iframe-container {
  padding-top: 0;
}
.template--alanna-panday-collection
  .Collection_rumi_product_main_new
  #product-grid.grid,
.template--deme-collection
  .Collection_rumi_product_main_new
  #product-grid.grid {
  margin-top: 32px;
}
.template--alanna-panday-collection .rumi-image-with-text-section,
.template--deme-collection .rumi-image-with-text-section {
  max-width: 1200px;
}
@media screen and (min-width: 750px) {
  .rumi-page-edit {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .template--kalki-fashion-show main .rumi-page-edit {
    gap: 40px;
  }
  .template--kalki-fashion-show main .rumi-page-edit .image-with-text {
    width: calc(50% - 20px) !important;
  }
  .template--buying-guide .rumi-page-edit {
    gap: 40px;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 749px) {
  .rumi-testimonial-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rumi-testimonial-box-image {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }
  .rumi-footer--textline {
    font-size: 14px;
    margin-top: 0;
  }
  .buying-guide_page_new .rumi-page-edit .image-with-text {
    width: 100%;
  }
  .buying-guide_page_new .rumi-page-edit .image-with-text:not(:last-child) {
    margin-bottom: 20px;
  }
  .template--kalki-fashion-show main .rumi-page-edit .image-with-text:first-child {
    margin-bottom: 40px;
  }
  .rumi-video {
    padding: 16px;
  }
  .rumi-video .Index_title_inner_new h2 {
    text-align: center;
    font-size: 18px;
  }
  .template--rumi-collection .rich-text__heading,
  .template--alanna-panday-collection .rich-text__heading {
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 30px;
  }
  .template--rumi-collection    .Collection_rumi_product_main_new    #product-grid.grid {
    margin-top: 20px;
  }
  .Collection_rumi_product_main_new.Collection_product_grid_main_new {
    margin-bottom: 16px !important;
  }
  .template--rumi-collection    .section-123-padding    .image-with-text    .grid__item.image-with-text__media-item,
  .template--deme-collection    .section-123-padding    .image-with-text    .grid__item.image-with-text__media-item {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .template--rumi-collection .section-123-padding .image-with-text .grid__item,
  .template--deme-collection .section-123-padding .image-with-text .grid__item {
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
  }
  .template--rumi-collection .section-123-padding .image-with-text h2,
  .template--deme-collection .section-123-padding .image-with-text h2 {
    font-size: 18px;
  }
  .template--rumi-collection .section-123-padding {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .template--alanna-panday-collection    .Collection_rumi_product_main_new    #product-grid.grid,
  .template--deme-collection    .Collection_rumi_product_main_new    #product-grid.grid {
    margin-top: 20px;
  }
}