.FAQs_detail_page_template_main_new {
  margin: 31px 0 80px 0;
}
.FAQs_detail_page_template_inner_new {
  max-width: 1160px;
}
.FAQs_detail_page_template_backbutton_new {
  padding-bottom: 20px;
  display: flex;
}
.FAQs_detail_page_template_backbutton_new a {
  padding: 10px;
  display: inline-block;
}
.FAQs_detail_page_template_backbutton_new svg {
  max-width: 24px;
  display: flex;
}
.FAQs_detail_page_template_innerleftright_new {
  position: relative;
}
.FAQs_detail_page_template_mainleft_new {
  width: 280px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: top;
  position: sticky;
  top: 170px;
}
.FAQs_detail_page_template_innerleft_new ul {
  margin: 0;
  padding: 0;
}
.FAQs_detail_page_template_innerleft_new ul li {
  list-style: none;
  margin-bottom: 13px;
}
.FAQs_detail_page_template_innerleft_new ul li:last-child {
  margin-bottom: 0;
}
.FAQs_detail_page_template_innerleft_new ul li a {
  text-decoration: none;
  color: #595766;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  border-radius: 18px;
  border: 1px solid #e1e1e5;
  padding: 7px 16px 8px 16px;
  display: inline-block;
  text-align: center;
}
.FAQs_detail_page_template_innerleft_new ul li a:hover {
  text-decoration: none;
  border: 1px solid #0f3d99;
  color: #0f3d99;
}
.FAQs_detail_page_template_innerleft_new ul li a.active {
  text-decoration: none;
  border: 1px solid #0f3d99;
  color: #0f3d99;
}
.FAQs_detail_page_template_mainright_new {
  width: calc(100% - 280px);
  display: inline-block;
  vertical-align: top;
  padding-top: 64px;
}
.FAQs_detail_page_template_innerright_1_new {
  border-radius: 10px;
  border: 1px solid #e1e1e5;
  padding: 16px;
}
.FAQs_detail_page_template_innerright_1_detail_icons_new img {
  display: flex;
  height: 50px;
  max-width: 100%;
}
.FAQs_detail_page_template_innerright_1_detail_title_new h3,.FAQs_detail_page_template_innerright_1_detail_title_new h1 {
  font-family: var(--font-body-family);
  margin: 0;
  padding-top: 10px;
  color: #0f0d1a;
  font-size: 24px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.24px;
}
.FAQs_detail_page_template_innerright_2_new {
  padding-top: 40px;
}
.FAQs_detail_page_template_innerright_2_detail_question_new {
  margin-bottom: 22px;
}
.FAQs_detail_page_template_innerright_2_detail_question_new p {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
}
.FAQs_detail_page_template_innerright_2_detail_mainvideoimage_new {
  position: relative;
  width: 100%;
}
.FAQs_detail_page_template_innerright_2_detail_videoimage_new video {
  width: 100%;
  display: flex;
}
.FAQs_detail_page_template_innerright_2_detail_videoimage_new img {
  width: 100%;
  display: flex;
}
.FAQs_detail_page_template_innerright_3_new {
  padding-top: 20px;
}
.FAQs_detail_page_template_innerright_3_detail_new.Common_faqs_accordion_new
  .accordion
  ul {
  border-top: 0;
}
.FAQs_detail_page_template_innerright_3_detail_new.Common_faqs_accordion_new
  .accordion
  > ul
  > li
  .question
  h2 {
  font-size: 18px;
  line-height: 133.333%;
  color: #000;
  padding: 20px 50px 20px 0;
}
@media (min-width: 750px) and (max-width: 989px) {
  .FAQs_detail_page_template_main_new {
    margin: 31px 0 60px 0;
  }
  .FAQs_detail_page_template_mainleft_new {
    width: 260px;
    top: 130px;
  }
  .FAQs_detail_page_template_mainright_new {
    width: calc(100% - 260px);
  }
  .FAQs_detail_page_template_innerright_2_new {
    padding-top: 25px;
  }
  .FAQs_detail_page_template_innerright_2_detail_mainvideoimage_new {
    margin-top: 16px;
  }
  .FAQs_detail_page_template_innerright_3_detail_new.Common_faqs_accordion_new
    .accordion
    > ul
    > li
    .question
    h2 {
    font-size: 16px;
    padding: 17px 50px 17px 0;
  }
  .FAQs_detail_page_template_innerright_3_detail_new.Common_faqs_accordion_new
    .accordion
    > ul
    > li
    .answer {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .FAQs_detail_page_template_main_new {
    margin: 12px 0 58px 0;
  }
  .FAQs_detail_page_template_inner_new {
    max-width: 100%;
  }
  .FAQs_detail_page_template_backbutton_new a {
    padding: 12px 0;
  }
  .FAQs_detail_page_template_innerleftright_new {
    display: block;
  }
  .FAQs_detail_page_template_mainleft_new {
    width: 100%;
    padding: 0;
    position: relative;
    top: 0;
  }
  .FAQs_detail_page_template_innerleft_new ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;
  }
  .FAQs_detail_page_template_innerleft_new ul li {
    margin: 0;
  }
  .FAQs_detail_page_template_innerleft_new ul li a {
    font-size: 12px;
    line-height: 21px;
  }
  .FAQs_detail_page_template_mainright_new {
    width: 100%;
    padding: 20px 0 0 0;
  }
  .FAQs_detail_page_template_innerright_2_new {
    display: none;
  }
  .FAQs_detail_page_template_innerright_3_detail_new .accordion {
    margin-top: 0;
  }
  .FAQs_detail_page_template_innerright_3_detail_new.Common_faqs_accordion_new
    .accordion
    > ul
    > li
    .question
    h2 {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.32px;
  }
  .FAQs_detail_page_template_innerright_3_detail_new.Common_faqs_accordion_new
    .accordion
    > ul
    > li
    .answer {
    font-size: 16px;
  }
}