.Page_offline_template_main_new {
  margin: 40px 0;
}
.Page_offline_template_parts_new {
  position: relative;
}
.Page_offline_template_parts_1_detail_new {
  position: relative;
}
.Page_offline_template_parts_1_detail_videoimage_new {
  position: relative;
  height: 357px;
}
.Page_offline_template_parts_1_detail_videoimage_new:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 45.2%,
    rgba(0, 0, 0, 0.6) 100%
  );
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
}
.Page_offline_template_parts_1_detail_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  border-radius: 4px;
}
.Page_offline_template_parts_1_detail_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  border-radius: 4px;
}
.Page_offline_template_parts_2_new {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.Page_offline_template_parts_2_detail_new {
  padding: 15px;
}
.Page_offline_template_parts_2_detail_new p,.Page_offline_template_parts_2_detail_new h1,.Page_offline_template_parts_2_detail_new h2 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 125%;
  margin: 0;
}

.Page_offline_icons_with_texts_main_new {
  margin: 60px 0;
}
.Page_offline_icons_with_texts_inner_new {
  max-width: 853px;
  margin: auto;
}
.Page_offline_icons_with_texts_title_new {
  margin-bottom: 20px;
}
.Page_offline_icons_with_texts_innerloop_new {
  display: flex;
  grid-gap: 37px;
}
.Page_offline_icons_with_texts_innerloop_mainboxs_new {
  padding: 0 12px;
  width: calc(33.33% - 24px);
}
.Page_offline_icons_with_texts_innerloop_icons_new img {
  width: auto;
  height: 50px !important;
  display: flex;
  margin: auto;
  justify-content: center;
}
.Page_offline_icons_with_texts_innerloop_infos_new {
  padding-top: 30px;
}
.Page_offline_icons_with_texts_innerloop_infos_new p {
  color: #3f3d4d;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
  max-width: 302px;
  margin: 0 auto;
}
.Page_offline_icons_with_texts_maintable_new {
  display: none;
  margin: 60px 0;
}

.Page_offline_testimonial_main_new {
  margin: 60px 0;
}
.Page_offline_testimonial_inner_new {
  padding: 37px 20px 28px;
  max-width: 1080px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #e1e1e5;
}
.Page_offline_testimonial_leftrightboth_new {
  display: flex;
  max-width: 770px;
  margin: auto;
}
.Page_offline_testimonial_mainleft_new {
  width: 119px;
}
.Page_offline_testimonial_innerleft_1_videoimageboth_new {
  height: 119px;
  position: relative;
}
.Page_offline_testimonial_innerleft_1_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  border-radius: 100px;
}
.Page_offline_testimonial_innerleft_1_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  border-radius: 100px;
}
.Page_offline_testimonial_innerleft_2_new {
  padding-top: 6px;
}
.Page_offline_testimonial_innerleft_2_title_new h4 {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 133.333%;
  margin: 0;
}
.Page_offline_testimonial_innerleft_2_texts_new {
  color: #aa6437;
  font-size: 12px;
  font-weight: 400;
  line-height: 133.333%;
  text-align: center;
}
.Page_offline_testimonial_mainright_new {
  width: calc(100% - 119px);
  padding-left: 15px;
}
.Page_offline_testimonial_innerright_new p {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Page_offline_template_parts_1_detail_videoimage_new {
    height: 300px;
  }
  .Page_offline_template_parts_2_detail_new p,.Page_offline_template_parts_2_detail_new h1,.Page_offline_template_parts_2_detail_new h2 {
    font-size: 30px;
  }

  .Page_offline_icons_with_texts_main_new {
    margin: 50px 0;
  }
  .Page_offline_testimonial_main_new {
    margin: 50px 0;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Page_offline_template_main_new {
    margin: 30px 0;
  }
  .Page_offline_template_parts_1_detail_videoimage_new {
    height: 270px;
  }
  .Page_offline_template_parts_2_detail_new p,.Page_offline_template_parts_2_detail_new h1,.Page_offline_template_parts_2_detail_new h2 {
    font-size: 26px;
  }

  .Page_offline_icons_with_texts_main_new {
    margin: 40px 0;
  }
  .Page_offline_icons_with_texts_innerloop_new {
    grid-gap: 30px;
  }
  .Page_offline_icons_with_texts_innerloop_mainboxs_new {
    width: calc(33.33% - 20px);
  }
  .Page_offline_icons_with_texts_innerloop_infos_new {
    padding-top: 20px;
  }
  .Page_offline_icons_with_texts_innerloop_infos_new p {
    font-size: 16px;
  }

  .Page_offline_testimonial_main_new {
    margin: 40px 0;
  }
  .Page_offline_testimonial_inner_new {
    padding: 25px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Page_offline_template_main_new {
    margin: 30px 0;
  }
  .Page_offline_template_parts_1_detail_videoimage_new {
    height: 250px;
  }
  .Page_offline_template_parts_2_detail_new p,.Page_offline_template_parts_2_detail_new h1,.Page_offline_template_parts_2_detail_new h2 {
    font-size: 26px;
  }

  .Page_offline_icons_with_texts_main_new {
    margin: 40px 0;
  }
  .Page_offline_icons_with_texts_innerloop_new {
    flex-direction: column;
    grid-gap: 25px;
  }
  .Page_offline_icons_with_texts_innerloop_mainboxs_new {
    padding: 0;
    width: 100%;
  }
  .Page_offline_icons_with_texts_innerloop_infos_new p {
    font-size: 16px;
  }
  .Page_offline_icons_with_texts_innerloop_infos_new {
    padding-top: 20px;
  }

  .Page_offline_testimonial_main_new {
    margin: 40px 0;
  }
  .Page_offline_testimonial_inner_new {
    padding: 20px;
  }
  .Page_offline_testimonial_leftrightboth_new {
    display: block;
  }
  .Page_offline_testimonial_mainleft_new {
    margin: auto;
    width: 100%;
  }
  .Page_offline_testimonial_innerleft_1_new {
    width: 119px;
    margin: auto;
  }
  .Page_offline_testimonial_mainright_new {
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center;
  }
  .Page_offline_testimonial_innerright_new p {
    max-width: 100%;
    font-size: 14px;
  }
}