.Page_Events_sliders_main_new {
  position: relative;
}
.Page_Events_sliders_inner_new {
  position: relative;
}
.Page_Events_sliders_mainstatic_new {
  position: relative;
}
.Page_Events_sliders_mainstatic_new:after {
  position: absolute;
  content: "";
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 86.33%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
}
.Page_Events_sliders_innerstatic_1_new {
  position: absolute;
  width: 100%;
  z-index: 3;
  padding: 60px;
}
.Page_Events_sliders_innerstatic_1_detail_new {
  position: relative;
}
.Page_Events_sliders_innerstatic_1_detail_button_new {
  position: absolute;
  top: 0;
  left: 0;
}
.Page_Events_sliders_innerstatic_1_detail_button_new a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.Page_Events_sliders_innerstatic_1_detail_button_new a svg {
  width: 24px;
  margin-right: 20px;
  vertical-align: middle;
}
.Page_Events_sliders_innerstatic_1_detail_title_new {
  padding: 0 100px;
}
.Page_Events_sliders_innerstatic_1_detail_title_new h4 {
  font-family: var(--font-body-family);
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.Page_Events_sliders_innerstatic_2_videoimage_new {
  height: 100vh;
  position: relative;
  width: 100%;
}
.Page_Events_sliders_innerstatic_2_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Page_Events_sliders_innerstatic_2_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Page_Events_sliders_innerstatic_3_new {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 60px;
}
.Page_Events_sliders_mainloop_new {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 4;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.Page_Events_sliders_mainloop_new.active {
  left: 0;
}
.Page_Events_sliders_innerloop_new {
  height: 100%;
}
.Page_event_slider {
  height: 100%;
}
.button_transparent {
  min-width: 190px;
  border: 1px solid #fff;
  background: none;
  border-radius: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 4.8px;
  padding: 11px 10px;
}
.button_transparent:hover {
  background: #fff;
  color: #000;
}
.Left_text_image_main_new,
.Image_side_image_main_new,
.Middle_text_image_main_new,
.Left_author_text_image_main_new {
  position: relative;
}
.Left_text_image_main_new:after,
.Image_side_image_main_new:after,
.Middle_text_image_main_new:after,
.Left_author_text_image_main_new:after {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 86.33%
  );
  width: 100%;
  height: 240px;
  top: 0;
  left: 0;
  z-index: 1;
}
.Image_side_image_main_new:before,
.Middle_text_image_main_new:before {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 86.33%
  );
  width: 100%;
  height: 240px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.Left_text_image_inner_new {
  display: flex;
}
.Left_text_image_mainleft_new {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Left_text_image_innerleft_new {
  max-width: 252px;
}
.Left_text_image_innerleft_1_logos_new {
  text-align: center;
}
.Left_text_image_innerleft_1_logos_new img {
  width: auto;
  height: 24px !important;
  display: flex;
  justify-content: center;
  margin: auto;
}
.Left_text_image_innerleft_1_title_new {
  padding-top: 40px;
}
.Left_text_image_innerleft_1_title_new h4 {
  font-family: var(--font-body-family);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 100.714%;
  letter-spacing: 11.2px;
  margin: 0;
  text-transform: uppercase;
}
.Left_text_image_innerleft_2_new {
  padding-top: 70px;
}
.Left_text_image_innerleft_2_title_new h2 {
  color: #fff;
  text-align: center;
  font-family: Didot;
  font-size: 64px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -6.4px;
  margin: 0;
  text-transform: uppercase;
}
.Left_text_image_innerleft_2_infos_new {
  padding-top: 20px;
}
.Left_text_image_innerleft_2_infos_new p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%;
  letter-spacing: 1.6px;
}
.Left_text_image_innerleft_3_new {
  padding-top: 70px;
}
.Left_text_image_innerleft_3_new p {
  margin: auto;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 143.75%;
  letter-spacing: 0.8px;
}
.Left_text_image_mainright_new {
  width: 65%;
}
.Left_text_image_innerright_videoimageboth_new {
  position: relative;
  height: 100vh;
  width: 100%;
}
.Left_text_image_innerright_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Left_text_image_innerright_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}

.Image_side_image_inner_new {
  display: flex;
}
.Image_side_image_mainboxs_new {
  width: 33.33%;
  position: relative;
}
.Image_side_image_innerboxs_1_videoimageboth_new {
  position: relative;
  height: 100vh;
  width: 100%;
}
.Image_side_image_innerboxs_1_videoimage_new img,
.Image_side_image_innerboxs_1_videoimage_new video{
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Image_side_image_innerboxs_2_new {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 78px 10px;
  z-index: 3;
}
.Image_side_image_innerboxs_2_new .button_transparent {
  min-width: 174px;
}

.Middle_text_image_inner_new {
  display: flex;
}
.Middle_text_image_mainvideoimage_new {
  width: 33.33%;
}
.Middle_text_image_innervideoimage_videoimageboth_new {
  position: relative;
  height: 100vh;
  width: 100%;
}
.Middle_text_image_innervideoimage_videoimage_new video,
.Middle_text_image_innervideoimage_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Middle_text_image_maindetail_new {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Middle_text_image_innerdetail_new {
  max-width: 281px;
}
.Middle_text_image_innerdetail_titletexts_new h4 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.24px;
}
.Middle_text_image_innerdetail_logos_new {
  padding-top: 61px;
  text-align: center;
}
.Middle_text_image_innerdetail_logos_new img {
  width: auto;
  height: 38px !important;
  display: flex;
  justify-content: center;
  margin: auto;
}
.Middle_text_image_innerdetail_icons_new {
  padding-top: 30px;
  text-align: center;
}
.Middle_text_image_innerdetail_icons_new svg {
  width: auto;
  height: 25px !important;
  display: flex;
  justify-content: center;
  margin: auto;
}
.Middle_text_image_innerdetail_title_new {
  padding-top: 30px;
}
.Middle_text_image_innerdetail_title_new h4 {
  color: #fff;
  text-align: center;
  font-family: Northwell;
  font-size: 36px;
  font-weight: 400;
  line-height: 100.889%;
  letter-spacing: 0.36px;
  margin: 0;
}
.Middle_text_image_innerdetail_infos_new {
  padding-top: 61px;
}
.Middle_text_image_innerdetail_infos_new p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 143.75%;
  letter-spacing: 0.8px;
  margin: 0 auto;
}

.Left_author_text_image_inner_new {
  display: flex;
}
.Left_author_text_image_mainleft_new {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Left_author_text_image_innerleft_new {
  max-width: 223px;
}
.Left_author_text_image_innerleft_logos_new {
  text-align: center;
}
.Left_author_text_image_innerleft_logos_new img {
  width: auto;
  height: 38px !important;
  display: flex;
  justify-content: center;
  margin: auto;
}
.Left_author_text_image_innerleft_infos_new {
  padding-top: 61px;
}
.Left_author_text_image_innerleft_infos_new p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 144.444%;
  margin: 0 auto;
}
.Left_author_text_image_mainright_new {
  width: 65%;
}
.Left_author_text_image_innerright_videoimageboth_new {
  position: relative;
  height: 100vh;
  width: 100%;
}
.Left_author_text_image_innerright_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Left_author_text_image_innerright_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  object-position: top;
}
.Left_author_text_image_innerleft_authordetail_new {
  padding-top: 61px;
}
.Left_author_text_image_innerleft_author_new h4 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
}
.Left_author_text_image_innerleft_detail_new h4 {
  font-family: var(--font-body-family);
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .Page_Events_sliders_innerstatic_1_new {
    padding: 40px 30px;
  }
  .Page_Events_sliders_innerstatic_1_detail_button_new a {
    font-size: 14px;
  }
  .Page_Events_sliders_innerstatic_1_detail_title_new h4 {
    font-size: 14px;
  }
  .Page_Events_sliders_innerstatic_3_new {
    padding: 40px;
  }

  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 20px;
  }

  .Left_text_image_innerleft_2_new {
    padding-top: 40px;
  }
  .Left_text_image_innerleft_3_new {
    padding-top: 40px;
  }

  .Image_side_image_innerboxs_2_new {
    padding: 50px 10px;
  }

  .Middle_text_image_innerdetail_logos_new {
    padding-top: 40px;
  }
  .Middle_text_image_innerdetail_infos_new {
    padding-top: 40px;
  }

  .Left_author_text_image_innerleft_infos_new {
    padding-top: 40px;
  }
  .Left_author_text_image_innerleft_authordetail_new {
    padding-top: 40px;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Page_Events_sliders_innerstatic_1_new {
    padding: 30px 16px;
  }
  .Page_Events_sliders_innerstatic_1_detail_button_new a {
    font-size: 0;
  }
  .Page_Events_sliders_innerstatic_1_detail_title_new {
    padding: 0 50px;
  }
  .Page_Events_sliders_innerstatic_1_detail_title_new h4 {
    font-size: 14px;
  }
  .Page_Events_sliders_innerstatic_3_new {
    padding: 40px;
  }

  .Left_text_image_main_new:after,
  .Image_side_image_main_new:after,
  .Middle_text_image_main_new:after,
  .Left_author_text_image_main_new:after {
    height: 140px;
  }
  .Image_side_image_main_new:before,
  .Middle_text_image_main_new:before {
    height: 140px;
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 16px;
  }
  .Left_text_image_main_new,
  .Image_side_image_main_new,
  .Middle_text_image_main_new,
  .Left_author_text_image_main_new {
    height: 100%;
  }

  .Left_text_image_mainleft_new {
    width: 40%;
  }
  .Left_text_image_mainright_new {
    width: 60%;
  }
  .Left_text_image_innerleft_1_title_new {
    padding-top: 20px;
  }
  .Left_text_image_innerleft_2_new {
    padding-top: 30px;
  }
  .Left_text_image_innerleft_2_title_new h2 {
    font-size: 40px;
    line-height: 100%;
  }
  .Left_text_image_innerleft_2_infos_new {
    padding-top: 15px;
  }
  .Left_text_image_innerleft_2_infos_new p {
    font-size: 14px;
  }
  .Left_text_image_innerleft_3_new {
    padding-top: 30px;
  }
  .Left_text_image_innerleft_3_new p {
    font-size: 14px;
  }
  .Left_text_image_innerleft_new {
    max-width: 300px;
  }

  .Image_side_image_innerboxs_2_new {
    padding: 30px;
  }
  .Image_side_image_innerboxs_2_new .button_transparent {
    min-width: 140px;
    padding: 6px;
    font-size: 12px;
    letter-spacing: 2.8px;
  }

  .Middle_text_image_innerdetail_titletexts_new h4 {
    font-size: 18px;
  }
  .Middle_text_image_innerdetail_logos_new {
    padding-top: 30px;
  }
  .Middle_text_image_innerdetail_logos_new img {
    height: 28px !important;
  }
  .Middle_text_image_innerdetail_icons_new {
    padding-top: 20px;
  }
  .Middle_text_image_innerdetail_title_new {
    padding-top: 20px;
  }
  .Middle_text_image_innerdetail_title_new h4 {
    font-size: 30px;
  }
  .Middle_text_image_innerdetail_infos_new {
    padding-top: 30px;
  }
  .Middle_text_image_innerdetail_new {
    max-width: 300px;
  }
  .Middle_text_image_innerdetail_infos_new p {
    font-size: 14px;
  }

  .Left_author_text_image_mainleft_new {
    width: 40%;
  }
  .Left_author_text_image_mainright_new {
    width: 60%;
  }
  .Left_author_text_image_innerleft_new {
    max-width: 300px;
  }
  .Left_author_text_image_innerleft_logos_new img {
    height: 28px !important;
  }
  .Left_author_text_image_innerleft_infos_new {
    padding-top: 30px;
  }
  .Left_author_text_image_innerleft_infos_new p {
    font-size: 14px;
  }
  .Left_author_text_image_innerleft_authordetail_new {
    padding-top: 30px;
  }
  .Left_author_text_image_innerleft_author_new h4 {
    font-size: 14px;
  }
  .Left_author_text_image_innerleft_detail_new h4 {
    font-size: 14px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Page_Events_sliders_innerstatic_1_new {
    padding: 16px;
  }
  .Page_Events_sliders_innerstatic_1_detail_title_new {
    padding: 0 40px;
  }
  .Page_Events_sliders_innerstatic_1_detail_button_new a {
    font-size: 0;
  }
  .Page_Events_sliders_innerstatic_1_detail_title_new h4 {
    font-size: 13px;
  }
  .Page_Events_sliders_innerstatic_3_new {
    padding: 40px;
  }

  .Left_text_image_main_new:after,
  .Image_side_image_main_new:after,
  .Middle_text_image_main_new:after,
  .Left_author_text_image_main_new:after {
    height: 140px;
  }
  .Image_side_image_main_new:before,
  .Middle_text_image_main_new:before {
    height: 140px;
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 16px;
  }
  .Left_text_image_main_new,
  .Image_side_image_main_new,
  .Middle_text_image_main_new,
  .Left_author_text_image_main_new {
    height: 100%;
  }

  .Left_text_image_inner_new {
    flex-direction: column;
    height: 100%;
  }
  .Left_text_image_mainleft_new {
    width: 100%;
    padding: 100px 20px 30px 20px;
  }
  .Left_text_image_mainright_new {
    width: 100%;
    height: 100%;
  }
  .Left_text_image_innerleft_1_title_new {
    padding-top: 20px;
  }
  .Left_text_image_innerleft_2_new {
    padding-top: 30px;
  }
  .Left_text_image_innerleft_2_title_new h2 {
    font-size: 40px;
    line-height: 100%;
  }
  .Left_text_image_innerleft_2_infos_new {
    padding-top: 15px;
  }
  .Left_text_image_innerleft_2_infos_new p {
    font-size: 14px;
  }
  .Left_text_image_innerleft_3_new {
    padding-top: 30px;
  }
  .Left_text_image_innerleft_3_new p {
    font-size: 14px;
  }
  .Left_text_image_innerleft_new {
    max-width: 300px;
  }
  .Left_text_image_innerright_new {
    height: 100%;
  }
  .Left_text_image_innerright_videoimageboth_new {
    height: 100%;
  }

  .Image_side_image_inner_new {
    flex-direction: column;
    height: 100%;
  }
  .Image_side_image_mainboxs_new {
    width: 100%;
    height: 33.33%;
  }
  .Image_side_image_innerboxs_new {
    height: 100%;
  }
  .Image_side_image_innerboxs_1_new {
    height: 100%;
  }
  .Image_side_image_innerboxs_1_videoimageboth_new {
    height: 100%;
  }
  .Image_side_image_innerboxs_1_videoimage_new {
    height: 100%;
  }
  .Image_side_image_innerboxs_2_new {
    padding: 20px;
  }
  .Image_side_image_innerboxs_2_new .button_transparent {
    min-width: 140px;
    padding: 6px;
    font-size: 12px;
    letter-spacing: 2.8px;
  }

  .Middle_text_image_inner_new {
    flex-direction: column;
    height: 100%;
  }
  .Middle_text_image_mainvideoimage_new {
    width: 100%;
    height: 100%;
  }
  .Middle_text_image_maindetail_new {
    width: 100%;
  }
  .Middle_text_image_innervideoimage_new {
    height: 100%;
  }
  .Middle_text_image_innervideoimage_videoimageboth_new {
    height: 100%;
  }
  .Middle_text_image_innervideoimage_videoimage_new {
    height: 100%;
  }
  .Middle_text_image_innerdetail_titletexts_new h4 {
    font-size: 18px;
  }
  .Middle_text_image_innerdetail_logos_new {
    padding-top: 30px;
  }
  .Middle_text_image_innerdetail_logos_new img {
    height: 28px !important;
  }
  .Middle_text_image_innerdetail_icons_new {
    padding-top: 20px;
  }
  .Middle_text_image_innerdetail_title_new {
    padding-top: 20px;
  }
  .Middle_text_image_innerdetail_title_new h4 {
    font-size: 30px;
  }
  .Middle_text_image_innerdetail_infos_new {
    padding-top: 30px;
  }
  .Middle_text_image_innerdetail_new {
    max-width: 300px;
  }
  .Middle_text_image_innerdetail_infos_new p {
    font-size: 14px;
  }

  .Left_author_text_image_inner_new {
    flex-direction: column;
    height: 100%;
  }
  .Left_author_text_image_mainleft_new {
    width: 100%;
    padding: 100px 20px 30px 20px;
  }
  .Left_author_text_image_mainright_new {
    width: 100%;
    height: 100%;
  }
  .Left_author_text_image_innerleft_new {
    max-width: 300px;
  }
  .Left_author_text_image_innerleft_logos_new img {
    height: 28px !important;
  }
  .Left_author_text_image_innerleft_infos_new {
    padding-top: 30px;
  }
  .Left_author_text_image_innerleft_infos_new p {
    font-size: 14px;
  }
  .Left_author_text_image_innerleft_authordetail_new {
    padding-top: 30px;
  }
  .Left_author_text_image_innerleft_author_new h4 {
    font-size: 14px;
  }
  .Left_author_text_image_innerleft_detail_new h4 {
    font-size: 14px;
  }
  .Left_author_text_image_innerright_new {
    height: 100%;
  }
  .Left_author_text_image_innerright_videoimageboth_new {
    height: 100%;
  }
  .Left_author_text_image_innerright_videoimage_new {
    height: 100%;
  }
}