.plp-explore-more-section {
  display: flex;
  flex-wrap: Wrap;
  grid-gap: 20px;
}
.plp-explore-more-section a {
  width: calc(50% - 10px);
}
.plp-explore-more-section a img.Hover_image_new {
  max-width: 100%;
  width: 100%;
}
.plp-explore-more-section_title {
  text-align: left;
}
.men_collection_banner_new .Collection_object_banners_mainloop_new {
  padding: 0 70px;
}
@media (max-width: 750px) {
  .plp-explore-more-section a {
    width: calc(100%);
  }
}