.plp-explore-more-section {
  display: flex;
  flex-wrap: Wrap;
  grid-gap: 20px;
}
.plp-explore-more-section a {
  width: calc(50% - 10px);
}
.plp-explore-more-section a img.Hover_image_new {
  max-width: 100%;
  width: 100%;
}
.plp-explore-more-section_title {
  text-align: left;
}
.men_collection_banner_new .Collection_object_banners_mainloop_new {
  padding: 0 70px;
}
.Collection_object_banners_main_new {
  margin: 50px 0;
}
.Collection_object_banners_title_new {
  text-align: left;
}
.Collection_object_banners_innerloop_new {
  display: flex;
  flex-wrap: Wrap;
  grid-gap: 20px;
}
.Collection_object_banners_innerloop_mainbox_new {
  width: calc(50% - 10px);
}
.Collection_object_banners_innerloop_innerbox_videoimageboth_new {
  width: 100%;
  position: relative;
}
.Collection_object_banners_innerloop_innerbox_videoimage_new video {
  width: 100%;
  display: flex;
}
.Collection_object_banners_innerloop_innerbox_videoimage_new img {
  width: 100%;
  display: flex;
}
.template--mens-detail-new .Collection_object_banners_mainloop_new {
  padding: 0;
  margin: auto;
}
@media (max-width: 750px) {
  .plp-explore-more-section a {
    width: calc(100%);
  }
  .men_collection_banner_new .Collection_object_banners_mainloop_new {
    padding: 0;
  }
}
@media (min-width: 990px) and (max-width: 1424px) {
   .Collection_object_banners_main_new {
    margin: 40px 0;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Collection_object_banners_main_new {
    margin: 40px 0;
  }
  .Collection_object_banners_innerloop_new {
    grid-gap: 10px;
  }
  .Collection_object_banners_innerloop_mainbox_new {
    width: calc(50% - 5px);
  }
  .men_collection_banner_new .Collection_object_banners_mainloop_new {
    padding: 0;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Collection_object_banners_main_new {
    margin: 30px 0;
  }
  .Collection_object_banners_innerloop_new {
    display: block;
  }
  .Collection_object_banners_innerloop_mainbox_new {
    width: 100%;
    margin-bottom: 11px;
  }
  .Collection_object_banners_innerloop_mainbox_new:last-child {
    margin-bottom: 0;
  }
  .men_collection_banner_new .Collection_object_banners_mainloop_new {
    padding: 0;
  }
}