.photo-collage-section{
  padding: 80px 0 80px;
}
.photo-collage-section .photo-title-section-box .small-star{width: 6%;  display: block;}
.photo-collage-section .big-star{width:15%; margin:30px auto 50px auto;display: block;}
.photo-collage-section .collage-img{max-width: 100%; }

  @media screen and (max-width: 749px) {
    .photo-collage-section{
  padding: 40px 0 80px;
}
.photo-collage-section .photo-title-section-box .small-star{width: 10%; }
    .photo-collage-section .big-star{width:15%;  margin:0 auto 40px auto;}

  }
@media screen and (max-width: 425px) {
.photo-collage-section .small-star{width: 20%; }
  .photo-collage-section .big-star{width:20%;}
  
}