
.RK-Product-grid-section{padding: 80px 0 0;}
ul.RK-Product-grid{display: flex; gap: 20px; flex-wrap: wrap;padding: 0;align-items: flex-start;}
ul.RK-Product-grid li{list-style: none; background-image: url("https://cdn.shopify.com/s/files/1/0636/0134/4666/files/OjUDQC-bg.png?v=1750833324");padding: 20px 10px 0;width: calc(20% - 16px);}
ul.RK-Product-grid li img{ width: 100%; }

.RK-Product-grid li:nth-child(5n+2) {
  margin-top: 60px;
}
.RK-Product-grid li:nth-child(5n+3) {
  margin-top: 120px;
}
.RK-Product-grid li:nth-child(5n+4) {
  margin-top: 60px;
}
ul.RK-Product-grid li a{color:#000; }

@media screen and (max-width: 1024px) { 

.RK-Product-grid-section{ padding: 40px 0 0;}
ul.RK-Product-grid li p{font-size: 14px;line-height: 1.3;}
  
}
@media screen and (max-width: 991px) {
  ul.RK-Product-grid {justify-content: space-between;align-items: normal;}
  ul.RK-Product-grid li{width: calc(33% - 16px);}
  .RK-Product-grid li:nth-child(5n+2),.RK-Product-grid li:nth-child(5n+3),.RK-Product-grid li:nth-child(5n+4){ margin: 0}
}

@media screen and (max-width: 749px) {
  ul.RK-Product-grid li{width: calc(50% - 16px);}
}
@media screen and (max-width: 425px) {
  ul.RK-Product-grid li{width: 80%;margin: auto}
  .RK-Product-grid li:nth-child(5n+2),.RK-Product-grid li:nth-child(5n+3),.RK-Product-grid li:nth-child(5n+4){ margin: auto}
}