h2.video-3-title{ color:#fff; font-size: 40px;font-family: "Forum", serif; text-align:center; margin-top:0px;    margin-bottom: 0; }

.video-3-section{margin: 80px 0 0}
.video-3-section .big-star{width:10%; margin:0 auto 80px auto;display: block;}
.rajakumari3video_main_new,
.Index_form_app_detail_main_new {
  margin: 18px 0;
}
.rajakumari3video_allloop_innerboxs_new:after {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 182px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.rajakumari3video_allloop_innerboxs_1_new {
  position: relative;
  z-index: 1;
}
.rajakumari3video_allloop_new {
  display: flex;
  align-items: center;
  grid-gap: 50px;
  width: 90%;
  margin: auto;
}
.rajakumari3video_allloop_mainboxs_new {
  /* max-width: 450px; */
  position: relative;
  background-image: url("https://cdn.shopify.com/s/files/1/0636/0134/4666/files/OjUDQC-bg.png?v=1750833324");
  padding: 20px 10px 20px 10px;
}
.rajakumari3video_allloop_mainboxs_new > a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: block !important;
  width: 100%;
  height: 100%;
  transition: none;
}
.rajakumari3video_allloop_mainboxs_new:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 182px;
  background: linear-gradient(180deg, #0000, #000000b3);
}
.rajakumari3video_allloop_innerboxs_1_videoimageboth_new {
  padding-bottom: 133.335%;
  position: relative;
}

.rajakumari3video_allloop_innerboxs_1_videoimage_new img,
.rajakumari3video_allloop_innerboxs_1_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  object-position: top;
}
.rajakumari3video_allloop_innerboxs_2_new {
}
.rajakumari3video_allloop_innerboxs_2_tagstextsboth_new {
  background: url("style_round.svg") no-repeat center center;
  background-size: 100%;
  top: 18px;
  right: 18px;
  width: 94px;
  height: 94px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.rajakumari3video_allloop_innerboxs_2_tagstextsboth_new p {
  padding: 10px;
  color: #f0be93;
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.149px;
  margin: 0;
  text-align: center;
}
.rajakumari3video_allloop_innerboxs_3_new {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 37px 15px;
  width: 100%;
  z-index: 3;
}
.rajakumari3video_allloop_innerboxs_3_title_new h2, .rajakumari3video_allloop_innerboxs_3_title_new h3 {
  margin: 0;
}
.rajakumari3video_allloop_innerboxs_3_title_new h2, .rajakumari3video_allloop_innerboxs_3_title_new h3 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.22px;
  text-transform: capitalize;
  margin: 0;
  font-family: var(--font-noto-serif-display);
}
.rajakumari3video_allloop_mainboxs_new:hover .button_white {
  /*background:#000; color:#fff;*/
  text-decoration: underline;
}
.rajakumari3video_allloop_innerboxs_3_subtitle_new p {
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0;
  line-height: 1;
  padding-top: 5px;
}
.rajakumari3video_allloop_innerboxs_3_button_new {
  padding-top: 19px;
  text-align: center;
}

.rajakumari3video_allloop_innerboxs_3_title_new h3 {
  margin: 0;
}

.rajakumari3video_allloop_innerboxs_3_title_new h3 p {
    margin: 0;
}
@media (min-width: 990px) and (max-width: 1424px) {
  .rajakumari3video_allloop_innerboxs_3_new {
    padding: 20px 15px;
  }
  
}
@media (min-width: 750px) and (max-width: 989px) {
  
  .rajakumari3video_main_new {
    margin: 10px auto;
  }
  .rajakumari3video_allloop_new {
    grid-gap: 10px;
  }
  .rajakumari3video_allloop_innerboxs_2_tagstextsboth_new {
    top: 15px;
    right: 15px;
    width: 55px;
    height: 55px;
  }
  .rajakumari3video_allloop_innerboxs_2_tagstextsboth_new p {
    padding: 10px;
    font-size: 10px;
  }
  .rajakumari3video_allloop_innerboxs_3_new {
    padding: 15px;
  }
  .rajakumari3video_allloop_innerboxs_3_title_new h2, .rajakumari3video_allloop_innerboxs_3_title_new h3 {
    font-size: 16px;
  }
  .rajakumari3video_allloop_innerboxs_3_button_new {
    padding-top: 12px;
  }
  
}
@media ((min-width: 750px) and (max-width: 1080px)) {
  .rajakumari3video_allloop_new {
    margin-bottom: 40px;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .video-3-section{margin: 40px 0 0}
.video-3-section .big-star{width:20%; margin:20px auto 40px auto;display: block;}
  
h2.video-3-title{font-size: 20px}
  .raja_kumari_3video_slider .swiper-button-next{background: transparent url(https://cdn.shopify.com/s/files/1/0636/0134/4666/files/right_arrow_slider_white.svg?v=1751004290) no-repeat right center; background-size: 40%;}
  .raja_kumari_3video_slider .swiper-button-prev{background: transparent url(https://cdn.shopify.com/s/files/1/0636/0134/4666/files/left_arrow_slider_white.svg?v=1751004289) no-repeat left center; background-size: 40%;}
  
  .rajakumari3video_main_new {
    margin: 10px 0;
  }
  .rajakumari3video_allloop_new {
    grid-gap: 10px;
    flex-flow: wrap;
    padding: 0 20px;
  }

  .rajakumari3video_allloop_innerboxs_2_tagstextsboth_new {
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-size: 100%;
  }
  .rajakumari3video_allloop_innerboxs_2_tagstextsboth_new p {
    font-size: 9px;
    line-height: 110%;
    letter-spacing: 0.075px;
    padding: 5px;
  }
  .rajakumari3video_allloop_innerboxs_3_new {
    padding: 20px 8px;
  }
  .rajakumari3video_allloop_innerboxs_3_title_new h2, .rajakumari3video_allloop_innerboxs_3_title_new h3 {
    font-size: 18px;
    letter-spacing: 0.16px;
    line-height: 125%;
  }
  .rajakumari3video_allloop_innerboxs_3_button_new {
    padding-top: 10px;
  }
  .rajakumari3video_allloop_mainboxs_new:hover .button_white {
    background: #fff;
    color: #000;
  }
  .rajakumari3video_allloop_innerboxs_3_button_new .button_white {
    min-width: 130px !important;
  }
  .rajakumari3video_allloop_innerboxs_3_subtitle_new p {
    font-size: 14px;
  }
 
  .rajakumari3video_allloop_innerboxs_3_button_new {
    padding-top: 10px;
  }
  
}