.video2-section{
    padding: 80px 0 0;
}
.video2-section .photo-title-section-box .small-star{width: 5%;}



.video2-section .photonote-title-section-box img{margin: 30px auto 8% auto; width: 14%;display: block;}
.video-section__media {
  --ratio-percent: 56.25%;
  position: relative;
  padding-bottom: calc(var(--ratio-percent) - var(--media-border-width));
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.scroll-trigger:where(.gradient.video-section__media) {
  background: transparent;
}

.video-section__media.global-media-settings--full-width {
  padding-bottom: var(--ratio-percent);
}

.video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe,
.video-section__media video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-section__media video {
  background: #000000;
}

.video-section__media.media-fit-cover video {
  object-fit: cover;
}

/* bride and barat form header footer hide start*/
.template--bride-barat-form #MainContent,
.template--measurement #MainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  width: 70%;
}
.template--bride-barat-form .shopify-section.block,
.template--bride-barat-form .shopify-section.section,
.template--measurement .shopify-section.block,
.template--measurement .shopify-section.section {
  width: 50%;
}

.template--bride-barat-form .test-demo.header-wrapper,
.template--bride-barat-form .Footer_main_new,
.template--measurement .test-demo.header-wrapper,
.template--measurement .Footer_main_new {
  display: none;
}
.template--measurement {
  display: grid;
  grid-template-rows: auto;
}
.template--bride-barat-form {
  display: grid;
  grid-template-rows: auto;
}
 @media (min-width: 0px) and (max-width: 749px) {
   .photonote-title-section-box img.small-star{width: 9%;}
   .video2-section .photo-title-section-box .small-star{width: 11%;}
 }
@media (max-width: 750px) {
  .template--bride-barat-form #MainContent,
  .template--measurement #MainContent {
    flex-direction: column;
  }
  .template--bride-barat-form .shopify-section.block,
  .template--bride-barat-form .shopify-section.section,
  .template--measurement .shopify-section.block,
  .template--measurement .shopify-section.section {
    width: 100%;
  }
}
/* bride and barat form header footer hide close  */
@media screen and (max-width: 1024px) { 
.video2-section{ padding: 40px 0 0;}
}
