.read-more-container{
  margin: 16px 0;
}
.read-more-content {
      overflow: hidden;
      max-height: 50px;
      transition: max-height 0.3s ease;
      margin: 0px 0;
    }

    .read-more-content.expanded {
      max-height: 1000px;
    }

    .read-more-button {
      display: inline-block;
      margin-top: 10px;
      color: rgba(var(--color-foreground));
      cursor: pointer;
      text-decoration: underline;
      background: none;
      border: none;
      font-size: 1em;
      padding: 0;
    }

    .hidden {
      display: none;
    }

@media screen and (max-width: 749px) {
  .read-more-button {
      font-size: .8em;;
    }
}