.sticky-rw {
    position: fixed;
    right: -220px;
    height: 100vh;
    top: 0;
    width: fit-content;
    z-index: 999;
    transition: all 0.2s ease;
    display: block;
}
.sticky-rw.locked {
    display: none;
}
.sticky-rw.is-open {
    right: 0;
}
.sticky-rw .wrapper {
    height: 100%;
}
.sticky-rw .rw__btn {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    max-width: 36px;
    width: 100%;
    background-color: #262433;
    padding: 10px;
    height: 175px;
    cursor: pointer;
}
.sticky-rw .btn__label {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    white-space: nowrap;
    transform: rotate(90deg);
    display: block;
    letter-spacing: 0.4px;
}
.sticky-rw .icon__wrap {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    display: flex;
}
.sticky-rw.is-open .icon__wrap svg {
    transform: rotate(180deg);
}
.sticky-rw .icon__wrap svg {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}
.sticky-rw .rw__drawer {
    background-color: #fff;
    height: 100%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.4);
}
.sticky-rw .rw__drawer-inner {
    overflow-y: auto;
    padding: 15px;
    height: 100%;
}
.sticky-rw .rw__drawer-inner::-webkit-scrollbar {
    display: none;
}
.sticky-rw .rw__drawer-inner::-webkit-scrollbar-thumb {
    display: none;
}
.sticky-rw .rw__drawer-inner::-webkit-scrollbar-track {
    display: none;
}
.sticky-rw .product-item {
    padding: 15px 0;
    display: block;
    text-decoration: none;
}
.sticky-rw .product-item:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}
.sticky-rw .product__img {
    max-width: 120px;
    height: 170px;
    margin: 0 auto 8px;
}
.sticky-rw .product__img img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: top;
    display: block;
}
.sticky-rw .product-details {
    max-width: 190px;
    text-align: center;
}
.sticky-rw .product-title {
    font-size: 14px;
    font-weight: 400;
    color: #4f4f4f;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.sticky-rw .product-price {
    font-size: 16px;
    font-weight: 700;
    display: block;
    line-height: 1;
    letter-spacing: 0;
    color: #4f4f4f;
}