@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    /* max-width: 100%; */
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: fixed;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.Collection_product_grid_main_new {
  margin: 18px 0 50px 0 !important;
}
.collection_left_new {
  width: 260px;
  padding-right: 60px;
}
.Collection_product_grid_rightside_innertop_1_detail_new {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
}
.Collection_product_grid_rightside_innertop_1_detail_title_new h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
}
.Collection_product_grid_rightside_innertop_1_detail_title_new h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
}
.Collection_product_grid_rightside_innertop_1_detail_count_new
  .product-count-vertical {
  margin-left: 0 !important;
  opacity: 1 !important;
}
.Collection_product_grid_rightside_innertop_1_detail_new
  .metafield-rich_text_field {
  width: 100%;
}
.Collection_product_grid_rightside_innertop_1_detail_new
  .metafield-rich_text_field
  p {
  color: #000;
  margin: 16px 0;
  font-size: 14px;
  line-height: 122%;
}
.Collection_product_grid_rightside_innertop_1_detail_count_new
  .product-count-vertical
  .product-count__text {
  padding-top: 4px;
  color: #8e8d99;
  font-size: 15px;
  font-weight: 400;
  line-height: 133.333%;
  white-space: nowrap;
}
.Collection_product_grid_rightside_innertop_2_new {
  padding-top: 24px;
}
.Collection_product_grid_rightside_innertop_2_detail_new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Collection_product_grid_leftside_1_new {
  width: 100%;
  margin-top: 24px;
}
.Collection_product_grid_leftside_1_bottom_1_videoimageboth_new {
  position: relative;
  height: 216px;
}
.Collection_product_grid_leftside_1_bottom_1_videoimage_new video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
}
.Collection_product_grid_leftside_1_bottom_1_videoimage_new img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
}
.Collection_product_grid_leftside_1_bottom_2_new {
  padding: 20px;
}
.Collection_product_grid_leftside_1_bottom_2_title_new h2 {
  margin: 0;
}
.Collection_product_grid_leftside_1_bottom_2_title_new h2 p {
  font-family: var(--font-body-family);
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 137.5%;
}
.Collection_product_grid_leftside_1_bottom_2_infos_new p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 114.286%;
  padding-top: 10px;
}
.Collection_product_grid_leftside_1_bottom_2_icons_new {
  padding-top: 30px;
}
.Collection_product_grid_leftside_1_bottom_2_icons_new img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.Collection_product_grid_leftside_1_bottom_2_button_new {
  text-align: center;
  padding-top: 20px;
}
.Collection_product_grid_leftside_1_bottom_2_button_new .black_bg_button {
  background-color: #000000;
  color: #ffffff;
}
.Collection_product_grid_leftside_1_bottom_2_button_new a {
  display: block;
}

.Collection_product_grid_leftside_2_new {
  width: 100%;
  margin-top: 32px;
}
.Collection_product_grid_leftside_2_url_new {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.Collection_product_grid_leftside_2_bottom_icons_new {
  width: 50px;
  margin: auto;
}
.Collection_product_grid_leftside_2_bottom_icons_new img {
  max-width: 100%;
  display: flex;
}
.Collection_product_grid_leftside_2_bottom_title_new p {
  margin: 0 0 20px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 122%;
}
.Collection_product_grid_leftside_2_bottom_btn {
  text-align: center;
}
.Collection_product_grid_leftside_2_bottom_btn a {
  background-color: #000;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  padding: 5px 20px 3px;
}
.collection_full_width_new .Collection_product_grid_new .page-width {
  max-width: 100%;
}
.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
.collection_custom_title_description_new p {
    font-size: 14px;
    line-height: 1.2;
    margin: 16px 0;
}
.Index_featured_collection_main_new {
  margin: 50px 0;
}
.Index_featured_collection_main_new .swiper-button-next,
.Index_featured_collection_main_new .swiper-button-prev {
  top: 39%;
}
.Index_featured_collection_main_new .product_grid_item_new {
  width: 257px;
}
.Index_featured_collection_main_new .swiper-pagination {
  display: none;
  position: relative !important;
  bottom: 0 !important;
  margin-top: 24px !important;
}
.Index_featured_collection_main_new .swiper-pagination-bullet {
  background: #dddddd;
  opacity: 1;
  margin: 0 4px;
}
.Index_featured_collection_main_new .swiper-pagination-bullet-active {
  background: #000000;
}
.Index_collection_slider {
  padding: 0 16px;
}
.Index_collection_slider .swiper-button-next {
  display: none;
}
.Index_collection_slider .swiper-button-prev {
  display: none;
}
.collection__pagination {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}
.collection__pagination .pagination__label {
  font-size: 13px;
  font-weight: 500;
  color: #756f6f;
}
.collection__pagination .pagination__grid {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
.collection__pagination .pagination_item {
  min-width: 28px;
  height: 28px;
  border: 1px dotted #d9d7d7;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  padding: 6px;
}
.collection__pagination .pagination_item.active {
  border: 1px solid #000;
}
.Bridal_collection_desktop_only_new.hide {
  visibility: visible;
  opacity: 1;
}
.Bridal_collection_desktop_only_new {
  justify-content: flex-start !important;
}
#product-grid {
  margin-top: 24px;
}
#product-grid.grid {
  margin-top: 20px;
  --grid-desktop-horizontal-spacing: 20px;
  --grid-desktop-vertical-spacing: 48px;
  --grid-mobile-horizontal-spacing: 8px;
  position: relative;
  z-index: 0;
}

.collection_pagination_new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px !important;
  position: relative;
}
.collection_pagination_new .pagination-wrapper {
  margin-top: 0px !important;
}
.collection_pagination_new .facet-filters {
  padding-left: 0 !important;
}

@media (min-width: 990px) and (max-width: 1424px) {
  .collection_left_new {
    width: 260px;
    padding-right: 60px;
  }
  #product-grid.grid--4-col-desktop .grid__item {
    width: calc(
      33.34% - var(--grid-desktop-horizontal-spacing) * 3 / 4
    ) !important;
    max-width: calc(
      33.34% - var(--grid-desktop-horizontal-spacing) * 3 / 4
    ) !important;
  }
}
@media (min-width: 750px) and (max-width: 9999px) {
  .Bridal_collection_desktop_only_new {
    display: flex !important;
  }
  .Collection_bridal_product_main_new .active-facets__button-remove {
    padding: 0 !important;
  }
}
.Bridal_collection_desktop_only_new a span {
  font-size: 14px;
  line-height: 18px;
  display: block;
}
@media (min-width: 750px) and (max-width: 989px) {
  .collection_left_new {
    width: 220px;
    padding-right: 20px;
  }
  .Collection_product_grid_leftside_1_new {
  }
  .Collection_product_grid_leftside_1_bottom_2_new {
    padding: 15px;
  }
  .Collection_product_grid_leftside_1_bottom_2_title_new h2 p {
    font-size: 22px;
  }
  .Collection_product_grid_leftside_1_bottom_2_icons_new {
    padding-top: 18px;
  }
  .Collection_product_grid_leftside_1_bottom_2_button_new {
    padding-top: 15px;
  }
  .Collection_product_grid_leftside_2_new {
  }
  .Collection_product_grid_leftside_2_bottom_new {
    padding: 15px;
  }
  .Collection_product_grid_leftside_2_bottom_icons_new {
    width: 35px;
  }
  .Collection_product_grid_leftside_2_bottom_title_new {
    padding-top: 10px;
  }
  .Collection_product_grid_leftside_2_bottom_title_new h2 {
    font-size: 22px;
  }
  .Index_featured_collection_main_new {
    margin: 40px 0;
  }
  .Index_featured_collection_main_new .product_grid_item_new {
    width: 172px;
  }
  .collection__pagination_custom {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Collection_product_grid_leftside_1_new {
    display: none;
  }
  .Collection_product_grid_leftside_2_new {
    display: none;
  }
  .Collection_product_grid_rightside_innertop_2_new {
    display: none;
  }
  #product-grid {
    margin-top: 12px;
  }
  .Collection_product_grid_main_new {
    margin: 10px 0 40px !important;
  }
  .Index_featured_collection_main_new {
    margin: 40px 0;
  }
  .Index_featured_collection_main_new .product_grid_item_new {
    width: 160px;
  }
  .Index_featured_collection_main_new .swiper-pagination {
    display: flex;
  }
  .collection .card__heading {
    display: flex;
    grid-gap: 6px;
  }
  .collection .card__heading .plp-delivery-message {
    display: block;
    margin-top: 4px !important;
  }
  .collection .plp-delivery-message .cs_delivery_wrapper-icon {
    width: 12px;
    height: 20px;
  }
  .only-for-mobile-delivery-days {
    display: block;
    margin-bottom: 10px;
  }
  .collection .card-information .plp-delivery-message {
    display: flex;
  }
}
.Collection_product_grid_rightside_maintop_new {
  z-index: 1;
  position: relative;
}
.Collection_product_grid_main_new input[type="checkbox"] {
  display: none;
}
/* sticky left filter menu PLP */
@media (max-width: 1025px) {
  #custom-active-facets {
    display: none;
  }
}
@media (min-width: 1024px) {
  .collection_left_new1 {
    padding-left: 10px !important;
  }
  .collection_left_new {
    overflow: auto;
    direction: rtl;
    padding-right: 40px !important;
    padding-left: 19px;
  }
  .scrolling-element-inside {
    direction: ltr;
  }

  .navScrolled {
    position: fixed;
    top: 0px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .filtertitle {
    padding-left: 19px !important;
  }
  .blokmargin {
    margin-left: 260px;
  }
  #custom-active-facets {
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .collection_left_new::-webkit-scrollbar-thumb {
    background: #a6a4a4;
  }
}
/* sticky left filter menu PLP close */

.collection-mobile-middle-banner {
  display: none;
}


@media screen  and (max-width: 767px) {
  .collection-mobile-middle-banner {
    display: block;
  }
  .collection-mobile-middle-banner img {
      display: block;
      width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .template--inara-collection .grid--5-col-desktop .grid__item,
  .template--rumi-collection .grid--5-col-desktop .grid__item,
  .template--alanna-panday-collection .grid--5-col-desktop .grid__item,
  .template--deme-collection .grid--5-col-desktop .grid__item {
    width: calc(25% - 12px);
    max-width: calc(25% - 12px);
  }
}
@media screen and (max-width: 1024px) {
  .template--inara-collection .grid--5-col-desktop .grid__item,
  .template--rumi-collection .grid--5-col-desktop .grid__item,
  .template--alanna-panday-collection .grid--5-col-desktop .grid__item,
  .template--deme-collection .grid--5-col-desktop .grid__item {
    width: calc(33.33% - 12px);
    max-width: calc(33.33% - 12px);
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .template--inara-collection .grid--5-col-desktop .grid__item,
  .template--rumi-collection .grid--5-col-desktop .grid__item,
  .template--alanna-panday-collection .grid--5-col-desktop .grid__item,
  .template--deme-collection .grid--5-col-desktop .grid__item {
    width: calc(50% - 12px);
    max-width: calc(50% - 12px);
  }
}
@media screen and (max-width: 639px) {
  .template--inara-collection .grid--5-col-desktop .grid__item,
  .template--rumi-collection .grid--5-col-desktop .grid__item,
  .template--alanna-panday-collection .grid--5-col-desktop .grid__item,
  .template--deme-collection .grid--5-col-desktop .grid__item {
    width: 100%;
    max-width: 100%;
  }
}