.Page_Store_google_reviews_main_new {
  margin: 40px 0;
}
.Page_Store_google_reviews_title_new {
  margin-bottom: 32px;
}
.Page_Store_google_reviews_title_new h2 {
  font-weight: normal;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .Visit-our-Store-section-innerbox .storebox .textbox h2 {
    font-size: 20px !important;
    line-height: 20px !important;
  }
}
@media (min-width: 750px) and (max-width: 989px) {
  .Page_Store_google_reviews_main_new {
    margin: 40px 0;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Page_Store_google_reviews_main_new {
    margin: 12px 0;
  }
  .Page_Store_google_reviews_main_new .page-width {
    padding: 0 !important;
  }
  .Page_Store_google_reviews_title_new {
    margin-bottom: 8px;
    padding: 0 16px;
  }
}
@media (min-width: 0px) and (max-width: 1024px) {
  .Visit-our-Store-section-innerbox .storebox .textbox h2 {
    font-size: 14px !important;
    line-height: 14px !important;
    margin-bottom: 8px !important;
  }
  .visit-our-Store-slider.Index_custom_category_slider .swiper-button-next,
  .visit-our-Store-slider.Index_custom_category_slider .swiper-button-prev {
    display: block;
    margin: 0 -5px;
    width: 26px;
  }
}

/*--------------- For "Visit-our-Store new design" ------------*/

.about-us_page_new .Visit-our-Store-section {
  max-width: 1080px;
  margin: auto;
}
.about-us_page_new .Visit-our-Store-section .Visit-our-Store-section-innerbox .storebox .textbox .button-box {
  flex-direction: column;
}
.Visit-our-Store-section-innerbox {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.Visit-our-Store-section-innerbox .storebox {
  position: relative;
  padding: 10px;
}
.Visit-our-Store-section-innerbox .w100 {
  width: 100%;
}
.Visit-our-Store-section-innerbox .w50 {
  width: 50%;
}
.Visit-our-Store-section-innerbox .w25 {
  width: 25%;
}
.Visit-our-Store-section-innerbox .w50 img,
.Visit-our-Store-section-innerbox .w25 img {
  max-width: 100%;
  height: 100% !important;
  width: 100%;
  display: block;
  object-fit: cover;
}
.Visit-our-Store-section-innerbox .storebox .textbox {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  margin: 0 10px 10px;
}
.Visit-our-Store-section-innerbox .storebox .textbox h2 {
  color: #ffffff !important;
  line-height: 24px;
  margin: 10px 0 20px;
  padding: 0 6px;
  font-size: 24px;
  font-family: var(--font-noto-serif-display);
  font-weight: normal;
}
.Visit-our-Store-section-innerbox .storebox .textbox .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.Visit-our-Store-section-innerbox .storebox .textbox .button-box a {
  border-radius: 2px;
  padding: 10px;
  line-height: 1;
  width: fit-content;
  display: block;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  min-width: 140px;
  transition: none;
}

.visit-our-Store-slider {
  width: calc(100% - 20px);
}
.visit-our-Store-slider .storebox {
  padding: auto 0;
  margin: 0 -10px -10px;
}
.visit-our-Store-slider .storebox img {
  max-width: 100%;
  height: 100% !important;
  display: block;
}
.visit-our-Store-slider .storebox .textbox {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  margin: 0 10px 10px;
}
.visit-our-Store-slider .storebox .textbox h2 {
  color: #ffffff !important;
  line-height: 1;
  margin: 15px 0;
  font-size: 17px;
}
.visit-our-Store-slider .storebox .textbox .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.visit-our-Store-slider .storebox .textbox .button-box a {
  padding: 10px;
  line-height: 1;
  width: fit-content;
  display: block;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  min-width: 130px;
}
@media screen and (max-width: 1280px) {
  /* .Visit-our-Store-section-innerbox .storebox .textbox{
    width: 90%;
  } */
  .Visit-our-Store-section-innerbox .storebox .textbox .button-box {
    flex-direction: column;
  }
}

/* Collection page middle banner */
.collection-mobile-middle-banner {
  display: none;
}
@media screen and (max-width: 991px) {
  .Visit-our-Store-section-innerbox .storebox {
    min-height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .Visit-our-Store-section-innerbox .storebox {
    min-height: 250px;
  }
  /* .Visit-our-Store-section-innerbox .storebox .textbox{bottom:px; width: 75%;} */
  .Visit-our-Store-section-innerbox .w50 {
    width: 100%;
  }
  .Visit-our-Store-section-innerbox .w25 {
    width: 50%;
  }
  .Visit-our-Store-section-innerbox {
    margin: 7px;
  }
  .Visit-our-Store-section-innerbox .storebox {
    padding: 10px;
  }
  /* .Visit-our-Store-section-innerbox .storebox .textbox{bottom: 20px;} */
  .Visit-our-Store-section-innerbox .storebox .textbox .button-box {
    flex-direction: column;
  }
  .Visit-our-Store-section-innerbox .storebox .textbox .button-box a {
    padding: 10px 5px;
    font-size: 10px;
    min-width: 130px;
  }
  .collection-mobile-middle-banner {
    display: block;
  }
  .collection-mobile-middle-banner img {
    display: block;
    width: 100%;
  }
  .visit-our-Store-slider {
    padding: 0;
  }
  .visit-our-Store-slider .swiper-slide {
    width: calc(50% - 5px);
    height: calc((100% - 0px) / 2) !important;
    margin-top: 5px !important;
  }
  .visit-our-Store-slider.swiper-grid-column > .swiper-wrapper {
    flex-direction: unset;
  }
}