.Page_Store_google_reviews_main_new {
  margin: 40px 0;
}
.Page_Store_google_reviews_title_new {
  margin-bottom: 32px;
}
.Page_Store_google_reviews_title_new h2 {
  font-weight: normal;
}

@media (min-width: 750px) and (max-width: 989px) {
  .Page_Store_google_reviews_main_new {
    margin: 40px 0;
  }
}
@media (min-width: 0px) and (max-width: 749px) {
  .Page_Store_google_reviews_main_new {
    margin: 12px 0;
  }
  .Page_Store_google_reviews_main_new .page-width {
    padding: 0 !important;
  }
  .Page_Store_google_reviews_title_new {
    margin-bottom: 8px;
    padding: 0 16px;
  }
}