.wedding_collection_lists_inner_new{
  margin-top: 20px;
}
.wedding_collection_list_slider{
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
}
.wedding_custom_collections_allloop_mainboxs_new{
  width: calc(25% - 15px);
    position: relative;
}
.wedding_custom_collections_allloop_innerboxs_1_new{
  position: relative;
    z-index: 1;
}
.wedding_custom_collections_allloop_innerboxs_1_videoimageboth_new {
    padding-bottom: 133.335%;
    position: relative;
      border-radius: 8px;
    overflow: hidden;
}
.wedding_custom_collections_allloop_innerboxs_1_videoimage_new img{
      width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
    object-position: top;
}
.wedding_custom_collections_allloop_innerboxs_3_new{
  position: absolute;
    left: 0;
    bottom: 0;
    padding: 37px 15px;
    width: 100%;
    z-index: 3;
}
.wedding_custom_collections_allloop_innerboxs_3_button_new{
  padding-top: 19px;
    text-align: center;
}