.wedding_collection_lists_inner_new{
  margin-top: 20px;
}
.wedding_collection_list_slider{
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
}
.wedding_custom_collections_allloop_mainboxs_new{
  width: calc(25% - 15px);
    position: relative;
}