.wizzy-search-wrapper {
  font-family: var(--font-body-family);
}

/* .wizzy-common-select-options.desktop {
  display: none !important;
} */

.wizzy-grid-filters-box .wizzy-facet-list-item:nth-child(n + 7) {
  display: none !important;
}
.filters-list-top-values-wrapper
  .wizzy-facet-body.facet-body-sizes
  .wizzy-facet-list-item-count {
  display: none;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item.facet-range-item
  .noUi-horizontal
  .noUi-connect {
  background: #000;
}

.filters-list-top-values-wrapper
  .facet-body-sizes
  li.wizzy-facet-list-item.facet-has-swatch:hover {
  background-color: #223330;
  color: white !important;
  text-decoration: none;
}

.filters-list-top-values-wrapper li.wizzy-facet-list-item:hover {
  text-decoration: underline;
}
ul.wizzy-selected-facet-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.wizzy-category-page .breadcrumbs {
  display: none;
}
li.wizzy-selected-facet-list-item {
  margin: unset;
  margin-right: 10px;
  border: 1px solid #e3e3e3;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 13px;
}
span.wizzy-selected-facet-delete:after {
  content: "✕";
  color: #979797;
  margin-left: 3px;
}
.wizzy-search-results-rendered .sticky-addtocart-button {
  display: none;
}
.wizzy-search-empty-results-wrapper .wizzy-empty-results-summary {
  max-width: 80vw;
  overflow: hidden;
}
.wizzy-category-page .wizzy-grid-filters-box {
  display: none;
}
.breadcrumbs__item:not(:last-child):after {
  position: absolute !important;
  right: 8px;
  margin: 0 !important;
  height: 20px;
  top: 0;
  display: block !important;
  line-height: 20px;
  color: #b2adad;
}
.breadcrumbs__item:not(:last-child):after {
  content: "/";
  display: inline-block;
  margin: 0 0.2em;
  position: relative;
  vertical-align: middle;
}
.wizzy-grid-filters-box.facet-block-colors .wizzy-facet-list li {
  padding: unset;
}
.wizzy-search-results-list .wk-floating {
  transform: none !important;
  right: 0% !important;
  left: unset !important;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-results
  .wizzy-search-results-list {
  display: grid;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-results
  .wizzy-search-results-list
  .wizzy-result-product {
  width: 100% !important;
  max-width: unset !important;
}
.wizzy-grid-filters-box {
  grid-column: -1 / 1;
}
.wizzy-grid-resize-icon {
  padding-right: 10px;
}
.wizzy-resize-grid {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 0 16px;
}
/*
/* wishlist-button-collection .wk-button::before {
  content: "";
  position: relative;

  left: 40%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18' fill='none'%3E%3Cpath d='M15.9381 1.06392C13.0745 1.53293 10.9864 4.79519 10.9864 6.84843C10.9864 4.79519 9.29609 1.59547 6.01486 1.06392C3.30038 0.626169 0.625677 2.83575 1.04329 6.29604C1.76914 12.289 8.9978 15.8327 10.9864 17C12.9751 15.8327 19.9949 12.1535 20.9296 6.29604C21.4466 3.06505 19.0503 0.563634 15.9381 1.06392Z' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E") !important;
  top: 15%;
  background-repeat: no-repeat !important;
  transform: translate(-50%, -50%);
  border-radius: var(--button-background-border-radius);
  width: 26px;
  height: 17px;
  /* padding-top: 20px; 
  background: var(--button-background);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18' fill='none'%3E%3Cpath d='M15.9381 1.06392C13.0745 1.53293 10.9864 4.79519 10.9864 6.84843C10.9864 4.79519 9.29609 1.59547 6.01486 1.06392C3.30038 0.626169 0.625677 2.83575 1.04329 6.29604C1.76914 12.289 8.9978 15.8327 10.9864 17C12.9751 15.8327 19.9949 12.1535 20.9296 6.29604C21.4466 3.06505 19.0503 0.563634 15.9381 1.06392Z' fill='red'/%3E%3C/svg%3E");
}
*/
/*
wishlist-button-collection .wk-button.wk-selected::before {
  content: "";
  position: relative;
  left: 40%;
  top: 15%;
  background-repeat: no-repeat !important;
  transform: translate(-50%, -50%);
  border-radius: var(--button-background-border-radius);
  width: 26px;
  height: 17px;
  /* padding-top: 20px; 
  background: var(--button-background);
  border: var(--button-border);
  box-shadow: var(--button-box-shadow);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18' fill='none'%3E%3Cpath d='M15.9381 1.06392C13.0745 1.53293 10.9864 4.79519 10.9864 6.84843C10.9864 4.79519 9.29609 1.59547 6.01486 1.06392C3.30038 0.626169 0.625677 2.83575 1.04329 6.29604C1.76914 12.289 8.9978 15.8327 10.9864 17C12.9751 15.8327 19.9949 12.1535 20.9296 6.29604C21.4466 3.06505 19.0503 0.563634 15.9381 1.06392Z' fill='red'/%3E%3C/svg%3E") !important;
} */

*,
:after,
:before,
input {
  box-sizing: border-box;
}
.wizzy-progress-container .wizzy-progress .wizzy-lds-ellipsis div {
  background: black;
}
.wizzy-search-empty-results-wrapper.mobileTapped {
  z-index: 100;
}
.wizzy-search-filters-top .facet-text-swatch {
  display: none;
}
.wizzy-search-empty-results-wrapper .wizzy-search-wrapper {
  z-index: 100;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-suggestions
  ul.autocomplete-suggestions-list
  li.autocomplete-item-head {
  padding-bottom: 6px;
  color: rgba(var(--color-fore-ground), 0.7);
  font-size: 1rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-transform: uppercase;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}
span.wizzy-autocomplete-label {
  display: inline-block;
  word-wrap: break-word;
  width: calc(100% - 40px);
  position: relative;
  font-size: 1.4rem;
  font-family: inherit;
  text-underline-offset: 0.3rem;
}
.wizzy-grid-filters-box
  .wizzy-facet-list-item-label
  .wizzy-facet-item-swatch.facet-visual-swatch {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #b7b7b7;
  margin-bottom: -3px;
  margin-right: 3px;
}
.wizzy-grid-filters-box .wizzy-facet-list .facet-has-swatch {
  padding: none;

  box-shadow: unset;
}
.wizzy-grid-filters-box .facet-body-colors .wizzy-facet-list-item-checkbox {
  display: none !important;
}
.wizzy-grid-filters-box .wizzy-facet-list-item-label {
  padding: 6px 0;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  margin-bottom: 4px;
  flex-grow: 1;
  position: relative;
  font-size: 1.4rem;
  word-break: break-word;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-top-products
  ul.autocomplete-top-products
  li.topproduct-item
  .topproduct-item-info {
  width: 100%;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-top-products
  ul.autocomplete-top-products
  li.topproduct-item
  .topproduct-item-info
  .topproduct-title {
  padding-top: 0;
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: 0.7px;
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
  -webkit-line-clamp: 2;
  verticle-align: top;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-top-products
  ul.autocomplete-top-products
  li.topproduct-item
  p.topproduct-price
  .topproduct-item-discount {
  color: #cc2936;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-top-products
  ul.autocomplete-top-products
  li.topproduct-item
  p.topproduct-price
  .topproduct-original-price {
  display: inline-block;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-top-products
  ul.autocomplete-top-products
  li.topproduct-item
  a.topproduct-item-link
  p.topproduct-price {
  width: 100%;
  padding-top: 7px;
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: 0;
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-top-products
  ul.autocomplete-top-products
  li.topproduct-item
  .topproduct-item-info {
  padding-left: 0px;
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-suggestions
  ul.autocomplete-suggestions-list
  li.autocomplete-item-head {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
.wizzy-autocomplete-wrapper
  .wizzy-autocomplete-top-products
  p.top-products-title {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  padding-bottom: 6px;
  color: rgba(var(--color-fore-ground), 0.7);
  font-size: 1rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-transform: uppercase;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}
.wizzy-search-summary-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
}
.wizzy-range-for-grid {
  -webkit-appearance: none;
  width: 100%;
  height: 0.15rem;
  background: #000;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}
.wizzy-range-for-grid::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 6px;
  background: #000;
  cursor: pointer;
  border-radius: 0;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-results
  .wizzy-search-results-list {
  margin-bottom: 20px;
}
.wizzy-facet-body.facet-body-colors .facet-item-label-value {
  display: none;
}
.wizzy-facet-body.facet-body-colors .wizzy-facet-list-item-count {
  display: none;
}
.wizzy-search-wrapper
  .wizzy-search-results-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item.active
  .wizzy-facet-list-item-label
  .wizzy-facet-item-swatch-wrapper.facet-visual-swatch {
  border: solid 2px #000;
  border-radius: 50%;
  height: 24px;
  display: block;
  width: 24px;
  padding: 1px;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item
  .wizzy-facet-list-item-label
  .wizzy-facet-item-swatch.facet-visual-swatch {
  width: 18px;
  height: 18px;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body.facet-body-colors
  .wizzy-facet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-filters-top
  .wizzy-selected-filters
  ul.wizzy-selected-facet-list
  li.wizzy-selected-facet-list-item
  .wizzy-facet-item-swatch.facet-text-swatch,
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-results
  .wizzy-search-results-list
  .wizzy-result-product
  .wizzy-result-product-item
  .result-product-item-info
  .product-item-swatch-group
  .product-item-swatch-item
  .wizzy-facet-item-swatch-wrapper
  .wizzy-facet-item-swatch.facet-text-swatch {
  display: none;
}
.wizzy-common-select-options.mobile {
  display: none;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body.facet-body-sizes
  .wizzy-facet-list
  .wizzy-facet-list-item.facet-has-swatch.active
  .wizzy-facet-item-swatch.facet-text-swatch {
  background-color: #000;
  border: solid 1px #000;
}
.wizzy-autocomplete-wrapper.onLeft {
  border-top-left-radius: 0;
  position: fixed;
  max-height: 90vh;
}
.wizzy-search-results-rendered .home-mobile-sticky-bar.hidden {
  display: none !important;
}
@media screen and (min-width: 750px) {
  .wizzy-search-results-list {
    column-gap: var(--grid-desktop-horizontal-spacing) !important;
    row-gap: var(--grid-desktop-vertical-spacing) !important;
  }
}
/* @media (min-width: 990px) and (max-width: 1424px) {
  .wizzy-search-results-list .grid__item {
    width: calc(
      33.34% - var(--grid-desktop-horizontal-spacing) * 3 / 4
    ) !important;
    max-width: calc(
      33.34% - var(--grid-desktop-horizontal-spacing) * 3 / 4
    ) !important;
  }
} */
.applied-filters-header.remove {
  display: none !important;
}
@media screen and (max-width: 769px) {
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-body
    .wizzy-facet-list
    .wizzy-facet-list-item {
    margin-left: 20px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-body
    .wizzy-facet-list {
    max-height: 75vh;
  }
  .wizzy-resize-grid.desktop {
    display: none;
  }
  .wizzy-resize-grid.mobile {
    display: flex;
    width: 100%;
    justify-content: end;
  }
  .wizzy-range-for-grid {
    width: 180px;
  }
  .wizzy-scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .scroll-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    width: 100%;
  }
  .scroll-btn.left {
    border: none;
    padding: 6px 9px;
    cursor: pointer;

    font-size: 15px;
    z-index: 1;
    position: relative;
    left: -7px;
    border-radius: 50%;
  }
  .scroll-btn.right {
    border: none;
    padding: 6px 9px;
    cursor: pointer;
    font-size: 15px;
    z-index: 1;
    position: relative;
    right: -7px;
    border-radius: 50%;
  }
  .with-selected-filters {
    margin-top: 115px !important;
  }
  .applied-filters-header.remove {
    display: none !important;
  }
  .applied-filters-header {
    font-weight: 600;
    margin: 0;
    padding-left: 10px;
  }
  .wizzy-selected-filters {
    position: absolute;
    z-index: 100001;
    top: 50px;
    padding-top: 10px;
    background: #fff;
  }
  li.wizzy-selected-facet-list-item {
    min-width: fit-content;
  }
  ul.wizzy-selected-facet-list {
    flex-wrap: nowrap;
    overflow-x: auto;

    padding: 12px;
    scrollbar-width: thin;
    margin-left: 10px;
    width: 95vw;
  }

  #PBarNextFrameWrapper {
    display: none;
  }
  .wizzy-search-results-rendered .breadcrumbs {
    padding-left: 16px;
  }
  .breadcrumbs__item:not(:last-child):after {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    right: 4px;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-results-container
    .wizzy-search-filters-top
    .search-filters-top-wrapper
    .wizzy-search-sort-wrapper
    .wizzy-sort-container
    .wizzy-common-select-wrapper
    .wizzy-common-select-container
    .wizzy-common-select-options
    .wizzy-common-select-option.selected {
    text-decoration: underline;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-container
    .wizzy-search-results
    .wizzy-search-results-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .wizzy-resize-grid {
    width: 250px;
  }
  .wizzy-common-select-options.desktop {
    display: none !important;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list {
    height: unset;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list
    .wizzy-facet-list-item.facet-has-swatch
    .wizzy-facet-list-item-label
    .wizzy-facet-list-item-checkbox {
    display: none;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list
    .wizzy-facet-list-item
    .wizzy-facet-list-item-label
    .wizzy-facet-item-swatch.facet-visual-swatch {
    width: 20px;
    display: inline-block;
    height: 20px;
    margin: unset;
    border-radius: 50%;

    border: 1px solid #e3e3e3;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list
    .wizzy-facet-list-item.facet-has-swatch.active
    .wizzy-facet-list-item-label {
    padding: 3px;
    margin-bottom: 4px;
    border: 1px solid black;
    border-radius: 50%;
    width: 28px;
    height: 28px;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list
    .wizzy-facet-list-item.facet-has-swatch
    .wizzy-facet-list-item-count,
  .wizzy-search-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list
    .wizzy-facet-list-item.facet-has-swatch
    .wizzy-facet-list-item-label
    .facet-item-label-value {
    display: none;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list
    .wizzy-facet-list-item
    .facet-item-label-value {
    display: none;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-body.facet-body-colors
    .wizzy-facet-list
    .wizzy-facet-list-item.facet-has-swatch {
    display: flex;
    border-bottom: none;
    padding-bottom: 0px;
  }
  .wizzy-autocomplete-wrapper
    .wizzy-autocomplete-top-products
    ul.autocomplete-top-products {
    padding-top: 15px;
  }
  .wizzy-autocomplete-wrapper
    .wizzy-autocomplete-top-products
    ul.autocomplete-top-products
    li.topproduct-item
    .topproduct-item-image {
    width: unset;
  }
  .wizzy-autocomplete-wrapper
    .wizzy-autocomplete-top-products
    ul.autocomplete-top-products
    li.topproduct-item {
    width: 50%;
    padding-bottom: 15px;
    border-bottom: unset;
    padding-right: unset;
  }
  .wizzy-autocomplete-wrapper
    .wizzy-autocomplete-suggestions
    ul.autocomplete-suggestions-list
    li.autocomplete-item
    a.autocomplete-link {
    border-bottom: unset;
    padding: 15px;
    padding-bottom: 7px;
  }
  .wizzy-grid-filters-box {
    background-color: unset !important;
    border-radius: 10px;
    border: 2px solid #223330;
    overflow: auto;
    scrollbar-width: thin;
    border-radius: unset !important;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-results-container
    .wizzy-search-results
    .wizzy-search-results-list
    .wizzy-result-product {
    width: 100%;
    border: none;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay .gradient {
    overflow: hidden !important;
  }
  .wizzy-overlay-opened {
    overflow: hidden !important;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-results-container
    .wizzy-search-filters-top
    .search-filters-top-wrapper
    .wizzy-search-sort-wrapper
    .wizzy-sort-container
    .wizzy-common-select-wrapper
    .wizzy-common-select-container
    .wizzy-common-select-options {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 15px;
    border: none;
  }
  .wizzy-common-select-options.inner
    button.no-js-hidden.button.button--primary {
    width: 95%;
    display: flex;
    align-self: end;
    position: absolute;
    bottom: 15px;
    right: 10px;
    text-align: center;
    color: #172926;
    background: #ffffff;
    border: 2px solid #172926;
  }
  .wizzy-search-wrapper
    .mobile-facets__header-inner
    .mobile-facets__heading.small-hide {
    display: block !important;
    font-family: var(--font-body-family);
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-transform: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-results-container
    .wizzy-search-filters-top
    .search-filters-top-wrapper
    .wizzy-search-sort-wrapper
    .wizzy-sort-container
    .wizzy-common-select-wrapper
    .wizzy-common-select-container
    .wizzy-common-select-overlay {
    background: #ffffff;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-results-container
    .wizzy-search-filters-top
    .search-filters-top-wrapper
    .wizzy-search-sort-wrapper
    .wizzy-sort-container
    .wizzy-common-select-wrapper
    .wizzy-common-select-container
    .wizzy-common-select-options:mobile {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  .mobile-facets__header-inner {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay .wizzy-search-wrapper {
    position: relative;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-common-select-options.mobile {
    display: block !important;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-common-select-options {
    display: block !important;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-common-select-selector {
    display: none !important;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-filters-mobile-entry {
    display: none !important;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-search-wrapper
    .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-body
    .wizzy-facet-list {
    max-height: 90vh;
  }
  .wizzy-search-results-list .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  }
  .wizzy-common-select-label.desktop {
    display: none;
  }
  .wizzy-filters-mobile-entry:before {
    display: none;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-results-container
    .wizzy-search-filters-top
    .search-filters-top-wrapper
    .wizzy-search-sort-wrapper
    .wizzy-sort-container
    .wizzy-common-select-wrapper
    .wizzy-common-select-container
    .wizzy-common-select-selector
    .wizzy-common-select-label:before {
    display: none;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-filters-mobile-entry {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    height: 42px;
    z-index: 100;
    align-items: ;
    position: fixed;
    bottom: 20px;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.7px;
    display: flex !important;
    align-items: center;
    border-radius: 80px;
    border: 1px solid #fff;
    background: #223330;
    box-shadow: none;
    left: 65%;
    width: 30% !important;
    justify-content: center;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px;
    transform: translate(-50%);
    text-transform: uppercase;
    border-left: 1px solid #fff;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-results-container
    .wizzy-search-filters-top
    .search-filters-top-wrapper
    .wizzy-search-sort-wrapper
    .wizzy-sort-container
    .wizzy-common-select-wrapper
    .wizzy-common-select-container
    .wizzy-common-select-selector {
    min-width: auto;
    cursor: pointer;
    height: 42px;
    z-index: 100000;
    align-items: ;
    position: fixed;
    bottom: 20px;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    border-radius: 80px;
    border: 1px solid #fff;
    background: #223330;
    box-shadow: none;
    left: 36%;
    width: 30% !important;
    justify-content: center;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px;
    transform: translate(-50%);
    text-transform: uppercase;
    border-left: 1px solid #fff;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-common-select-selector {
    display: none !important;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-filters-mobile-entry {
    display: none !important;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-mobile-filter-buttons
    .wizzy-filters-close-button {
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    user-select: none;
    border: 2px solid #223330;
    color: #223330;
    min-width: auto;
    margin: 0 !important;
    width: 100%;
    border-radius: 6px;
    min-height: initial;
    padding: 16px 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-mobile-filter-buttons
    .wizzy-filters-close-button-block {
    width: -webkit-fill-available;
    padding-right: 16px;
    padding-bottom: 8px;
    display: block !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-mobile-filter-buttons {
    text-align: center;
    width: 100%;
    margin: 0;
    background: #fff;
    border-top: 0px solid #e1e1e5 !important;
    z-index: 3 !important;
    bottom: 0;
    position: sticky;
    display: flex;
    grid-gap: 16px;
    padding: 0px 16px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-mobile-filter-buttons
    .wizzy-apply-all-button-block {
    width: -webkit-fill-available;

    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-mobile-filter-buttons
    .wizzy-apply-all-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: 0;
    user-select: none;
    width: -webkit-fill-available;
    border-top: 0px solid #e1e1e5 !important;
    border-radius: 6px;
    background: #172926;
    padding: 16px 40px;
    min-width: auto;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 15px 0 !important;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block {
    width: 40.33%;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-body {
    width: 60.66%;
    left: 40.33%;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-mobile-filter-buttons
    .wizzy-mobile-filter-buttons-divider {
    display: none;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left
    .wizzy-search-filters-left-wrapper {
    padding: 0px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-head {
    padding: 20px 0 !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: #000 !important;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left
    .wizzy-filters-facet-block.collapsible
    .wizzy-facet-head
    .facet-head-title {
    margin-left: 10px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-search-filters-left-wrapper
    .wizzy-facet-list-block
    .wizzy-facet-head
    .wz-active-facets {
    margin-right: 15px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-filters-header {
    padding: 10px 12px 10px 10px;
  }
  .wizzy-overlay-opened.wizzy-filters-overlay
    .wizzy-search-wrapper
    .wizzy-search-results-wrapper
    .wizzy-search-filters-left.wizzy-v2
    .wizzy-filters-header
    .header-title {
    display: block !important;
    font-family: var(--font-body-family);
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-transform: none;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left
    .wizzy-filters-header
    .wizzy-filters-clear-all {
    color: #0f3d99;
  }
  .wizzy-overlay-opened.wizzy-common-select-body-overlay
    .wizzy-common-select-options.desktop {
    display: none !important;
  }
  .wizzy-category-page .wizzy-search-results {
    padding: unset !important;
  }
  .wizzy-category-page.wizzy-search-wrapper {
    padding-top: unset !important;
  }
  .wizzy-search-results.wizzy-2-products-in-a-row .wizzy-search-results-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .wizzy-search-results.wizzy-3-products-in-a-row .wizzy-search-results-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .wizzy-search-results.wizzy-4-products-in-a-row .wizzy-search-results-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
/* @media screen and (min-width: 750px) and (max-width: 989px) {
  .wizzy-search-results-list .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
} */

@media screen and (min-width: 769px) {
  .scroll-btn.left {
    display: none;
  }
  .scroll-btn.right {
    display: none;
  }
  .applied-filters-header {
    display: none;
  }
  .wizzy-filters-facet-block.collapsible.collapsed .wizzy-facet-body {
    display: none !important;
  }
  .wizzy-search-wrapper
    .wizzy-search-results-container
    .wizzy-search-results
    .wizzy-search-results-list {
    grid-template-columns: repeat(3, 1fr);
  }
  wizzy-grid-resize-icon {
    padding-top: 5px;
    padding-right: 8px;
  }
  .wizzy-autocomplete-wrapper.onLeft {
    max-width: 1470px;
    margin: 0px 16px;
    width: 100%;
    left: 0px !important;
  }
  .wizzy-autocomplete-wrapper.onLeft .wizzy-autocomplete-top-products {
    max-height: 80vh;
    overflow: auto;
  }
  .wizzy-autocomplete-wrapper
    .wizzy-autocomplete-top-products
    ul.autocomplete-top-products
    li.topproduct-item {
    padding-bottom: 15px;
  }
  .wizzy-autocomplete-wrapper .wizzy-autocomplete-top-products {
    padding: 15px 10px 20px 20px;
  }
  .wizzy-autocomplete-wrapper
    .wizzy-autocomplete-top-products
    ul.autocomplete-top-products
    li.topproduct-item {
    width: 25%;
  }
  .wizzy-grid-filters-box {
    background-color: unset !important;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    border: 2px solid #223330;
    max-height: 140px;
    overflow: auto;
    width: 100%;
    scrollbar-width: thin;
    border-radius: unset !important;
  }
  .wizzy-search-wrapper {
    max-width: 1470px;
    padding: 55px 16px;
  }
  .wizzy-search-wrapper .wizzy-search-filters-left {
    width: 260px;
    padding-right: 60px;
  }
  .wizzy-common-select-container {
    align-items: center;
  }
  .wizzy-common-select-label {
    min-width: 70px;
    text-align: right;
    margin: 0 10px 0 0 !important;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #0f0d1a;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
  }
  .wizzy-common-select-container .wizzy-common-select-selector {
    cursor: pointer;
    min-width: 210px;
    border-radius: 20px;
    border: 1px solid #2e2e33;
    padding: 8px 32px 8px 12px !important;
    font-family: var(--font-body-family);
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    letter-spacing: 0.15px;
    color: #0f0d1a;
    background: #fff;
  }
  .wizzy-common-select-container .wizzy-common-select-selector:after {
    right: -15px;
  }
  .wizzy-common-select-container .wizzy-common-select-options {
    left: 80px;
    width: 70%;
    display: none;
  }
  .wizzy-common-select-label.mobile {
    display: none;
  }
  .wizzy-search-wrapper .wizzy-search-filters-left .wizzy-filters-header {
    border-bottom: none;
    padding-bottom: 0px;
    min-height: unset;
    font-family: var(--font-body-family);
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .wizzy-search-wrapper .wizzy-search-filters-left .header-title,
  .wizzy-search-wrapper .wizzy-search-filters-top .header-title {
    text-transform: unset;
    margin: 0 !important;
    color: #0f0d1a !important;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  .wizzy-search-wrapper .wizzy-search-filters-left .facet-search-wrapper {
    left: -5px;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left
    .facet-search-wrapper
    .facet-head-search {
    margin-top: -8px;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left
    .facet-search-wrapper
    .facet-head-search {
    position: absolute;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left
    .facet-search-wrapper
    .facet-head-search-input {
    top: -8px;
  }
  .wizzy-search-wrapper
    .wizzy-search-filters-left
    .wizzy-filters-facet-block.collapsible
    .wizzy-facet-head {
    background: url(minus_collection.svg) no-repeat right center;
  }
  .wizzy-common-select-options.mobile {
    display: none !important;
  }
  .wizzy-search-results.wizzy-2-products-in-a-row .wizzy-search-results-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .wizzy-search-results.wizzy-3-products-in-a-row .wizzy-search-results-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .wizzy-search-results.wizzy-4-products-in-a-row .wizzy-search-results-list {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  li.wizzy-selected-facet-list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: unset;
    padding-bottom: 5px;
    margin: unset;
    border: none;
  }
  span.facet-item-label-value-id {
    display: block;
    font-weight: 600;
  }
  .wizzy-selected-filters {
    background: #eeeeee;
  }
  .wizzy-filters-selected-facets-block {
    padding: 10px;
  }
  span.wizzy-selected-facet-delete:after {
    font-size: 15px;
    font-weight: 600;
  }
  .wizzy-resize-grid.mobile {
    display: none;
  }
}
.wizzy-facet-range-list-sep {
  display: inline !important;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item,
.wizzy-search-wrapper
  .wizzy-search-filters-top
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item {
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}
.wizzy-facet-list-item.active span.facet-item-label-value:before {
  content: "";
  margin-right: 5px;
  top: 22px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tY2hlY2ttYXJrIGN1c3RvbV9pY29uX25ldyIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2U9IiMwZjNkOTkiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNSAxM2w0IDRMMTkgNyI+PC9wYXRoPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-position: center 3px;
}

.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item
  .wizzy-facet-list-item-label {
  padding: 6px 0;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  margin-bottom: 4px;
  flex-grow: 1;
  position: relative;
  font-size: 1.4rem;
  word-break: break-word;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item
  .wizzy-facet-list-item-checkbox {
  display: none;
}
.wizzy-search-wrapper .wizzy-search-filters-left .wizzy-filters-facet-block,
.wizzy-search-wrapper .wizzy-search-filters-top .wizzy-filters-facet-block {
  margin-right: 0;
  border-top: 0 !important;
  border-bottom: 1px solid #e1e1e5;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-filters-facet-block.collapsible
  .wizzy-facet-head {
  padding-right: 0;
  text-transform: unset;
  min-height: unset;
  padding: 16px 30px 15px 0 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #000 !important;

  background: url(minus_collection.svg) no-repeat right center;
  background-size: 24px;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-filters-facet-block.collapsible.collapsed
  .wizzy-facet-head {
  background: url(plus_collection.svg) no-repeat right center;
  background-size: 24px;
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-filters-facet-block.collapsible.collapsed
  .wizzy-facet-head
  .facet-head-right:after {
  content: "";
}
.wizzy-search-wrapper
  .wizzy-search-filters-left
  .wizzy-filters-facet-block.collapsible
  .wizzy-facet-head
  .facet-head-right:after,
.wizzy-search-wrapper
  .wizzy-search-filters-top
  .wizzy-filters-facet-block.collapsible
  .wizzy-facet-head
  .facet-head-right:after {
  content: "";
}

.wizzy-common-select-container
  .wizzy-common-select-options
  .wizzy-common-select-option:hover {
  background: #1967d2;
  color: white;
}
.wizzy-search-results {
  border-top: none !important;
}
/* .wizzy-search-results-list .wishlist-button-collection .wk-button {
  left: unset;
}
.wizzy-search-results-list wishlist-button-collection .wk-floating {
  transform: none !important;
  right: 0 !important;
  left: unset !important;
} */
.wizzy-search-results-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  --grid-desktop-horizontal-spacing: 20px;
  --grid-desktop-vertical-spacing: 48px;
  --grid-mobile-horizontal-spacing: 8px;
  position: relative;
  z-index: 0;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}
.wizzy-grid-filters-box {
  background-color: var(--wizzy-grid-filter-background);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
}
span.wizzy-facet-list-item-checkbox {
  display: inline-flex;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-filters-top
  .wizzy-filters-facet-block
  .wizzy-facet-head {
  cursor: pointer;
  padding: 5px 8px 5px 10px;
  padding: 6px 20px 4px;
  border-radius: 20px;
  border: 1px solid #2e2e33;
  width: fit-content;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 18px;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-filters-top
  .wizzy-filters-facet-block
  .wizzy-facet-head
  .facet-head-right:after {
  content: "";
  background-image: url('data:image/svg+xml,%3Csvg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1 1L5 5L9 1" stroke="%230F0D1A" stroke-width="1.2" stroke-linecap="round"%3E%3C/path%3E%3C/svg%3E');

  background-repeat: no-repeat;
  margin-right: 0px;
  padding-left: 20px;
  padding-top: -12px;
  top: 12px;
  right: 0px;
  height: 12px;
  position: absolute;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-filters-top
  .wizzy-filters-facet-block
  .wizzy-facet-head
  .facet-head-right {
  margin-left: 10px;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-filters-top
  .wizzy-filters-facet-block
  .wizzy-facet-head.active
  .facet-head-right:after {
  content: "";
  background-image: url('data:image/svg+xml,%3Csvg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1 5L5 1L9 5" stroke="%230F0D1A" stroke-width="1.2" stroke-linecap="round"%3E%3C/path%3E%3C/svg%3E');

  margin-right: 0px;
  padding-left: 20px;
  padding-top: -12px;
  top: 12px;
  right: 0px;
  height: 12px;
  position: absolute;
}
.filters-list-top-values-wrapper .wizzy-facet-body {
  position: absolute;
  z-index: 1;
  background: #fff;
  border: 1px solid #e3e3e3;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px #0000001a;
  border-radius: 8px;
  /* min-width: 100%; */
  width: fit-content;
  background-color: #fff;
  z-index: 2;

  padding: 10px 14px;
  animation: animateMenuOpen var(--duration-default) ease;
}
.wizzy-search-wrapper
  .wizzy-search-filters-top
  .wizzy-facet-body
  .wizzy-facet-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-filters-top
  .filters-list-top-values-wrapper
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item {
  display: inline-block;
  margin-right: 0px;
  display: flex;
  align-items: baseline;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding: 6px 16px;
  border: 1px solid #c5c4cc;
  border-radius: 20px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  color: #662505;
  line-height: normal;
  width: fit-content;
}
.wizzy-search-wrapper
  .wizzy-search-filters-top
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item
  .wizzy-facet-list-item-label {
  width: fit-content;
}
.wizzy-search-wrapper
  .wizzy-search-filters-top
  .wizzy-facet-body
  .wizzy-facet-list
  .wizzy-facet-list-item
  .wizzy-facet-list-item-checkbox {
  display: none;
}
.wizzy-search-wrapper
  .wizzy-search-results-container
  .wizzy-search-filters-top
  .search-filters-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .wizzy-search-summary-container,
  .wizzy-search-wrapper.has-left-facets .wizzy-search-summary-container {
    margin-left: 40%;
  }
  .wizzy-autocomplete-wrapper.onLeft {
    top: 117px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .wizzy-search-wrapper
    .wizzy-search-results-container
    .wizzy-search-filters-top
    .search-filters-top-wrapper {
    display: grid;
    justify-content: unset;
  }
  .wizzy-search-filters-list-top {
    order: 1;
  }
}
@media screen and (min-width: 1570px) {
  .wizzy-autocomplete-wrapper.onLeft {
    left: 100px !important;
  }
}
@media screen and (min-width: 1740px) {
  .wizzy-autocomplete-wrapper.onLeft {
    left: 150px !important;
  }
}
@media screen and (min-width: 1870px) {
  .wizzy-autocomplete-wrapper.onLeft {
    left: 250px !important;
  }
}
.wizzy-grid-filters-box .facet-body-colors .wizzy-facet-list li {
  background-color: #eeeeee;
}
.wizzy-grid-filters-box .wizzy-facet-list-item-label {
  padding: unset;
  padding-top: 2px;
}
.wizzy-grid-filters-box {
  border: none !important;
  background-color: #eeeeee !important;
  border-radius: 15px !important;
}
.wizzy-grid-filters-box
  .wizzy-facet-body.facet-body-colors
  .facet-item-label-value,
.wizzy-grid-filters-box
  .wizzy-facet-body.facet-body-colors
  .wizzy-facet-list-item-count {
  display: block;
}
.wizzy-grid-filters-box
  .wizzy-facet-body.facet-body-colors
  .wizzy-facet-list-item-label {
  display: flex;
  background: #fff;
  border-radius: 40px;
  padding: 7px 3px 2px 10px;

  gap: 5px;
}
.wizzy-grid-filters-box .facet-body-colors .wizzy-facet-list li {
  background: #fff;

  padding-right: 10px;
}
